- form_for [:admin, @ordergroup] do |@form|
  = render :partial => 'shared/group_form'
  
  %div{:style => "float:left;width:55%;"}
    %p
      = @form.label :actual_size, "Aktuelle Gruppengröße"
      %br/
      = @form.text_field :actual_size, :size => 3

  %br{ :style => "clear:both" }
  = submit_tag "Speichern"
  |
  = link_to "Abbrechen", admin_ordergroups_path