= simple_form_for [:admin, @ordergroup] do |f|
  = render :layout => 'shared/group_form_fields', :locals => {:f => f} do
    = f.input :contact_person
    = f.input :contact_phone
    = f.input :contact_address
  = f.submit
  = link_to "oder abbrechen", admin_ordergroups_path