- unless @ordergroup.new_record? || FoodsoftConfig[:disable_invite]
  %p= t('.first_paragraph', url: link_to(t('.here'), new_invite_path(id: @ordergroup.id), remote: true)).html_safe
= simple_form_for [:admin, @ordergroup] do |f|
  - captured = capture do
    = f.input :contact_person
    = f.input :contact_phone
    = f.input :contact_address
    = f.input :break_start, label: Ordergroup.human_attribute_name('break'), as: :date_picker do
      .input-group
        = f.input_field :break_start, as: :date_picker
        .input-group-addon= Ordergroup.human_attribute_name('break_until')
        = f.input_field :break_end, as: :date_picker
    - if FoodsoftConfig[:use_apple_points]
      = f.input :ignore_apple_restriction
  = render 'shared/group_form_fields', f: f, captured: captured
  = simple_form_submit(f)
