- form_for [:admin, @ordergroup] do |@form|
  - render :layout => 'shared/group_form' do
    %div{:style => "float:right;width:40%"}
      %p
        = @form.label :contact_person
        %br/
        = @form.text_field :contact_person, :size => 20
      %p
        = @form.label :contact_phone
        %br/
        = @form.text_field :contact_phone, :size => 20
      %p
        = @form.label :contact_address
        %br/
        = @form.text_field :contact_address

  %br{ :style => "clear:both" }
  = submit_tag "Speichern"
  |
  = link_to "Abbrechen", admin_ordergroups_path