%p
  %table{:style => "width:100%"}
    %tr
      %td
        = pagination_links_remote @ordergroups
      %td{:style => "text-align:right"}
        = items_per_page
%table.list
  %thead
    %tr
      %th Name
      %th Kontakt
      %th Adresse
      %th Mitglieder
      %th
  %tbody
    - for ordergroup in @ordergroups
      %tr{:class => cycle('even','odd', :name => 'groups')}
        %td= link_to ordergroup.name, [:admin, ordergroup]
        %td= ordergroup.contact
        %td= link_to_gmaps ordergroup.contact_address
        %td= ordergroup.users.size
        %td
          = link_to icon(:members), memberships_admin_ordergroup_path(ordergroup)
          = link_to icon(:edit), edit_admin_ordergroup_path(ordergroup)
          = link_to icon(:delete), [:admin, ordergroup], :confirm => "Willst du #{ordergroup.name} wirklich löschen?",
            :method => :delete