- if Ordergroup.count > 20
  = items_per_page
= pagination_links_remote @ordergroups
%table.table.table-striped
  %thead
    %tr
      %th Name
      %th Kontakt
      %th Adresse
      %th Mitglieder
      %th Aktionen
  %tbody
    - for ordergroup in @ordergroups
      %tr{:class => cycle('even','odd', :name => 'groups')}
        %td= link_to ordergroup.name, [:admin, ordergroup]
        %td= ordergroup.contact
        %td= link_to_gmaps ordergroup.contact_address
        %td= ordergroup.users.size
        %td
          = link_to "Bearbeiten", edit_admin_ordergroup_path(ordergroup), class: 'btn btn-mini'
          = link_to "Löschen", [:admin, ordergroup], :confirm => "Willst du #{ordergroup.name} wirklich löschen?",
            :method => :delete, class: 'btn btn-mini btn-danger'