- if Ordergroup.count > 20
  = items_per_page
= pagination_links_remote @ordergroups
%table.table.table-striped
  %thead
    %tr
      %th= t '.name'
      %th= t '.contact'
      %th= t '.address'
      %th= t '.members'
      %th= t '.actions'
  %tbody
    - for ordergroup in @ordergroups
      %tr{:class => cycle('even','odd', :name => 'groups')}
        %td= link_to ordergroup.name, [:admin, ordergroup]
        %td= ordergroup.contact
        %td= link_to_gmaps ordergroup.contact_address
        %td= ordergroup.users.size
        %td
          = link_to t('.edit'), edit_admin_ordergroup_path(ordergroup), class: 'btn btn-mini'
          = link_to t('.delete'), [:admin, ordergroup], :confirm => t('.confirm', name: ordergroup.name),
            :method => :delete, class: 'btn btn-mini btn-danger'