- title t('.title')

%div{:style => "width:40em"}
  %table{:style => "width:25em"}
    %tr
      %td= t '.from'
      %td=h @message.sender_name
    %tr
      %td= t '.subject'
      %td
        %b=h @message.subject
    %tr
      %td= t '.sent_on'
      %td= format_time(@message.created_at)
  %hr/
  %p= simple_format(h(@message.body))
  %hr/
  %p
    = link_to t('.reply'), new_message_path(:message => {:reply_to => @message.id}), class: 'btn'
    |
    = link_to t('.all_messages'), messages_path
