- with_ordergroup = local_assigns[:with_ordergroup]
- with_hidden = local_assigns[:with_hidden]
- with_csv = local_assigns[:with_csv]
- with_grouporder_links = local_assigns[:with_grouporder_links]
- with_payment = @financial_transactions.with_payment_plugin.any?
.pull-right
  - if with_csv
    .btn-group
      = link_to url_for(search: params[:q], format: :csv), class: 'btn' do
        = glyph :download
        CSV
  - if @financial_transactions.total_pages > 1
    .btn-group= items_per_page wrap: false
= pagination_links_remote @financial_transactions
%table.table.table-striped
  %thead
    %tr
      %th= sort_link_helper heading_helper(FinancialTransaction, :created_on), "date"
      - if with_ordergroup
        %th= heading_helper FinancialTransaction, :ordergroup
      %th= heading_helper FinancialTransaction, :user
      - if FinancialTransactionType.has_multiple_types
        %th= heading_helper FinancialTransaction, :financial_transaction_type
      %th= sort_link_helper heading_helper(FinancialTransaction, :note), "note"
      - if with_payment
        %th= heading_helper FinancialTransaction, :payment_amount
        %th= heading_helper FinancialTransaction, :payment_fee
        %th= heading_helper FinancialTransaction, :payment_state
      - FinancialTransactionClass.sorted.each do |c|
        %th
          = sort_link_helper c.display, "amount"
      - if with_hidden
        %th
  %tbody
    - @financial_transactions.each do |ta|
      %tr{class: "#{'deleted_row' if ta.hidden?}"}
        %td
          - if ta.financial_link && current_user.role_finance?
            = link_to format_time(ta.created_on), finance_link_path(ta.financial_link)
          - else
            = format_time(ta.created_on)
        - if with_ordergroup
          %td= h link_to ta.ordergroup_name, finance_group_transactions_path(ta.ordergroup)
        %td= h show_user(ta.user)
        - if FinancialTransactionType.has_multiple_types
          %td= h ta.financial_transaction_type.name
        %td= render "finance/financial_transactions/order_note", financial_transaction:ta, with_grouporder_link: with_grouporder_links
        - if with_payment
          %td= format_currency ta.payment_amount
          %td= format_currency ta.payment_fee
        - else
          %td= ' '
          %td= ' '   
        - if not ta.payment_state.nil?
          %td= format_state "finance.payments.result.#{ta.payment_state}"
        - else
          %td= ' ' 
        - FinancialTransactionClass.sorted.each do |c|
          %td.numeric{style: 'width:5em'}
            - if ta.financial_transaction_type.financial_transaction_class == c
              = format_currency ta.amount
        - if with_hidden
          %td.actions{style: 'width:1em'}
            - unless ta.hidden? || ta.amount.nil?
              = link_to finance_transaction_path(ta), method: :delete,
                data: {confirm: t('.confirm_revert', name: ta.note)}, title: t('.revert_title'),
                class: 'btn btn-danger btn-mini' do
                = glyph :remove
