- if @ordergroup.financial_transactions.count > 20
  = items_per_page
= pagination_links_remote @financial_transactions
%table.table.table-striped
  %thead
    %tr
      %td= sort_link_helper t('.date'), "date"
      %td= t('.who')
      %td= sort_link_helper t('.note'), "note"
      %td= sort_link_helper t('.amount'), "amount"
  %tbody
    - @financial_transactions.each do |t|
      %tr
        %td= format_time(t.created_on)
        %td= h t.user.nil? ? '??' : t.user.nick
        %td= h t.note
        %td.currency{:style => "color:#{t.amount < 0 ? 'red' : 'black'}; width:5em"}= number_to_currency(t.amount)
