- if @ordergroup.financial_transactions.count > 20
  = items_per_page
= pagination_links_remote @financial_transactions
%table.table.table-striped
  %thead
    %tr
      %th= sort_link_helper heading_helper(FinancialTransaction, :created_on), "date"
      %th= heading_helper FinancialTransaction, :user
      %th= sort_link_helper heading_helper(FinancialTransaction, :note), "note"
      %th= sort_link_helper heading_helper(FinancialTransaction, :amount), "amount"
  %tbody
    - @financial_transactions.each do |t|
      %tr
        %td= format_time(t.created_on)
        %td= h show_user(t.user)
        %td= h t.note
        %td.currency{:style => "color:#{t.amount < 0 ? 'red' : 'black'}; width:5em"}= number_to_currency(t.amount)
