- title t('.title', name: @ordergroup.name)

- content_for :actionbar do
  = link_to t('.new_transaction'), new_finance_ordergroup_transaction_path(@ordergroup), class: 'btn btn-primary'

- content_for :sidebar do
  .well.well-small
    = render 'account_info', ordergroup: @ordergroup
.well.well-small
  = form_tag finance_ordergroup_transactions_path(@ordergroup), :method => :get, :remote => true,
    'data-submit-onchange' => true, class: 'form-search' do
    = text_field_tag :query, params[:query], class: 'input-medium search-query',
      placeholder: t('.search_placeholder')


#transactions= render 'transactions'
