- title "Kontoauszug für #{@ordergroup.name}"

- content_for :actionbar do
  = link_to 'Neue Transaktion anlegen', new_finance_ordergroup_transaction_path(@ordergroup), class: 'btn btn-primary'

- content_for :sidebar do
  .well.well-small
    %strong Kontostand: #{number_to_currency(@ordergroup.account_balance)}
    %br/
    %small (zuletzt aktualisiert vor #{distance_of_time_in_words(Time.now, @ordergroup.account_updated)})
.well.well-small
  = form_tag finance_ordergroup_transactions_path(@ordergroup), :method => :get, :remote => true,
    'data-submit-onchange' => true, class: 'form-search' do
    = text_field_tag :query, params[:query], class: 'input-medium search-query',
      placeholder: 'Suchen ...'


#transactions= render 'transactions'