- title "Neue Transaktion"

%p Hier kannst du der Bestellgruppe <b>#{@ordergroup.name}</b> Geld gutschreiben/abziehen.

= simple_form_for @financial_transaction, :url => finance_ordergroup_transactions_path(@ordergroup),
  :validate => true do |f|
  = f.hidden_field :ordergroup_id
  = f.input :amount
  = f.input :note, :as => :text
  .form-actions
    = f.submit class: 'btn btn-primary'
    = link_to "oder abbrechen", finance_ordergroup_transactions_path(@ordergroup)