%tbody{id: "oa_#{order_article.id}"}
  - if not defined?(heading) or heading
    %tr.list-heading
      %th{:colspan => "4"}>
        %h4.name.pull-left
          - article_version = order_article.article_version
          = article_version.name
          %small
            = "#{format_billing_unit_with_ratios(article_version)}, #{number_to_currency(article_version.convert_quantity(article_version.fc_price, article_version.billing_unit, article_version.supplier_order_unit))}"
  - for goa in order_article.group_order_articles.ordered
    = render 'shared/articles_by/article_single_goa', goa: goa
