%table.table.table-condensed.table-hover.list#articles_by_articles
  %thead.list-heading
    %tr
      %th{:style => 'width:70%'}= Ordergroup.model_name.human
      %th.center
        %acronym{:title => t('shared.articles.ordered_desc')}= t 'shared.articles.ordered'
      %th.center
        %acronym{:title => t('shared.articles.received_desc')}= t 'shared.articles.received'
      %th= t 'shared.articles_by.price'

  - for order_article in order.order_articles.ordered.includes(:article_version)
    = render 'shared/articles_by/article_single', order_article: order_article
    %tr
      %td{colspan: 4}
  - if order.transport
    %tbody
      %tr.list-heading
        %th{colspan: 4}>
          %h4.name.pull-left= heading_helper GroupOrder, :transport
    - for go in order.group_orders
      - if go.transport
        %tr
          %td{colspan: 3, style: 'width:70%'}= go.ordergroup_name
          %td= number_to_currency(go.transport)
