%table.table.table-hover.list#articles_by_groups
  %thead.list-heading
    %tr
      %th{:style => "width:40%"}= heading_helper Article, :name
      %th= heading_helper Article, :unit
      %th.center
        %acronym{:title => t('shared.articles.ordered_desc')}= t 'shared.articles.ordered'
      %th.center
        %acronym{:title => t('shared.articles.received_desc')}= t 'shared.articles.received'
      %th.symbol
      %th= heading_helper Article, :fc_price, short: true
      %th.symbol
      %th= t 'shared.articles_by.price'
      %th= #heading_helper Article, :unit_quantity, short: true

  - for group_order in order.group_orders.ordered
    = render 'shared/articles_by/group_single', group_order: group_order, edit: (edit rescue nil)
