- self_service = false unless defined?(self_service)
%tbody{id: "group_order_#{group_order.id}"}
  - if not defined?(heading) or heading
    - unless self_service
      %tr.list-heading
        %th{colspan: 9}
          %h4.name= group_order.ordergroup_name
  - total = 0
  - goas = group_order.group_order_articles.ordered.includes(:order_article)
  - if self_service
    - goas += unassociated_articles_in_abundance.map { |order_article| group_order.new_group_order_article(order_article) }
  - for goa in goas
    - total += goa.total_price
    = render 'shared/articles_by/group_single_goa', goa: goa, self_service: self_service
  %tr.order_sum_row{class: cycle('even', 'odd', :name => 'articles')}
    %th{colspan: 7}= heading_helper GroupOrder, :price
    %th.price_sum{colspan: 2, data: {value: total}}= number_to_currency(total)
  - if group_order.transport
    - total += group_order.transport
    %tr{class: cycle('even', 'odd', :name => 'articles')}
      %td{colspan: 7}= heading_helper GroupOrder, :transport
      %td{colspan: 2}= number_to_currency(group_order.transport)
    %tr{class: cycle('even', 'odd', :name => 'articles')}
      %th{colspan: 7}= heading_helper GroupOrder, :total
      %th.total{colspan: 2, data: {value: total}}= number_to_currency(total)
  %tr
    %th{colspan: 9}
  - reset_cycle("articles")
