%tr{class: [cycle('even', 'odd', :name => 'articles'), if goa.result == 0 then 'unavailable' end], id: "goa_#{goa.id}"}
  - article_version = goa.order_article.article_version
  %td.name= goa.order_article.article_version.name
  %td= format_billing_unit_with_ratios(article_version)
  %td.center= "#{number_with_precision(article_version.convert_quantity(goa.quantity, article_version.group_order_unit, article_version.billing_unit), precision: 3, strip_insignificant_zeros: true)} + #{number_with_precision(article_version.convert_quantity(goa.tolerance, article_version.group_order_unit, article_version.billing_unit), precision: 3, strip_insignificant_zeros: true)}"
  %td.center.input-delta= group_order_article_edit_result(goa)
  %td.symbol &times;
  %td= number_to_currency(article_version.convert_quantity(article_version.fc_price, article_version.billing_unit, article_version.supplier_order_unit))
  %td.symbol =
  %td.price{data: {value: goa.total_price}}= number_to_currency(goa.total_price)
