= simple_form_for @invite, remote: true do |form|
  .modal-header
    = link_to t('ui.marks.close').html_safe, '#', class: 'close', data: {dismiss: 'modal'}
    %h3= t '.title'
  .modal-body
    = t('.body', group: @invite.group.name).html_safe
    = form.hidden_field :user_id
    = form.hidden_field :group_id
    = form.input :email
  .modal-footer
    = link_to t('ui.close'), '#', class: 'btn', data: {dismiss: 'modal'}
    = form.submit class: 'btn btn-primary'
