#modalForm.modal(tabindex="-1" role="dialog")
  = simple_form_for @invite, remote: true do |form|
    .modal-header
      = button_tag "x", class: 'close', data: {dismiss: 'modal'}
      %h3 Person in die Gruppe #{@invite.group.name} einladen
    .modal-body
      = form.hidden_field :user_id
      = form.hidden_field :group_id
      = form.input :email
    .modal-footer
      = button_tag "Schließen", class: 'btn', data: {dismiss: 'modal'}
      = form.submit class: 'btn btn-primary'
