= simple_form_for @invite, remote: true do |form|
  .modal-header
    = link_to 'x', '#', class: 'close', data: {dismiss: 'modal'}
    %h3 Person einladen
  .modal-body
    %p
      Hier kannst du eine Person in die Gruppe
      %b=h @invite.group.name
      einladen, die noch nicht Mitglied der Foodcoop ist.
      %br/
      Die Person ist dann nach erstmaliger Anmeldung automatisch Mitglied dieser Gruppe.
    = form.hidden_field :user_id
    = form.hidden_field :group_id
    = form.input :email
  .modal-footer
    = link_to 'Schließen', '#', class: 'btn', data: {dismiss: 'modal'}
    = form.submit class: 'btn btn-primary'
