- unless @messages.empty?
  - form_tag :action => 'destroy' do
    %table.list
      %thead
        %tr
          %th
            %input{:type => 'checkbox', :name => 'checkall', :id => 'checkall', :onclick => 'checkUncheckAll(this)'}
          %th Betreff
          %th Absender
          %th Datum
          %th
      %tbody
        - for message in @messages
          - style = message.read? ? '' : 'font-weight:bold'
          %tr{:class => cycle('even','odd', :name => 'inbox'), :style => style, :id => message.id, :onclick => "checkRow('#{message.id}')"}
            %td
              %input{:type => 'checkbox', :name => 'ids[]', :id => "checkbox_#{message.id}", :value => message.id, :onclick => "checkRow('#{message.id}')"}
            %td= link_to(h(message.subject), {:controller => 'messages', :action => 'show', :id => message})
            %td= message.sender ? h(message.sender.nick) : 'FoodSoft'
            %td= format_time(message.created_on)
            %td
              = link_to(image_tag('b_drop.png', :size => "16x16", :border => 0, :alt => 'löschen'), {:controller => 'messages', :action => 'destroy', :id => message}, :method => "post")
              = link_to('Antworten', :controller => 'messages', :action => 'reply', :id => message) unless message.system_message?
        %tr
          %td{:colspan => 5}= submit_tag 'Löschen'
            