- content_for :javascript do
  :javascript
    $(function() {
      $('#nick').focus();
    });

- title "FoodSoft login"

%noscript
  .alert.alert-error
    Achtung, Cookies und Javascript müssen aktiviert sein!
    = link_to "NoScript", "http://noscript.net/"
    bitte abschalten.

= form_tag sessions_path, class: 'form-horizontal' do
  .control-group
    %label(for='nick' class='control-label') Benutzerin
    .controls
      = text_field_tag 'nick'

  .control-group
    %label(for='password' class='control-label') Passwort
    .controls
      = password_field_tag 'password'

  .control-group
    .controls
      = submit_tag "Anmelden", class: 'btn'
      = link_to "Passwort vergessen?", forgot_password_path