- content_for :javascript do
  :javascript
    $(function() {
      $('#nick').focus();
    });

- title t('.title')

%noscript
  .alert.alert-danger
    != t '.nojs', link: link_to(t('.noscript'), "http://noscript.net/")

- if defined?(FoodsoftWiki) && (page = Page.public_front_page)
  = wikified_body page.body, page.title

= form_tag sessions_path, class: 'form-horizontal' do
  .form-group
    %label.col-sm-3.control-label(for='nick')
      = User.human_attribute_name (FoodsoftConfig[:use_nick] ? :user : :email)
    .col-sm-6
      = text_field_tag 'nick', nil, autocapitalize: 'off', autocorrect: 'off', class: 'form-control'

  .form-group
    %label.col-sm-3.control-label(for='password')
      = User.human_attribute_name :password
    .col-sm-6
      = password_field_tag 'password', nil, autocapitalize: 'off', autocorrect: 'off', class: 'form-control'

  .form-group
    .col-sm-offset-3.col-sm-6
      = submit_tag t('.login'), class: 'btn btn-primary'
      = link_to t('.forgot_password'), forgot_password_path
