%p
  Gefunden:
  = @total
%p
  %table{:style => "width:100%"}
    %tr
      %td
        = pagination_links_remote @groups, :update => :ordergroups, :params => {:sort => params[:sort]}
      %td{:style => "text-align:right"}
        - if @total > 20
          = items_per_page :update => :ordergroups
%table.list
  %thead
    %tr
      %th= sort_link_helper "Name", "name", @per_page
      %th Kontakt
      %th= sort_link_helper "Kontostand", "account_balance", @per_page
      %th
  %tbody
    - for group in @groups
      %tr{:class => cycle('even','odd', :name => 'groups')}
        %td= group.name
        %td= group.contact
        %td{:class => "currency", :style => "width:5em"}= number_to_currency(group.account_balance)
        %td{:class => "actions"}
          = link_to image_tag("euro_new.png", :size => "16x16", :alt => "Neue Transaktion", :border => "0"), {:action => 'new', :id => group}, {:title => "Neue Transaktion"}
          = link_to image_tag("b_browse.png", :size => "16x16", :border => "0", :alt => 'Kontoauszug'), {:action => 'list', :id => group}, {:title => "Kontoauszug"}
        