- title "Konten verwalten"
%p
  %i
    Um mehrer Transaktionen auf einmal anzulegen folge bitte diesem
    = link_to _("Link"), :action => 'new_collection'

.left_column{:style=>"width:50em"}
  .box_title
    %h2 Bestellgruppen
  .column_content
    #group_filter
      %form{:name=>"sform", :action=>"", :style=>"display:inline;"}
        Suchen im Namen:
        = text_field_tag("query", params['query'], :size => 10 )
        
      = observe_field 'query',  :frequency => 2, |
        :before => "Element.show('loader')", |
        :success => "Element.hide('loader')", |
        :url => {:action => 'index'}, |
        :with => 'query', |
        :update => 'ordergroups' |
    #ordergroups
      = render :partial => "ordergroups"
    %br/
    - if @current_user.role_admin?
      = link_to "Neue Bestellgruppe anlegen", new_admin_ordergroup_path