%h1 Manage accounts
%p
  %i
    =_ "To create multiple transactions at once please follow this "
    = link_to _("link"), :action => 'new_collection'

.left_column{:style=>"width:50em"}
  .box_title
    %h2=_ "Ordergroups"
  .column_content
    #group_filter
      %form{:name=>"sform", :action=>"", :style=>"display:inline;"}
        %label{:for => 'article_name'}= _("Search in name") + ":"
        = text_field_tag("query", params['query'], :size => 10 )
        
      = observe_field 'query',  :frequency => 2, |
        :before => "Element.show('loader')", |
        :success => "Element.hide('loader')", |
        :url => {:action => 'index'}, |
        :with => 'query', |
        :update => 'ordergroups' |
    #ordergroups
      = render :partial => "ordergroups"
    %br/
    - if @current_user.role_admin?
      = link_to _("New ordergroup"), :controller => 'admin', :action => 'newOrdergroup'