- title _("Update multiple accounts")

- form_tag :action => "create_collection" do
  %p
    %b= _("Note") + ":"
    = text_field_tag "note"
  %p
    %table#Ordergroups{:style => "width:20em"}
      %tr
        %th=_ "Ordergroup"
        %th=_ "Amount"
      = render :partial => 'ordergroup', :collection => [1, 2, 3]
  
  %p
    = link_to_function _("Add another ordergroup") do |page|
      - page.insert_html :bottom, :Ordergroups, :partial => 'ordergroup'
  %p
    = submit_tag _("Save")
    |
    = link_to _("Cancel"), :controller => 'finance/transactions'