= simple_form_for [:admin, @financial_transaction_class], :validate => true, :remote => true do |f|
  .modal-header
    = close_button :modal
    %h3= @financial_transaction_class.new_record? ? t('.title_new') : t('.title_edit')
  .modal-body
    = f.input :name
    = f.input :ignore_for_account_balance
  .modal-footer
    = link_to t('ui.close'), '#', class: 'btn', data: {dismiss: 'modal'}
    = f.submit class: 'btn btn-primary'
