- simple_form_for stock_article, :validate => true do |f|
  = f.association :supplier
  = f.input :name
  = f.input :unit
  = f.input :note

  - if stock_article.new_record?
    = f.input :price
    = f.input :tax
    = f.input :deposit
  - else
    = f.input :price, :input_html => {:disabled => 'disabled'},
    :hint => "Um Chaos zu vermeiden können bis auf weiteres die Preise von angelegten Lagerartikeln nicht mehr verändert werden."
  = f.association :article_category
  = f.submit
  = link_to "oder abbrechen", stock_articles_path