= simple_form_for stock_article, :validate => true do |f|
  = f.association :supplier
  = f.input :name
  = f.input :unit
  = f.input :note

  - if stock_article.new_record?
    = f.input :price
    = f.input :tax, :wrapper => :append do
      = f.input_field :tax
      %span.add-on %
    = f.input :deposit
  - else
    = f.input :price, :input_html => {:disabled => 'disabled'}, :hint => t('.form.price_hint')
  = f.association :article_category
  .form-actions
    = f.submit class: 'btn'
    = link_to t('ui.or_cancel'), stock_articles_path
