= simple_form_for stock_article, remote: true, :validate => true do |f|
  .modal-header
    = close_button :modal
    %h3= title
  .modal-body
    = f.association :supplier
    = f.input :name
    = f.input :unit
    = f.input :note
    - if stock_article.new_record?
      .fold-line
        = f.input :price do
          .input-prepend
            %span.add-on= t 'number.currency.format.unit'
            = f.input_field :price, class: 'input-mini'
        = f.input :tax, :wrapper => :append do
          = f.input_field :tax, class: 'input-mini'
          %span.add-on %
      = f.input :deposit do
        .input-prepend
          %span.add-on= t 'number.currency.format.unit'
          = f.input_field :deposit, class: 'input-mini'
    - else
      = f.input :price, :input_html => {:disabled => 'disabled'}, :hint => stock_article_price_hint(stock_article).html_safe
    = f.association :article_category
  .modal-footer
    = link_to t('ui.close'), '#', class: 'btn', data: {dismiss: 'modal'}
    = f.submit :class => 'btn btn-primary', 'data-disable-with' => t('ui.please_wait')
