- title "Lager (#{StockArticle.available.count})"
- content_for :javascript do
  :javascript
    $(function() {
      $('tr.unavailable').hide();
    })

.well.well-small
  .btn-toolbar
    .btn-group.pull-right
      = link_to '#', data: {toggle: 'dropdown'}, class: 'btn dropdown-toggle' do
        Ansichtsoptionen
        %span.caret
      %ul.dropdown-menu
        %li= link_to "Nicht verfügbare Artikel zeigen/verstecken", "#", 'data-toggle-this' => 'tr.unavailable', tabindex: -1

    .btn-group
      = link_to_if @current_user.role_orders?, "Lagerbestellung online stellen", new_order_path(supplier_id: 0),
        class: 'btn', class: 'btn btn-primary'
      = link_to "Neuen Lagerartikel anlegen", new_stock_article_path, class: 'btn'
      = link_to "Inventur anlegen", new_stock_taking_path, class: 'btn'
      = link_to "Inventurübersicht", stock_takings_path, class: 'btn'

    .btn-group
      = link_to '#', data: {toggle: 'dropdown'}, class: 'btn dropdown-toggle' do
        Neue Lieferung ..
        %span.caret
      %ul.dropdown-menu
        - Supplier.all.each do |supplier|
          %li= link_to supplier.name, new_supplier_delivery_path(supplier), tabindex: -1

%table.table.table-hover#articles
  %thead
    %tr
      %th Artikel
      %th im Lager
      %th davon bestellt
      %th verfügbar
      %th Einheit
      %th Preis
      %th MwSt
      %th Lieferantin
      %th Kategorie
      %th
  %tbody
    - for article in @stock_articles
      %tr{:class => stock_article_classes(article), :id => "stockArticle-#{article.id}"}
        %td=h article.name
        %td= article.quantity
        %td= article.quantity - article.quantity_available
        %th= article.quantity_available
        %td= article.unit
        %td= article.price
        %td= number_to_percentage article.tax
        %td= link_to article.supplier.name, article.supplier
        %td= article.article_category.name
        %td
          = link_to "Bearbeiten", edit_stock_article_path(article), class: 'btn btn-mini'
          = link_to "Löschen", article, :method => :delete, :confirm => "Bist Du sicher?",
            class: 'btn btn-mini btn-danger', :remote => true

%p
  Aktueller Lagerwert:
  = number_to_currency StockArticle.stock_value
  |
  Artikelanzahl:
  = StockArticle.available.count

