- title "Lagerübersicht"

%p
  - form_tag do
    Neue Lieferung anlegen für:
    = select_tag :new_delivery, |
      options_for_select([" -- Lieferantin wählen --", ""] + |
        Supplier.find(:all).collect {|s| [ s.name, url_for(new_supplier_delivery_path(s))] }), |
      :onchange => "redirectTo(this)", :style => "font-size: 0.9em;margin-left:1em;" |
%p
  = link_to "Lagerbestellung online stellen", new_order_path(:supplier_id => 0)
%p
  %table.list
    %thead
      %tr
        %th Artikel
        %th im Lager
        %th davon bestellt
        %th Einheit
        %th Preis
        %th Lieferant
        %th Kategorie
    %tbody
      - for article in @articles
        %tr{:class => cycle("even", "odd")}
          %td=h article.name
          %td= article.quantity
          %td= article.quantity - article.quantity_available
          %td= article.unit
          %td= article.price
          %td= link_to article.supplier.name, article.supplier
          %td= article.article_category.name
