- if Task.done.count > 20
  = items_per_page
= pagination_links_remote @tasks

%table.table.table-striped
  %thead
    %tr
      %th= t '.due_date'
      %th= t '.task'
      %th= t '.who'
      %th
  %tbody
    - @tasks.each do |task|
      %tr
        %td= task.due_date unless task.due_date.nil?
        %td= link_to t('.task_format', name: task.name, duration: task.duration), :controller => "tasks", :action => "show", :id => task
        %td= task_assignments task
