- content_for :javascript do
  :javascript
    $(function() {
      $("#task_user_list").select2_remote({
        remote_url: '#{users_path(:format => :json)}',
        remote_init: #{search_data(@task.users, proc {|u| u.nick_with_ordergroup})[:results].to_json },
      });
    });

- content_for :sidebar do
  = render "shared/workgroup_members"

= simple_form_for @task do |f|
  = f.hidden_field :current_user_id
  = f.input :name
  = f.input :description, as: :text, input_html: {rows: 10}
  = f.input :duration, :as => :select, :collection => 1..3
  = f.input :user_list, :as => :string
  = f.input :required_users
  = f.association :workgroup
  = f.input :due_date, as: :date_picker
  = f.input :done
  .form-actions
    = f.submit class: 'btn btn-primary'
    - if @task.new_record?
      = f.submit t('.submit.periodic'), name: 'periodic', class: 'btn'
    = link_to t('ui.or_cancel'), :back
