= simple_form_for @task do |f|
  = f.input :name
  = f.input :description
  = f.input :duration, :as => :select, :collection => 1..3
  = f.input :user_list, :as => :string
  = f.input :required_users
  = f.association :workgroup
  = f.input :due_date, :include_blank => true
  = f.submit