- content_for :head do
  :javascript
    $(function() {
      $("#task_user_list").tokenInput("#{users_path(:format => :json)}", {
        crossDomain: false,
        prePopulate: $("#task_user_list").data("pre"),
        hintText: 'Nach Nutzerin suchen',
        noResultText: 'Keine Nutzerin gefunden',
        searchingText: 'Suche ...'
      });
    });

= simple_form_for @task do |f|
  = f.input :name
  = f.input :description, as: :text, input_html: {rows: 10}
  = f.input :duration, :as => :select, :collection => 1..3
  = f.input :user_list, :as => :string, :input_html => { 'data-pre' => @task.users.map { |u| u.token_attributes }.to_json }
  = f.input :required_users
  = f.association :workgroup
  = f.input :due_date, :include_blank => true
  = f.submit