%table				
  %tr
    %th Fälligkeit
    %th Betreff
    %th{:colspan => '2'}
      Wer machts?
      %small (Wie viele werden noch benötigt?)
  - for task in @tasks
    - done = task.done ? " done" : ""
    %tr{:class => cycle('even','odd', :name => "tasks") + done }
      %td= format_date(task.due_date) unless task.due_date.nil?
      %td= link_to "#{task.name} (#{task.duration}h)", task_path(task)
      %td
        - unless task.users.empty?
          - owner = Array.new
          - task.assignments.each do |ass| 
            - if ass.accepted? 
              - nick = "<span class='accepted'>#{ass.user.nick.to_s}</span>"
            - else
              - nick = "<span class='unaccepted'>#{ass.user.nick.to_s} ?</span>"
            - owner << nick
          = owner.join(", ")
        = highlighted_required_users task
      %td
        - unless task.is_accepted?(@current_user)
          %span{:style => "float:left"}= button_to "Aufgabe übernehmen", :controller => "tasks", :action => "accept", :id => task
          = button_to "Aufgabe ablehnen", :controller => "tasks", :action => "reject", :id => task if task.is_assigned?(@current_user)
        - else
          - form_for :task, :url => {:action => "update_status", :id => task} do |f|
            Erledigt?
            = f.check_box :done, {:onchange => "submit()", :title => "Die Aufgabe wandert in das Archiv"}
        = "Erledigt" if task.done
  - reset_cycle("tasks")