- content_for :actionbar do
  = link_to t('.new_task'), new_task_path, class: 'btn btn-primary'

- content_for :sidebar do
  .well.well-small
    %ul.nav.nav-list
      %li.nav-header Seiten
      %li= link_to t('.my_tasks'), user_tasks_path
      %li= link_to t('.all_tasks'), tasks_path
      %li= link_to t('.archive'), archive_tasks_path
      %li.nav-header= t '.group_tasks'
      - for group in Workgroup.all
        %li= link_to group.name, workgroup_tasks_path(workgroup_id: group.id)
