#start_nav{:style => "float:right"}
  %h2 Aufgabenmenü
  %ul
    %li
      Aktionen
      %ul
        %li= link_to "Neue Aufgabe erstellen", :action => "new"
    %li 
      Seiten
      %ul
        %li= link_to "Meine Aufgaben", my_tasks_path
        %li= link_to "Alle Aufgaben", :action => "index"
        %li= link_to "Erledigt Aufgaben (Archiv)", :action => "archive"

    %li
      Gruppenaufgaben
      %ul
        - for group in Workgroup.all
          %li= link_to group.name, :action => "workgroup", :id => group