- title "Aufgabenarchiv"
= render :partial => "nav"

= will_paginate @orders
%br/
%table{:style => "width: 76%"}
  %tr
    %th Fälligkeitsdatum
    %th Betreff
    %th Verantwortliche Menschen
    %th 
  - for task in @tasks
    %tr{:class => cycle('even','odd')}
      %td= task.due_date unless task.due_date.nil?
      %td= link_to "#{task.name} (#{task.duration}h)", :controller => "tasks", :action => "show", :id => task
      %td 
        - unless task.users.empty?
          = task.users.map(&:nick).join(", ")
%p
  = link_to_top