- title _('Task archive')
= render :partial => "nav"

%table{:style => "width: 76%"}
  %tr
    %th=_ 'Due date'
    %th=_ 'Subject'
    %th=_ 'Responsible people'
    %th 
  - for task in @tasks
    %tr{:class => cycle('even','odd')}
      %td= task.due_date unless task.due_date.nil?
      %td= link_to task.name, :controller => "tasks", :action => "show", :id => task
      %td 
        - unless task.users.empty?
          = task.users.map(&:nick).join(", ")
%p
  = link_to_top