- title @periodic ? t('.title_periodic') : t('.title')

- if @task.periodic? && !@periodic
  .alert.alert-info= raw t('tasks.edit.warning_periodic')

= render 'form_sidebar'

= simple_form_for @task do |form|
  = render 'form', form: form, periodic: @periodic
  - if @periodic
    = simple_form_submit(form, t('.submit_periodic'), name: 'periodic')
  - else
    = simple_form_submit(form)
