- title "Aufgaben"
- content_for :sidebar do
  = render 'nav'

- unless @non_group_tasks.empty?
  %section
    %h3 Aufgaben für alle!
    = render 'list', tasks: @non_group_tasks


- for group in @groups
  - tasks = group.open_tasks
  - unless tasks.empty?
    %section
      %h3
        = group.name
        %small= link_to "Gruppenaufgaben anzeigen", workgroup_tasks_path(group)
      = render 'list', tasks: tasks
      = link_to_top