- title _('Task in detail')
= render :partial => "nav"

#task{:style => 'width:70%'}
  %table
    %tr
      %td{:style => "width: 10em"}= _'Name'
      %td
        %b= @task.name
    %tr
      %td{:style => "vertical-align:top;"}=_ 'Description'
      %td= simple_format(@task.description)
    %tr
      %td=_ 'Due date'
      %td= format_date(@task.due_date)
    %tr
      %td=_ 'Responsible people'
      %td= render :partial => "assignments"
    %tr
      %td=_ 'Group'
      %td
        - if @task.group
          = link_to @task.group.name, :action => "workgroup", :id => @task.group
          
    %tr
      %td{:colspan => "2"} 
        %div{:style => "float:left"}=_ 'Done'
        - form_for :task, :url => {:action => "update_status", :id => @task} do |f|
          = f.check_box :done, {:onchange => "submit()"}
         
    
  %p
    = link_to _('Edit'), :action => "edit", :id => @task
    | 
    = link_to _('Delete'), {:action => "destroy", :id => @task}, :method => "post", :confirm => _('Delete the task?')
