- title "Aufgabe anzeigen"
= render 'nav'

%section
  %dl.dl-horizontal
    %dt Name
    %dd= @task.name
    - if @task.description.present?
      %dt Beschreibung
      %dd= simple_format(@task.description)
    - if @task.due_date.present?
      %dt Fälligkeitsdatum
      %dd= format_date(@task.due_date)
    %dt Dauer in Stunden
    %dd= @task.duration
    %dt Verantwortliche Menschen
    %dd= task_assignments(@task)
    %dt Arbeitsgruppe
    %dd
      - if @task.workgroup
        = link_to @task.workgroup.name, workgroup_tasks_path(workgroup_id: @task.workgroup_id)
%p
  - if !@task.is_accepted?(current_user)
    = link_to "Aufgabe übernehmen", accept_task_path(@task), method: :post, class: 'btn btn-success'
    - if @task.is_assigned?(current_user)
      = link_to "Aufgabe ablehnen", reject_task_path(@task), method: :post, class: 'btn'
  - unless @task.done?
    = link_to 'Als erledigt markieren', set_done_task_path(@task), method: :post, class: 'btn'
  = link_to "Bearbeiten", edit_task_path(@task), class: 'btn'
  = link_to "Löschen", task_path(@task), :method => :delete, :confirm => "Die Aufgabe wirklich löschen?",
    class: 'btn btn-danger'
