- title "Aufgabe im Detail"
= render :partial => "nav"

#task{:style => 'width:70%'}
  %table
    %tr
      %td{:style => "width: 10em"} Name
      %td
        %b= @task.name
    %tr
      %td{:style => "vertical-align:top;"} Beschreibung
      %td= simple_format(@task.description)
    %tr
      %td Fälligkeitsdatum
      %td= format_date(@task.due_date)
    %tr
      %td Verantwortliche Menschen
      %td= render :partial => "assignments"
    %tr
      %td Arbeitsgruppe
      %td
        - if @task.workgroup
          = link_to @task.workgroup.name, :action => "workgroup", :id => @task.workgroup
          
    %tr
      %td{:colspan => "2"} 
        %div{:style => "float:left"} Als erledigt markieren
        - form_for :task, :url => {:action => "update_status", :id => @task} do |f|
          = f.check_box :done, {:onchange => "submit()", :title => "Die Aufgabe wandert in das Archiv"}
         
    
  %p
    = link_to "Bearbeiten", edit_task_path(@task)
    | 
    = link_to "Löschen", task_path(@task), :method => :delete, :confirm => "Die Aufgabe wirklich löschen?"
