- title "Aufgabe anzeigen"
- content_for :sidebar do
  = render 'nav'

%section
  %dl.dl-horizontal
    %dt Name
    %dd= @task.name
    %dt Beschreibung
    %dd= simple_format(@task.description)
    %dt Fälligkeitsdatum
    %dd= format_date(@task.due_date)
    %dt Dauer in Stunden
    %dd= @task.duration
    %dt Verantwortliche Menschen
    %dd= task_assignments(@task)
    %dt Arbeitsgruppe
    %dd
      - if @task.workgroup
        = link_to @task.workgroup.name, workgroup_tasks_path(workgroup_id: @task.workgroup_id)
%p
  - unless @task.done?
    = link_to 'Als erledigt markieren', set_done_task_path(@task), method: :post, class: 'btn'
  = link_to "Bearbeiten", edit_task_path(@task), class: 'btn'
  = link_to "Löschen", task_path(@task), :method => :delete, :confirm => "Die Aufgabe wirklich löschen?",
    class: 'btn btn-danger'
