- title "Meine Aufgaben"
- content_for :sidebar do
  = render 'nav'

- unless @unaccepted_tasks.empty?
  %section
    %h3 Offene Aufgaben
    = render 'list', tasks: @unaccepted_tasks

%section
  %h3 Anstehende Aufgaben
  - unless @accepted_tasks.empty?
    = render 'list', tasks: @accepted_tasks
  - else
    Nichts zu tun?
    = link_to "Hier", tasks_path
    gibt es bestimmt Arbeit.
  %br/
  = link_to_top

