= simple_form_for [:finance, @order, @order_article], remote: true do |form|
  .modal-header
    = link_to 'x', '#', class: 'close', data: {dismiss: 'modal'}
    %h3 Neuer gelieferter Artikel die Bestellung
  .modal-body
    = form.input :article_id, as: :select, collection: new_order_articles_collection
  .modal-footer
    = link_to 'Schließen', '#', class: 'btn', data: {dismiss: 'modal'}
    = form.submit class: 'btn btn-primary'