- if @supplier.articles.count > 20
  = items_per_page
= pagination_links_remote @articles

%table#articles_table.table.table-hover
  %thead
    %tr
      %th
      %th= sort_link_helper heading_helper(Article, :name), "name"
      %th
      %th= sort_link_helper heading_helper(Article, :article_category), "article_category"
      %th= sort_link_helper heading_helper(Article, :unit), "unit"
      %th= sort_link_helper heading_helper(Article, :note), "note"
      %th{:style => "width: 4em;"}= heading_helper Article, :unit_quantity, short: true
      %th{:style => "width: 5em;"}= heading_helper Article, :price
      %th{:style => "width: 3.5em;"}= heading_helper Article, :tax
      %th{:style => "width: 4em;"}= heading_helper Article, :deposit
      %th{:style => "width: 3em;"}
      
  %tbody#listbody
    
    - unless @articles.empty?
      - for article in @articles
        = render(article)
      %tfoot
        %tr
          %td{:colspan => '11'}
            = check_box_tag :checkall, 1, false, 'data-check-all' => '#articlesInListForm', 'data-ignore-onchange' => true
            %select{:name => "selected_action", 'data-submit-onchange' => true}
              %option{:value => '', :selected => 'selected'}= t '.option_select'
              %option{:value => "destroy", :data => {:confirm  => t('.confirm_delete')}}= t '.option_delete'
              %option{:value => "setNotAvailable"}= t '.option_not_available'
              %option{:value => "setAvailable"}= t '.option_available'
            = hidden_field_tag 'supplier_id', @supplier.id

= pagination_links_remote @articles
