%tr{class: row_classes(article)}[article]
  %td= check_box_tag 'selected_articles[]', article.id.to_s, false, {:id => "checkbox_#{article.id}", 'data-ignore-onchange' => true}
  %td{'data-check-this' => "#checkbox_#{article.id}", :class => 'click-me'}= article.name
  %td= article.origin
  %td= truncate(article.article_category.name, :length => 11) if article.article_category
  %td= article.unit
  %td= truncate(article.note, :length => 11)
  %td= article.unit_quantity
  %td{:class => "currency"}
    %acronym{:title => t('.last_update', last_update: format_date(article.updated_at), gross_price: number_to_currency(article.gross_price))}
      = number_to_currency(article.price)
  %td= number_to_percentage(article.tax) if article.tax != 0
  %td= number_to_currency(article.deposit) if article.deposit != 0
  %td= link_to t('ui.edit'), edit_supplier_article_path(@supplier, article),
      :remote => true, class: 'btn btn-mini'
  %td= link_to t('ui.delete'), [@supplier, article],
      :method => :delete, :data => {:confirm => t('.confirm_delete')}, :remote => true, class: 'btn btn-mini btn-danger'
