%table.table
  %thead
    %tr
      %th= heading_helper Article, :availability, short: true
      %th= heading_helper Article, :name
      %th= heading_helper Article, :unit
      %th= heading_helper Article, :price, short: true
      %th= heading_helper Article, :unit_quantity, short: true
      %th= heading_helper Article, :order_number, short: true
      %th= heading_helper Article, :note
      %th= heading_helper Article, :article_category
      %th= heading_helper Article, :tax
      %th= heading_helper Article, :deposit
  %tbody
    - @articles.each_with_index do |article, index|
      = fields_for "articles[#{article.id || index}]", article do |form|
        %tr
          %td
            = yield form # allow to add hidden fields to form
            = form.check_box 'availability'
          %td= form.text_field 'name', class: 'input-medium'
          %td= form.text_field 'unit', class: 'input-mini'
          %td
            .input-prepend
              %span.add-on= t 'number.currency.format.unit'
              = form.text_field 'price', class: 'input-mini'
          %td= form.text_field 'unit_quantity', class: 'input-mini'
          %td= form.text_field 'order_number', class: 'input-mini'
          %td= form.text_field 'note', class: 'input-medium'
          %td= form.collection_select 'article_category_id', ArticleCategory.all,
            :id, :name, { :include_blank => true }, class: 'input-small'
          %td.input-append
            = form.text_field 'tax', class: 'input-mini'
            %span.add-on %
          %td
            .input-prepend
              %span.add-on= t 'number.currency.format.unit'
              = form.text_field 'deposit', class: 'input-mini'
        - unless article.errors.empty?
          %tr.alert
            %td(colspan="10")= article.errors.full_messages.join(", ")
