= simple_form_for [@supplier, @article], :validate => true, :remote => true do |f|
  = f.input :availability
  = f.input :name
  = f.input :origin
  = f.input :manufacturer
  = f.input :unit
  = f.input :note
  = f.association :article_category

  = f.input :price
  = f.input :unit_quantity
  = f.input :order_number
  = f.input :tax
  = f.input :deposit
  = f.submit

  = f.hidden_field :shared_updated_on
  = f.hidden_field :supplier_id