= simple_form_for [@supplier, @article], :validate => true, :remote => true do |f|
  = f.hidden_field :shared_updated_on
  = f.hidden_field :supplier_id
  .modal-header
    = link_to t('ui.marks.close').html_safe, '#', class: 'close', data: {dismiss: 'modal'}
    %h3= t '.title'
  .modal-body
    = f.input :availability
    = f.input :name
    = f.input :origin
    = f.input :manufacturer
    = f.input :unit
    = f.input :note
    = f.association :article_category

    = f.input :price
    = f.input :unit_quantity
    = f.input :order_number
    = f.input :tax
    = f.input :deposit
  .modal-footer
    = link_to t('ui.close'), '#', class: 'btn', data: {dismiss: 'modal'}
    = f.submit class: 'btn btn-primary'

