= simple_form_for [@supplier, @article], :validate => true, :remote => true do |f|
  = f.hidden_field :shared_updated_on
  = f.hidden_field :supplier_id
  .modal-header
    = link_to 'x', '#', class: 'close', data: {dismiss: 'modal'}
    %h3 Neuen Artikel einfügen
  .modal-body
    = f.input :availability
    = f.input :name
    = f.input :origin
    = f.input :manufacturer
    = f.input :unit
    = f.input :note
    = f.association :article_category

    = f.input :price
    = f.input :unit_quantity
    = f.input :order_number
    = f.input :tax, :wrapper => :append do
      = f.input_field :tax
      %span.add-on %
    = f.input :deposit
  .modal-footer
    = link_to 'Schließen', '#', class: 'btn', data: {dismiss: 'modal'}
    = f.submit class: 'btn btn-primary'

