- content_for :javascript do
  :javascript
    const units = #{raw(@all_units.to_json)};
    let articleUnitRatioTemplate$ = undefined;
- if @outlisted_articles.any?
  %h2= t '.outlist.title'
  %p
    = t('.outlist.body').html_safe
    %ul
      - @outlisted_articles.each_with_index do |article, index|
        %li
          = hidden_field_tag "outlisted_articles[#{index}]", article.id
          = article.name
          - if article.in_open_order
            .alert= t '.outlist.alert_used', article: article.name
  %hr/

- if @updated_article_pairs.any?
  %h2= t '.update.title'
  %p
    %i
      = t '.update.update_msg', count: @updated_article_pairs.size
      = t '.update.body'
  = render 'sync_table', articles: @updated_article_pairs, field: 'articles', hidden_fields: []
  %hr/

- if @new_articles.any?
  %h2= t '.upnew.title'
  %p
    %i= t '.upnew.body_count', count: @new_articles.length
  = render 'sync_table', articles: @new_articles, field: 'new_articles', hidden_fields: %w(order_number availability)
  %hr/

- if ignored_article_count > 0
  %p
    %i= t '.outlist.body_ignored', count: ignored_article_count
