- price_markup = FoodsoftConfig[:price_markup].to_f
%table.table.sync-table
  %thead
    %tr
      %th= heading_helper Article, :availability, short: true
      %th= heading_helper Article, :name
      %th= heading_helper Article, :note
      %th= heading_helper Article, :manufacturer
      %th= heading_helper Article, :origin
      %th= heading_helper Article, :supplier_order_unit
      %th= heading_helper Article, :price
      %th= heading_helper Article, :tax
      %th= heading_helper Article, :deposit
      %th= heading_helper Article, :article_category
  %tbody
    - articles.each_with_index do |data, index|
      - changed_article, attrs = data
      - unless changed_article.new_record?
        - article = Article.find(changed_article.id)
        %tr{:style => 'color:grey'}
          %td= check_box_tag nil, '1', article.availability, disabled: true
          %td= article.name
          %td= article.note
          %td= article.manufacturer
          %td= article.origin
          %td= ArticleUnitsLib.get_translated_name_for_code(article.supplier_order_unit)
          %td= "#{number_to_currency(article.price_unit_price)} #{t('articles.form.per')} #{format_price_unit(article)}"
          %td= number_to_percentage article.tax
          %td= number_to_currency article.deposit
          %td= article.article_category.name if article.article_category
      %tr{:id => "article_row_#{field}_#{index}"}
        = render partial: 'shared/js_templates/unit_conversion_popover_template'
        = simple_fields_for "#{field}[#{index}]", changed_article.latest_article_version do |form|
          - content_for :javascript do
            :javascript
              articleUnitRatioTemplate$ = $($.parseHTML("#{escape_javascript(render(partial: 'shared/article_unit_ratio', locals: {article_unit_ratio: @empty_article_unit_ratio, f: form, article_unit_ratio_counter: -1}))}"));
              new ArticleForm(articleUnitRatioTemplate$, $('#article_row_#{field}_#{index}'), units, #{price_markup}, $('#article_row_#{field}_#{index}').closest('form'), '#{field}_#{index}', '#{field}[#{index}]');
          %td{:style => highlight_new(attrs, :availability)}= form.input 'availability', label: false
          %td{:style => highlight_new(attrs, :name)}
            = form.text_field 'name', :size => 0
            = form.input :id, as: :hidden unless changed_article.new_record?
            - hidden_fields.each do |field|
              = form.input field, as: :hidden
          %td{:style => highlight_new(attrs, :note)}= form.text_field 'note', class: 'form-control'
          %td{:style => highlight_new(attrs, :manufacturer)}= form.text_field 'manufacturer', class: 'form-control'
          %td{:style => highlight_new(attrs, :origin)}= form.text_field 'origin', class: 'form-control'
          %td{:style => highlight_new(attrs, :supplier_order_unit)}
            .d-flex.gap-1.align-items-center
              = form.input :supplier_order_unit, as: :select, collection: @article_units, label: false, value: changed_article.supplier_order_unit, include_blank: t('.custom_unit'), input_html: {class: 'form-control'}
              = form.input :unit, input_html: {class: 'form-control ml-1'}, label: false
              %div.btn-link.toggle-extra-units.text-decoration-none.default-values
                = fa_icon :cog, style: highlight_new(attrs, [:article_unit_ratio_attributes, :minimum_order_quantity, :billing_unit, :group_order_unit, :group_order_granularity])
            %div.extra-unit-fields.form-horizontal
              .form-group.d-flex.w-full
                %label.col-sm-3.control-label{for: 'unit_ratios'}
                  = "Unit ratios"
                %table#fc_base_price{:class => "col-sm-9 "}
                  %tbody
                    - ratios = changed_article.article_unit_ratios
                    = render :partial => 'shared/article_unit_ratio', :as => 'article_unit_ratio', :collection => ratios, locals: {f: form, original_ratios: article&.article_unit_ratios}
                  %tfoot
                    %tr
                      %td{:colspan => 9, :style => 'padding-left: 15px; padding-bottom: 16px; padding-top: 16px'}
                        = link_to t('.add_ratio'), '#', 'data-add-ratio' => true, class: 'btn btn-primary', title: "add ratio"
                    - unless changed_article.new_record?
                      %tr{style: 'color: grey;'}
                        %td{:colspan => 6}
                          %ul
                          - article.article_unit_ratios.each do |ratio|
                            %li
                              = "#{ratio.quantity} x #{ArticleUnitsLib.get_translated_name_for_code(ratio.unit)}"
                              = t 'articles.form.per'
                              = ArticleUnitsLib.get_translated_name_for_code(article.supplier_order_unit)
              = form.input :minimum_order_quantity, class: 'form form-control', label: "Mininum order quantity" do
                .form
                  .input-group
                    = form.input_field :minimum_order_quantity, class: 'form-control', style: highlight_new(attrs, :minimum_order_quantity), title: "total minimum order quantity for this article"
                    %span.input-group-addon
                  - unless changed_article.new_record?
                    %p.help-block{style: 'color: grey;'}=article.minimum_order_quantity.to_s
              = form.input :billing_unit, hint: changed_article.new_record? ? nil : ArticleUnitsLib.get_translated_name_for_code(article.billing_unit || article.supplier_order_unit), hint_html: {style: 'color: grey;'}, as: :select, collection: [], input_html: {'data-initial-value': changed_article.billing_unit, class: 'form-control', style: highlight_new(attrs, :billing_unit)}, include_blank: false
              .overflow-hidden.form-group
                %label.control-label.col-sm-3{for: 'article_version_group_order_granularity'}
                  = "Allow orders per"
                .col-sm-9.d-flex
                  .input-group.unit-wrapper
                    = form.input_field :group_order_granularity, class: 'form-control mr-2', step: 0.001, style: highlight_new(attrs, :group_order_granularity).to_s + '; width: 150px;'
                    .ml-1.d-flex.align-items-center
                      %span.mr-2.control-label
                        = '&times;'.html_safe
                      = form.select :group_order_unit, [], {include_blank: false}, {class: 'form-control', style: highlight_new(attrs, :group_order_unit).to_s + ';margin-right:12px', 'data-initial-value': changed_article.group_order_unit}
                  %p.help-block{style: 'color: grey;'}= changed_article.new_record? ? nil : "#{article.group_order_granularity} x #{ArticleUnitsLib.get_translated_name_for_code(article.group_order_unit)}"
          %td{:style => highlight_new(attrs, :price)}
            .d-flex.gap-1
              .input-group
                %span.input-group-addon= t 'number.currency.format.unit'
                = form.text_field 'price', class: 'form-control', style: 'width: 45px'
              .input.d-flex.gap-1
                %label=t('articles.form.per')
                = form.select :price_unit, [], {include_blank: false}, {'data-initial-value': changed_article.price_unit, class: 'form-control'}
          %td{:style => highlight_new(attrs, :tax)}
            .input-group
              = form.text_field 'tax', class: 'form-control', style: 'width: 45px; margin-right: 0px'
              %span.input-group-addon %
          %td{:style => highlight_new(attrs, :deposit)}
            .input-group
              %span.input-group-addon= t 'number.currency.format.unit'
              = form.text_field 'deposit', class: 'form-control', style: 'width: 45px'
          %td= form.select :article_category_id, ArticleCategory.all.map {|a| [ a.name, a.id ] },
            {include_blank: true}, class: 'form-control'
      - unless changed_article.errors.empty?
        %tr.alert.alert-warning
          %td(colspan=11)= changed_article.errors.full_messages.join(', ')
