- title t('.title', supplier: @supplier.name)
%p= t('.body').html_safe

= form_tag(create_from_upload_supplier_articles_path(@supplier)) do
  = render 'edit_all_table'
  .form-actions
    = submit_tag t('.submit', supplier: @supplier.name), class: 'btn btn-primary'
    = link_to t('ui.or_cancel'), upload_supplier_articles_path(@supplier)
      
