- title "#{@supplier.name} / Artikel hochladen"
%p
  %i
    Bitte überprüfe die eingelesenen Artikel.
    %br/
    Achtung, momentan gibt es keine Überprüfung auf doppelte Artikel.

= form_tag(create_from_upload_supplier_articles_path(@supplier)) do
  = render 'edit_all_table'
  .form-actions
    = submit_tag "Speichere neue Artikel für #{@supplier.name}", class: 'btn btn-primary'
    = link_to "order abbrechen", upload_supplier_articles_path(@supplier)
      