- title "#{@supplier.name} / Artikel hochladen"
%p
  Die Datei muss eine Textdatei mit der Endung '.csv' sein. Die erste Zeile
  wird beim Einlesen ignoriert.
  %br/
  Die Felder müssen mit einem Semikolon (';') getrennt und der Text mit doppelten
  Anführungszeichen ("Text...") umklammert werden.
  %br/
  Als Zeichensatz wird UTF-8 erwartet. Korrekte Reihenfolge der Spalten:
  %pre
    = ["Status (x=ausgelistet)", "Bestellnummer", "Name", "Notiz", "Hersteller", "Herkunft",
      "Einheit", "Preis(netto)", "MwSt", "Pfand", "Gebindegröße",
      "Staffelmenge", "Staffelpreis", "Kategorie"].join(" | ")

= form_for :articles, :url => parse_upload_supplier_articles_path(@supplier),
   :html => { :multipart => true } do |f|
  %label(for="articles_file")
    Bitte wähle eine kompatible Datei aus
  = f.file_field "file"
  .form-actions
    = submit_tag "Datei hochladen", class: 'btn'
