- title t('.title', supplier: @supplier.name)
= t('.body').html_safe
%pre
  = [t('.fields.status'),
     Article.human_attribute_name(:order_number),
     Article.human_attribute_name(:name),
     Article.human_attribute_name(:note),
     Article.human_attribute_name(:manufacturer),
     Article.human_attribute_name(:origin),
     Article.human_attribute_name(:unit),
     Article.human_attribute_name(:price),
     Article.human_attribute_name(:tax),
     Article.human_attribute_name(:deposit),
     Article.human_attribute_name(:unit_quantity),
     t('.fields.reserved'),
     t('.fields.reserved'),
     Article.human_attribute_name(:article_category)].join(" | ")

= form_for :articles, :url => parse_upload_supplier_articles_path(@supplier),
   :html => { :multipart => true } do |f|
  %label(for="articles_file")= t '.file_label'
  = f.file_field "file"
  .form-actions
    = submit_tag t('.submit'), class: 'btn'
