- title "#{@supplier.name} / Artikel hochladen"
%p
  %i
    Die Datei muss eine Textdatei mit der Endung '.csv' sein. Die erste Zeile
    wird beim Einlesen ignoriert.
    %br/
    Die Felder müssen mit einem Semikolon (';') getrennt und der Text mit doppelten
    Anführungszeichen ("Text...") umklammert werden.
    %br/
    Als Zeichensatz wird UTF-8 erwartet.
%p
  %i
    Korrekte Reihenfolge der Spalten:
    %br/
    = ["Status (x=ausgelistet)", "Bestellnummer", "Name", "Notiz", "Hersteller", "Herkunft",
      "Einheit", "Preis(netto)", "MwSt", "Pfand", "Gebindegröße",
      "Staffelmenge", "Staffelpreis", "Kategorie"].join(" | ")

#uploadArticles.uploadForm
  = form_for :articles, :url => parse_upload_supplier_articles_path(@supplier),
     :html => { :multipart => true } do |form|
    %p= form.file_field "file"
    %p= submit_tag "Datei hochladen"
