- message_threads = Message.readable_for(current_user).threads.where(group: group).order(created_at: :desc).limit(5)
- unless message_threads.empty?
  %section
    %h3
      = name
      %small
        = link_to message_thread_path(id) do
          = t '.show_message_threads'
          %i.icon.icon-chevron-right
    = render 'message_threads', message_threads: message_threads, pagination: false
    = link_to_top
