%h1
  = @group.is_a?(OrderGroup) ? "Bestellgruppe:" : "Gruppe:"
  =h @group.name
.left_column{:style => "width:45em"}
  .box_title
    %h2 Übersicht
  .column_content
    %p
      %b Beschreibung:
      =h @group.description
    - if @group.is_a?(OrderGroup)
      %p
        %b Gruppengröße:
        = @group.actual_size
      %p
        %b Kontostand:
        = @group.account_balance
      %p
        %b Kontostand aktualisiert:
        = @group.account_updated
    %p
      %b Gruppe hat Zugriff auf:
      - roles = Array.new
      - roles << 'Administration' if @group.role_admin?
      - roles << 'Finanzen' if @group.role_finance?
      - roles << 'Lieferanten' if @group.role_suppliers?
      - roles << 'Artikel' if @group.role_article_meta?
      - roles << 'Bestellungsverwaltung' if @group.role_orders?
      =h roles.join(', ')
    %p
      - if @group.weekly_task
        %b wöchentlicher Job:
        =h @group.task_name
        am
        = weekday(@group.weekday)
      - else
        kein wöchentlicher Job definiert
        
    = link_to 'Gruppe bearbeiten', :action => 'editGroup', :id => @group
    |
    = link_to 'Löschen', { :action => 'destroyGroup', :id => @group }, :confirm => 'Bist Du sicher?', :method => "post"
    |
    = link_to 'Nachricht senden', :controller => 'messages', :action => 'group', :id => @group
  .box_title
    %h2 Mitglieder
  .column_content
    - if @group.memberships.empty?
      %i Diese Gruppe hat derzeit keine Mitglieder
    - else
      %ul{:style => "list-style-type:decimal;"}
        - for membership in @group.memberships
          %li= link_to membership.user.nick, :action => 'showUser', :id => membership.user
    %p= link_to 'Mitglieder bearbeiten', :action => 'members', :id => @group
%p{:style => "clear:both"}= link_to "Gruppenübersicht", :action => "listGroups"