= form_tag payments_mollie_path, method: :post do
  - if params[:text]
    .well= params[:text]
  .control-group
    .control-label
      = label_tag 'amount', ((params[:label] or t('.amount_pay')))
    .controls
      - # TODO For iDEAL the fee is fixed. Recalculate fee for other methods as soon as that is supported
      .input-prepend
        %span.add-on= t 'number.currency.format.unit'
        = text_field_tag 'amount', @amount, readonly: (params[:fixed]=='true'), class: 'input-mini'
      - if params[:min]
        .help-inline{style: 'margin-bottom: 10px'}
          = "(min #{number_to_currency params[:min], precision: 2})"
        = hidden_field_tag 'min', params[:min]
  .control-group
    .control-label
      = label_tag 'payment_method', t('.payment_method')
    .controls
      - # TODO leave map for testing with other methods so they are shown.
      = select_tag 'payment_method', options_for_select(@payment_options.map { |id, m| [m[:description], id.to_s] }, params[:payment_method]), class: 'input-large'
  - if FoodsoftMollie.charge_fees?
    .control-label
      = label_tag 'payment_fee', t('.payment_fee')
      .input-prepend
        %span.add-on= t 'number.currency.format.unit'
      .help-inline{style: 'margin-bottom: 10px'}
        = "#{number_to_currency @payment_options.dig(:ideal, :fee), precision: 2, unit: ''}"
  .control-group
    .controls
      = submit_tag t('.submit')
      = link_to t('ui.or_cancel'), cancel_payments_mollie_path

-# pass through options to allow reusing on error
- %w(label title fixed min text).each do |k|
  = hidden_field_tag k, params[k] if params[k]
