- title "Löschvorschlag für #{@stock_article_selection.stock_articles.count} Lagerartikel"

.well.well-small
  .btn-toolbar
    .btn-group
      = link_to "Lager anzeigen", stock_articles_path, class: 'btn'
      = link_to 'Alle Löschvorschläge anzeigen', stock_article_selections_path, class: 'btn'

%dl
  %dt Löschvorschlag vom:
  %dd= format_time(@stock_article_selection.created_at)
  %dt Erstellt durch:
  %dd= link_to_user_message_if_valid(@stock_article_selection.created_by)
  %dt Zu löschende Artikel
  - for article in @stock_article_selection.stock_articles.with_deleted
    %dd
      %span{:class => article_deletion_classes(article), :title => article_deletion_title(article)}= article.name


%p
  = link_to 'Artikel löschen', articles_stock_article_selection_path(@stock_article_selection), :method => :delete,
    :confirm => 'Diesen Löschvorschlag wirklich ausführen und markierte Artikel löschen?', class: 'btn btn-danger'
  = link_to 'Verwerfen', @stock_article_selection, :method => :delete,
    :confirm => 'Diesen Löschvorschlag wirklich verwerfen?', class: 'btn'
  = link_to 'Alle Löschvorschläge anzeigen', stock_article_selections_path, class: 'btn'
