.single_column{:style => "width:50em"}
  .box_title
    %h2= @group.name
  .column_content
    %table
      %tr
        %td= _("Description") + ":"
        %td= @group.description
      %tr
        %td= _("Group has access to") + ":"
        %td
          - roles = Array.new
          - roles << 'Administration' if @group.role_admin?
          - roles << 'Finanzen' if @group.role_finance?
          - roles << 'Lieferanten' if @group.role_suppliers?
          - roles << 'Artikel' if @group.role_article_meta?
          - roles << 'Bestellungsverwaltung' if @group.role_orders?
          =h roles.join(', ')
      %tr
        %td= _("Members") + ":"
        %td
          - members = @group.users
          = "(#{members.size})"
          = members.collect(&:nick).join(", ")
      %tr
        %td= _("Weekly task") + ":"
        %td
          - if @group.weekly_task
            =h @group.task_name
            =_ "at"
            = weekday(@group.weekday)
          - else
            =_ 'No weekly tasks defined yet'
    %p
      = link_to _("Show all tasks"), :controller => "tasks", :action => "workgroup", :id => @group
      |
      - if @group.member?(@current_user)
        = link_to _("Edit group"), :action => "editGroup", :id => @group
        |
      = link_to _('Send members a message'), :controller => 'messages', :action => 'group', :id => @group