- if Ordergroup.count > 20
  = items_per_page
= pagination_links_remote @ordergroups

%table.table.table-striped
  %thead
    %tr
      %th= heading_helper Ordergroup, :name
      %th= heading_helper Ordergroup, :user_tokens
      %th= heading_helper Ordergroup, :last_order

  %tbody
    - for ordergroup in @ordergroups
      %tr
        %td= ordergroup.name
        %td=h ordergroup.users.collect { |u| show_user(u) }.join(", ")
        %td= format_date ordergroup.last_order.try(:starts)

