%table.ordered-articles.table.table-striped
  %thead
    %tr
      %th= sort_link_helper Article.model_name.human, "name"
      %th= sort_link_helper Article.human_attribute_name(:order_number_short), "order_number"
      %th= t('.amount')
      %th= heading_helper Article, :units
      %th= t('.net')
      %th= t('.gross')
      %th= heading_helper Article, :tax
      %th= heading_helper Article, :deposit
      %th{:colspan => "2"}
        = link_to t('.add_article'), new_order_order_article_path(@order), remote: true,
          class: 'btn btn-small'
  %tbody#result_table
    - for order_article in @articles
      = render :partial => "order_article_result", :locals => {:order_article => order_article}
