= simple_form_for @order, url: update_note_finance_order_path(@order), remote: true, method: :put do |f|
  .modal-header
    = button_tag "x", class: 'close', data: {dismiss: 'modal'}
    %h3 Notiz bearbeiten
  .modal-body
    = f.input :note, input_html: {class: 'input-xlarge'}
  .modal-footer
    = button_tag "Schließen", class: 'btn', data: {dismiss: 'modal'}
    = f.submit "Speichern", class: 'btn btn-primary'