- content_for :javascript do
  :javascript
    $(function() {
      // create List for search-feature (using list.js, http://listjs.com)
      var listjsResetPlugin = ['reset', {highlightClass: 'btn-primary'}];
      var listjsDelayPlugin = ['delay', {delayedSearchTime: 500}];
      new List(document.body, {
        valueNames: ['name'],
        engine: 'unlist',
        plugins: [listjsResetPlugin, listjsDelayPlugin],
        // make large pages work too (as we don't have paging - articles may disappear!)
        page: 10000,
        indexAsync: true
      });
      $('input').keydown(function(event){
        if(event.keyCode == 13) {
          event.preventDefault();
          return false;
        }
      });
    });



%table.ordered-articles.table.table-striped
  %thead
    %tr
      %th
        .input-append
        = text_field_tag :article, params[:article], placeholder: (heading_helper Article, :name), class: 'delayed-search resettable search-query'
      %th= heading_helper Article, :order_number
      %th= t('.amount')
      %th= heading_helper Article, :unit
      %th= t('.net')
      %th= t('.gross')
      %th= heading_helper Article, :tax
      %th= heading_helper Article, :deposit
      %th{:colspan => "2"}
        - unless @order.closed?
          .btn-group
            = link_to t('.add_article'), new_order_order_article_path(@order), remote: true,
              class: 'btn btn-small'
            = link_to '#', data: {toggle: 'dropdown'}, class: 'btn btn-small dropdown-toggle' do
              %span.caret
            %ul.dropdown-menu
              %li= link_to t('.add_article'), new_order_order_article_path(@order), remote: true
              %li= link_to t('.edit_transport'), edit_transport_finance_order_path(@order), remote: true
  %tbody.list#result_table
    - for order_article in @articles.select { |oa| oa.units > 0 }
      = render :partial => "order_article_result", :locals => {:order_article => order_article}

    %tr
      %td{ colspan: 10 } The following were not ordered

    - for order_article in @articles.select { |oa| oa.units == 0 }
      = render :partial => "order_article_result", :locals => {:order_article => order_article}

    - if @order.transport
      %tr
        %td{ colspan: 5 }= heading_helper Order, :transport
        %td{ colspan: 3, data: {value: @order.transport} }= number_to_currency(@order.transport)
        %td= link_to t('ui.edit'), edit_transport_finance_order_path(@order), remote: true,
          class: 'btn btn-mini' unless order_article.order.closed?
