%h2 Bestelldaten ändern
- remote_form_for 'order', @order, :url => {:action => 'updateOrderSummary', :id => @order}, |
  :before => "Element.show('loader')", :success => "Element.hide('loader')" do |form| |
  
  = error_messages_for 'order'
  %table{:style => "width:10em"}
    %tr
      %td Rechnungsnummer:
      %td= form.text_field "invoice_number", :size => 10
    %tr
      %td Rechnungsdatum:
      %td= form.text_field "invoice_date", :size => 10
    %tr
      %td
        %abbr{:title => "(incl. Pfand/Gutschriften)"} Rechnungsbeitrag
      %td= form.text_field 'invoice_amount', :size => 10
    %tr
      %td
        %abbr{:title => "z.B Kistepfand"} extra Pfand
      %td= form.text_field 'deposit', :size => 10
    %tr
      %td Pfandgutschrift
      %td= form.text_field 'deposit_credit', :size => 10
  %p
    = submit_tag "Speichern"
    | 
    = link_to_function 'Abbrechen', "Element.hide('edit_box')"