= simple_form_for @order, url: update_note_finance_order_path(@order), remote: true, method: :put do |f|
  .modal-dialog
    .modal-content
      .modal-header
        = close_button :modal
        %h3.modal-title= t('.title')
      .modal-body
        = f.input :note, input_html: {class: 'form-control', rows: 10, cols: 80}
      .modal-footer
        = link_to t('ui.close'), '#', class: 'btn btn-default', data: {dismiss: 'modal'}
        = f.submit t('ui.save'), class: 'btn btn-primary'
