= simple_form_for @order, url: update_transport_finance_order_path(@order), method: :put do |f|
  .modal-dialog
    .modal-content
      .modal-header
        = close_button :modal
        %h3.modal-title= t('.title')
      .modal-body
        = f.input :transport
        = f.input :transport_distribution, as: :radio_buttons, collection: Order.transport_distributions,
          include_blank: false, label_method: ->(k){ t("activerecord.attributes.order.transport_distributions.#{k.first}") }
      .modal-footer
        = link_to t('ui.close'), '#', class: 'btn btn-default', data: {dismiss: 'modal'}
        = f.submit t('ui.save'), class: 'btn btn-primary'
