%td{:colspan => "7"}
  %table.table.table-striped
    %thead
      %tr
        %td
        %td{:style => "width:8em"}= t('.group')
        %td= t('.units')
        %td= t('.total')
        %td{:colspan => "3",:style => "width:14em"}
          = link_to t('.add_group'), new_finance_group_order_article_path(order_article_id: order_article.id),
            remote: true, class: 'btn btn-mini'
    %tbody
      - for group_order_article in order_article.group_order_articles.ordered.all(:include => [:group_order])
        %tr[group_order_article]
          %td
          %td{:style=>"width:50%"}
            = group_order_article.group_order.ordergroup.name
          %td{:id => "group_order_article_#{group_order_article.id}_quantity", :style => "white-space:nowrap"}
            = group_order_article.result
            = link_to "+", update_result_finance_group_order_article_path(group_order_article, modifier: '+'),
              method: :put, remote: true, class: 'btn btn-mini'
            = link_to "-", update_result_finance_group_order_article_path(group_order_article, modifier: '-'),
              method: :put, remote: true, class: 'btn btn-mini'
          %td.numeric
            = number_to_currency(group_order_article.order_article.price.fc_price * group_order_article.result, :unit => "")
          %td.actions{:style=>"width:1em"}
            = link_to "Bearbeiten", edit_finance_group_order_article_path(group_order_article), remote: true,
              class: 'btn btn-mini'
          %td.actions{:style=>"width:1em"}
            = link_to "Löschen", finance_group_order_article_path(group_order_article), method: :delete,
              remote: true, class: 'btn btn-mini btn-danger'
          %td
    %tfoot
      %tr
        %td
        %td{:style => "width:8em"}= t('total_fc')
        %td{:id => "group_orders_sum_quantity_#{order_article.id}"}
          = order_article.group_orders_sum[:quantity]
        %td.numeric{:id => "group_orders_sum_price_#{order_article.id}"}
          = number_to_currency(order_article.group_orders_sum[:price], :unit => "")
        %td{:colspan => "3"}