- if invoice
  %table
    %tr
      %td= t('.invoice_number')
      %td= invoice.number
    %tr
      %td= t('.invoice_date')
      %td= invoice.date
    %tr
      %td= t('.invoice_amount')
      %td.curreny= number_to_currency invoice.amount
    %tr
      %td= t('.minus_refund_calculated')
      %td.curreny= number_to_currency invoice.deposit
    %tr
      %td= t('.plus_refund_credited')
      %td.curreny= number_to_currency invoice.deposit_credit
    %tr
      %td= t('.refund_adjusted_amount')
      %td.curreny= number_to_currency invoice.net_amount
  %br/
  = link_to t('.edit'), edit_finance_invoice_path(invoice)

- else
  = t '.new_body'
  = link_to t('.new'), new_finance_invoice_path(:order_id => @order, :supplier_id => @order.supplier)
