%h2
  Neue Gruppenmenge für
  = @result.order_article_result.name
- remote_form_for 'group_order_article_result', @result, :url => {:action => 'createGroupResult'}, |
  :before => "Element.show('loader')", :success => "Element.hide('loader')" do |@form| |
  = error_messages_for 'result'
  %p
    Gruppe:
    = @form.select "group_order_result_id", Ordergroup.find(:all, :order => "name").collect {|og| [og.name, og.id] }
  %p
    Menge:
    = @form.text_field "quantity", :size => 5
    = @form.hidden_field "order_article_result_id"
  %p
    = submit_tag "Speichern"
    | 
    = link_to_function 'Abbrechen', "Element.hide('edit_box')"