- unless @orders.empty?
  - if @orders.total_count > 20
    = items_per_page
  = pagination_links_remote @orders
  %table.table.table-striped
    %thead
      %tr
        %th= t('.name')
        %th= t('.end')
        %th= t('.state')
        %th= heading_helper Order, :updated_by
        %th
    %tbody
      - @orders.each do |order|
        = render partial: 'order_row', locals: { order: order }
- else
  %i= t('.no_closed_orders')
