%b=h order.name
%br/
= "von #{format_date(order.starts)} bis #{format_date(order.ends)}"
%p
  %table
    %tr
      %td Nettobetrag:
      %td= number_to_currency(order.sum(:net))
    %tr
      %td Bruttobetrag:
      %td= number_to_currency(order.sum(:gross))
    %tr
      %td FC-Betrag:
      %td= number_to_currency(order.sum(:fc))
    %tr
      %td Summe der Gruppenbeträge:
      %td= number_to_currency(order.sum(:groups))
    %tr
      %td FC Gewinn ohne Aufschlag:
      %td= number_to_currency(order.profit(:with_markup => false))
    %tr
      %td FC Gewinn mit Aufschlag:
      %td#order_profit= number_to_currency(order.profit)