%b=h order.name
%br/
= t('.duration', {starts: format_date(order.starts), ends: format_date(order.ends)})
%p
  %table
    %tr
      %td= t('.net_amount')
      %td.numeric= number_to_currency(order.sum(:net))
    %tr
      %td= t('.gross_amount')
      %td.numeric= number_to_currency(order.sum(:gross))
    %tr
      %td= t('.fc_amount')
      %td.numeric= number_to_currency(order.sum(:fc))
    %tr
      %td= t('.groups_amount')
      %td.numeric= number_to_currency(order.sum(:groups))
    %tr
      %td
        = t('.fc_profit')
        %small= t('.without_extra_charge')
      %td.numeric= number_to_currency(order.profit(:without_markup => true))
    %tr
      %td
        = t('.fc_profit')
        %small= t('.with_extra_charge')        
      %td#order_profit.numeric= number_to_currency(order.profit)
#summaryChangedWarning.alert(style="display:none;")
  %strong= t '.changed'
  %br/
  = link_to t('.reload'), update_summary_finance_order_path(order), remote: true
