- total_ordered = order.sum(:gross_price_supplier)
- rounding_error = order.sum(:rounding_error)
- total_deposit = order.sum(:deposit)
- total_tax = order.sum(:tax)
- net_paid_by_members = order.sum(:net)
- total_paid_by_members = net_paid_by_members+total_deposit+total_tax

%b=h order.name
%br/
= t('.duration', {starts: format_date(order.starts), ends: format_date(order.ends)})
%p
  %table
    %tr
      %td
        %b Order Totals
    %tr
      %td= t('.groups_amount')
      %td.numeric= number_to_currency(net_paid_by_members-rounding_error)
      %td.numeric
        %abbr{title: "plus this amount from rounding-up to cent"}
          = '+ ' + number_to_currency(rounding_error)
    %tr
      %td Supplier Price:
      %td.numeric= number_to_currency(total_ordered)
    %tr
      %td Deposits:
      %td.numeric= number_to_currency(total_deposit)
    %tr
      %td Taxes:
      %td.numeric= number_to_currency(total_tax)
    %tr
      %td
        %abbr{title: "This should be 0.  If it is not, please add a note indicating why the order isn't balanced.  Please also keep in mind that a zero (or close to zero) result does not indicate the prices are correct - but a non-zero balance indicates that there is a problem with the amount charged to members"}
          Difference:
      %td.numeric= number_to_currency((total_paid_by_members-(total_ordered+total_deposit+total_tax)).round(2)-rounding_error.round(2))
      %td.numeric
        %abbr{title: "plus this amount from rounding-up to cent"}
          = '+ ' + number_to_currency(rounding_error)
    - if @order.invoice
      %tr
        %td
          %b Invoice
      %tr
        %td= t('.groups_amount')
        %td.numeric= number_to_currency(total_paid_by_members-rounding_error)
        %td.numeric
          %abbr{title: "plus this amount from rounding-up to cent"}
            = '+ ' + number_to_currency(rounding_error)
      %tr
        %td Net Charge:
        %td.currency= number_to_currency @order.invoice.net_amount
      - order_profit_with_markup = order.profit
      - order_profit_without_markup = order.profit(:without_markup => true)
      - zero_balance = (order_profit_without_markup-rounding_error).abs < 0.01
      - zero_balance_with_markup = (order_profit_with_markup-rounding_error).abs < 0.01
      - without_markup = zero_balance ? number_to_currency(0) : number_to_currency(order_profit_without_markup-rounding_error)
      - with_markup = zero_balance_with_markup ? number_to_currency(0) : number_to_currency(order_profit_with_markup-rounding_error)
      - style = zero_balance ? "" : "color:red;font-weight: bold"
      %tr{ style: style }
        %td
          = t('.fc_profit')
          %small= t('.without_extra_charge')
        %td.numeric= without_markup
        %td.numeric
          %abbr{title: "plus this amount from rounding-up to cent"}
            = '+ ' + number_to_currency(rounding_error)

      - unless with_markup == without_markup
        %tr
          %td
            = t('.fc_profit')
            %small= t('.with_extra_charge')
          %td#order_profit.numeric= with_markup
      %tr
      - if zero_balance
        %td
          =image_tag 'heyeeyeeyyeyah.gif'
      - else
        %td balance should be zero!
#summaryChangedWarning.alert(style="display:none;")
  %strong= t '.changed'
  %br/
  = link_to t('.reload'), update_summary_finance_order_path(order), remote: true
