%b=h order.name
%br/
= "von #{format_date(order.starts)} bis #{format_date(order.ends)}"
%p
  %table
    %tr
      %td Nettobetrag:
      %td.numeric= number_to_currency(order.sum(:net))
    %tr
      %td Bruttobetrag:
      %td.numeric= number_to_currency(order.sum(:gross))
    %tr
      %td FC-Betrag:
      %td.numeric= number_to_currency(order.sum(:fc))
    %tr
      %td Gruppenbeträge:
      %td.numeric= number_to_currency(order.sum(:groups))
    %tr
      %td
        FC Gewinn
        %small ohne Aufschlag:
      %td.numeric= number_to_currency(order.profit(:without_markup => true))
    %tr
      %td
        FC Gewinn
        %small mit Aufschlag:
      %td#order_profit.numeric= number_to_currency(order.profit)