%h1 Finanzbereich
.left_column{:style => 'width: 50%'}
  .box_title
    %h2 Unpaid invoices
  .column_content
    %p= link_to "Show all invoices", finance_invoices_path
    %table.list
      %thead
        %tr
          %th Date
          %th Amount
          %th Supplier
          %th
      %tbody
        - for invoice in @unpaid_invoices
          %tr{:class => cycle("even","odd", :name => "invoices")}
            %td= format_date(invoice.date)
            %td= number_to_currency(invoice.amount)
            %td=h invoice.supplier.name
            %td= link_to "Edit", edit_finance_invoice_path(invoice)

  .box_title
    %h2 letzte Überweisungen
  .column_content
    %p
      = link_to "Bestellgruppen", :controller => 'finance/transactions'
    %table.list
      %thead
        %tr
          %th Datum
          %th Gruppe
          %th Notiz
          %th Betrag
      %tbody
        - @financial_transactions.each do |ft|
          %tr{:class => cycle("even","odd", :name => "financial_transaction")}
            %td= format_date(ft.created_on)
            %td= ft.ordergroup.name
            %td{:style => "width:50%"}=h ft.note
            %td{:style => "color:#{ft.amount < 0 ? 'red' : 'black'}", :class => "currency"}= number_to_currency(ft.amount)
            
.right_column{:style => 'width: 46%'}
  .box_title
    %h2 noch nicht abgerechnet
  .column_content
    %p= link_to "Bestellungsübersicht", :controller => 'balancing', :action => 'list'
    - unless @orders.empty?
      %table.list
        %thead
          %tr
            %th Name
            %th Ende
            %th Betrag(FC)
            %th 
        %tbody
          - @orders.each do |order|
            %tr{:class => cycle("even","odd", :name => "order")}
              %td= order.supplier.name
              %td= format_date(order.ends)
              %td{:class => "currency"}= number_to_currency(order.sum(:fc))
              %td= link_to "abrechnen", :action => "editOrder", :id => order
    - else
      Super, alles schon abgerechnet...