%table.table.table-hover.list
  %thead.list-heading
    %tr
      %th{:style => "width:40%"}= heading_helper Article, :name
      %th= heading_helper Article, :unit
      %th.center
        %acronym{:title => t('shared.articles.ordered_desc')}= t 'shared.articles.ordered'
      %th.center{colspan: 2}
        %acronym{:title => t('shared.articles.received_desc')}= t 'shared.articles.received'
      %th{colspan: 2}= heading_helper Article, :fc_price, short: true
      %th= t '.price'
      %th= #heading_helper Article, :unit_quantity, short: true

  - for group_order in order.group_orders.ordered
    %tbody
      %tr.list-heading
        %th{:colspan => "9"}
          %h4.name= group_order.ordergroup.name
      - total = 0
      - for goa in group_order.group_order_articles.ordered.all(:include => :order_article)
        - fc_price = goa.order_article.price.fc_price
        - subTotal = fc_price * goa.result
        - total += subTotal
        %tr{:class => [cycle('even', 'odd', :name => 'articles'), if goa.result == 0 then 'unavailable' end]}
          %td.name{:style => "width:40%"}=h goa.order_article.article.name
          %td= goa.order_article.article.unit
          %td.center= "#{goa.quantity} + #{goa.tolerance}"
          %td.center
            %b= goa.result
          %td.symbol &times;
          %td= number_to_currency(fc_price)
          %td.symbol =
          %td= number_to_currency(subTotal)
          %td= pkg_helper goa.order_article.price
      %tr{:class => cycle('even', 'odd', :name => 'articles')}
        %th{:colspan => "7"}= t '.price_sum'
        %th= number_to_currency(total)
        %th
      %tr
        %th(colspan="9")
      - reset_cycle("articles")
