%table.table.table-hover
  %thead
    %tr
      %th{:style => "width:40%"} Name
      %th
        %acronym{:title => "zugeteilte Einheiten"} Menge
      %th
        %acronym{:title => "Preis incl. MwSt, Pfand und Foodcoop-Aufschlag"} FC-Preis
      %th
        %acronym{:title => "Gebindegröße"} GebGr
      %th Einheit
      %th Gesamtpreis

  - for group_order in order.group_orders.all
    %thead
      %tr
        %th{:colspan => "6"}
          %h4= group_order.ordergroup.name
    %tbody
      - total = 0
      - for goa in group_order.group_order_articles.ordered.all(:include => :order_article)
        - fc_price = goa.order_article.price.fc_price
        - subTotal = fc_price * goa.result
        - total += subTotal
        %tr{:class => cycle('even', 'odd', :name => 'articles')}
          %td{:style => "width:40%"}=h goa.order_article.article.name
          %td= goa.result
          %td= number_to_currency(fc_price)
          %td= goa.order_article.price.unit_quantity
          %td= goa.order_article.article.unit
          %td= number_to_currency(subTotal)

    %tr{:class => cycle('even', 'odd', :name => 'articles')}
      %th{:colspan => "5"} Summe
      %th= number_to_currency(total)
    %tr
      %th(colspan="6")
    - reset_cycle("articles")