- original_ratio = defined?(original_ratios) ? original_ratios&.to_a&.dig(article_unit_ratio_counter) : nil
- changed = !original_ratio.nil? && (original_ratio.quantity != article_unit_ratio.quantity || original_ratio.unit != article_unit_ratio.unit)
%tr{:class => 'no-indent-left', :colspan => '9', :style => changed ? "background-color: yellow" : ""}
  = f.fields_for(:article_unit_ratios, article_unit_ratio) do |sub_form|
    -# title: unit quantifier
    %td{:class => 'd-flex align-items-center gap-1 w-full', :style => 'padding-top:4px'}
      -# TODO: Check, if there was any justified reason for this article_unit_ratio_counter logic:
      -#= hidden_field f.object.class.to_s.underscore + "[article_unit_ratios_attributes][#{article_unit_ratio_counter + 1}]", :sort, value: article_unit_ratio_counter + 1
      %div{:style => 'display:flex; align-items: center'}
        = sub_form.input :sort, as: :hidden

        = sub_form.input :quantity, {input_html: {class: 'form-control'}, label: false, wrapper_class: 'col-sm-3', wrapper: :inline_form}
        %div= '&times;'.html_safe
        %div= sub_form.input :unit, as: :select, include_blank: true, collection: @article_units, label: false, input_html: {class: 'form-control'}, wrapper: :inline_form, wrapper_class: 'col-sm-6'
        %div.ml-1= t('.per')
        %div.unit_multiplier.ml-2
      %div.actions{style: 'width:1em, justify-self: end'}
        = link_to t('.remove'), method: :delete, 'data-remove-ratio' => true, title: t('.remove'), class: 'btn btn-danger btn-mini' do
          = fa_icon :remove
