%table.table.table-condensed
  %tr
    %th= heading_helper(Article, :price)
    %td.numeric= number_to_currency article.price
  %tr
    %th= heading_helper(Article, :deposit)
    %td.numeric= number_to_currency article.deposit
  %tr
    %th= heading_helper(Article, :tax)
    %td.numeric= number_to_percentage article.tax
  - unless article.fc_price == article.gross_price
    %tr
      %th= heading_helper(Article, :fc_share, {:short => true})
      %td.numeric= number_to_currency(article.fc_price-article.gross_price)
  %tr
    %th= heading_helper(Article, :fc_price)
    %td.numeric= number_to_currency article.fc_price
