.fold-line
  = f.input :price do
    .input-prepend
      %span.add-on= t 'number.currency.format.unit'
      = f.input_field :price, class: 'input-mini'
  = f.input :price_unit, as: :select, collection: [], input_html: {'data-initial-value': article.price_unit, class: 'input-medium'}, label: t('articles.form.per'), include_blank: false
.fold-line
  = f.input :tax do
    .input-append
      = f.input_field :tax, class: 'input-mini'
      %span.add-on %
  = f.input :deposit do
    .input-prepend
      %span.add-on= t 'number.currency.format.unit'
      = f.input_field :deposit, class: 'input-mini'
.fold-line
  .control-group
    %label.control-label{for: 'article_fc_price'}
      = Article.human_attribute_name(:fc_price)
    .controls.control-text#article_fc_price
      %span.price_value
      %span.price_per_text=t('articles.form.per')
      %span.price_unit

