.legend
  %table.legend{:style => "margin-bottom:1em"}
    %tr
      %th{:colspan => '3'} Legende
    %tr
      %th{:style => 'width:70%'} Bestellgruppe
      %th Bestellt (Menge + Toleranz)
      %th Bekommen
      %th Gesamtpreis

- for order_article in order.order_articles.ordered.all(:include => [:article, :article_price])
  %table{:style => "margin-bottom:1em"}
    %thead
      %tr
        %th{:colspan => "4"}
          = order_article.article.name
          = "(#{order_article.article.unit} | #{order_article.price.unit_quantity} | #{number_to_currency(order_article.price.gross_price)})"
    %tbody
      - for goa in order_article.group_order_articles
        %tr{:class => cycle('even', 'odd', :name => 'groups')}
          %td{:style => "width:70%"}=h goa.group_order.ordergroup.name
          %td= "#{goa.quantity} + #{goa.tolerance}"
          %td
            %b= goa.result
          %td= number_to_currency(order_article.price.fc_price * goa.result)
  - reset_cycle('groups')