%table.table.table-hover.list
  %thead.list-heading
    %tr
      %th{:style => 'width:70%'}= t '.ordergroup'
      %th
        %acronym{:title => t('shared.articles.ordered_desc')}= t 'shared.articles.ordered'
      %th
        %acronym{:title => t('shared.articles.received_desc')}= t 'shared.articles.received'
      %th= t '.price'

  - for order_article in order.order_articles.ordered.all(:include => [:article, :article_price])
    %tbody
      %tr
        %th.name{:colspan => "4"}
          = order_article.article.name
          = "(#{order_article.article.unit} | #{order_article.price.unit_quantity} | #{number_to_currency(order_article.price.gross_price)})"
      - for goa in order_article.group_order_articles.ordered
        %tr{:class => [cycle('even', 'odd', :name => 'groups'), if goa.result == 0 then 'unavailable' end]}
          %td{:style => "width:70%"}=h goa.group_order.ordergroup.name
          %td= "#{goa.quantity} + #{goa.tolerance}"
          %td
            %b= goa.result
          %td= number_to_currency(order_article.price.fc_price * goa.result)
    %tr
      %td(colspan="4" )
  - reset_cycle('groups')
