- unless comments.empty?
  - comments.each do |comment|
    .comment[comment]
      .timestamp
        %b=h "#{comment.user.ordergroup_name}"
        = "(#{comment.user.nick} am #{format_time(comment.created_at)}):"
      = simple_format(comment.text)
- else
  es gibt derzeit keine Kommentare.