%table
  %tr
    %td Beschreibung:
    %td=h group.description
  - if group.is_a?(Ordergroup) and (@current_user.role_admin? or @current_user.role_finance?)
    %tr
      %td Kontakt:
      %td=h group.contact
    %tr
      %td Adresse:
      %td= link_to_gmaps group.contact_address
  %tr
    %td Gruppe hat Zugriff auf:
    %td= format_roles(group)
  %tr
    %td Mitglieder:
    %td
      - members = group.users
      = "(#{members.size})"
      = members.collect(&:nick).join(", ")
  - if group.is_a?(Workgroup)
    %tr
      %td wöchentlicher Job:
      %td
        - if group.weekly_task
          =h "#{group.task_name} am #{weekday(group.weekday)}"
        - else
          kein wöchentlicher Job definiert
  - else
    %tr
      %td Äpfel-Bestellbeschränkung
      %td= group.ignore_apple_restriction ? 'deaktiviert' : 'aktiviert'
