%dl
  %dt= heading_helper(Ordergroup, :description) + ':'
  %dd=h group.description
  - if group.is_a?(Ordergroup) and (@current_user.role_admin? or @current_user.role_finance?)
    %dt= heading_helper(Ordergroup, :contact) + ':'
    %dd=h group.contact
    %dt= heading_helper(Ordergroup, :contact_address) + ':'
    %dd= link_to_gmaps group.contact_address
  %dt= t('.access') + ':'
  %dd= format_roles(group)
  %dt= heading_helper(Ordergroup, :user_tokens) + ':'
  %dd
    - members = group.users
    = "(#{members.size})"
    = members.collect{|u| show_user(u)}.join(", ")
  - if group.is_a?(Ordergroup) and FoodsoftConfig[:price_markup_list]
    %dt= heading_helper(Ordergroup, :price_markup_key) + ':'
    %dd= show_price_markup group, format: :full
  - if group.is_a?(Ordergroup) and FoodsoftConfig[:use_apple_points]
    %dt= t '.apple_limit'
    %dd= group.ignore_apple_restriction ? t('.deactivated') : t('.activated')
