%dl
  %dt= t('.description') + ':'
  %dd=h group.description
  - if group.is_a?(Ordergroup) and (@current_user.role_admin? or @current_user.role_finance?)
    %dt= t('.contact') + ':'
    %dd=h group.contact
    %dt= t('.address') + ':'
    %dd= link_to_gmaps group.contact_address
  %dt= t('.access') + ':'
  %dd= format_roles(group)
  %dt= t('.members') + ':'
  %dd
    - members = group.users
    = "(#{members.size})"
    = members.collect{|u| show_user(u)}.join(", ")
  - unless group.is_a?(Workgroup)
    %dt= t '.apple_limit'
    %dd= group.ignore_apple_restriction ? t('.deactivated') : t('.activated')
