%dl.dl-horizontal
  %dt Beschreibung:
  %dd=h group.description
  - if group.is_a?(Ordergroup) and (@current_user.role_admin? or @current_user.role_finance?)
    %dt Kontakt:
    %dd=h group.contact
    %dt Adresse:
    %dd= link_to_gmaps group.contact_address
  %dt Zugriff auf:
  %dd= format_roles(group)
  %dt Mitglieder:
  %dd
    - members = group.users
    = "(#{members.size})"
    = members.collect(&:nick).join(", ")
  - if group.is_a?(Workgroup)
    %dt wöchentlicher Job:
    %dd
      - if group.weekly_task
        =h "#{group.task_name} am #{weekday(group.weekday)}"
      - else
        kein wöchentlicher Job definiert
  - else
    %dt Äpfel-Bestellbeschränkung
    %dd= group.ignore_apple_restriction ? 'deaktiviert' : 'aktiviert'
