%ul
  %li
    = image_tag 'b_user.png' , :size => '7x10',  :border => 0, :alt => t('.profile')
    = link_to h(@current_user.nick), my_profile_path, { :title => t('.edit_profile') }
  - if FoodsoftConfig[:homepage]
    %li= link_to FoodsoftConfig[:name], FoodsoftConfig[:homepage], { :title => t('.homepage_title') }
  %li= link_to t('.help'), FoodsoftConfig[:help_url]
  %li= link_to t('.feedback.title'), new_feedback_path, :title => t('.feedback.desc')
  %li= link_to t('.logout'), logout_path
