= f.input :nick
= f.input :first_name
= f.input :last_name
= f.input :email
= f.input :phone
= f.input :password, :required => @user.new_record?
= f.input :password_confirmation
- for setting in User::setting_keys.keys
  .input.boolean
    = check_box_tag "user[setting_attributes][#{setting}]",
      '1', @user.settings[setting] == '1' || @user.settings_default(setting),
      :class => 'boolean'
    %label.boolean{:for => "user[setting_attributes][#{setting}]"}= h User::setting_keys[setting]