- if defined? with_ordergroup and with_ordergroup
  - content_for :javascript do
    :javascript
      $(function() {
        $('input#use_ordergroup').change(function(el) {
          var input = $('#user_ordergroup_contact_address, #user_ordergroup_approved');
          if (this.checked) {
            input.removeAttr('disabled');
            input.closest('.control-group').show();
          } else {
            input.attr('disabled','disabled');
            input.closest('.control-group').hide();
          }
        }).change();
      });

= f.input :nick
= f.input :first_name
= f.input :last_name
= f.input :email
= f.input :phone
= f.input :password, :required => f.object.new_record?
= f.input :password_confirmation
- if defined? with_ordergroup and with_ordergroup
  - params[:use_ordergroup].nil? and params[:use_ordergroup] = false
  - if with_ordergroup == 'optional'
    .control-group
      .controls
        %label.checkbox{:for => 'use_ordergroup'}
          = check_box_tag :use_ordergroup, 1, params[:use_ordergroup]
          = t('.ordergroup_use')
  = f.fields_for :ordergroup do |ogf|
    = ogf.input :contact_address, :wrapper => :append do
      = ogf.input_field :contact_address
    - if !FoodsoftConfig[:ordergroup_approval_for].nil? and !current_user.nil? and current_user.role_admin?
      = ogf.input :approved, :as => :boolean, :label => false, :inline_label => true
.control-group
  .controls
    - for setting in User::setting_keys.keys
      %label.checkbox{:for => "user[setting_attributes][#{setting}]"}
        = hidden_field_tag "user[setting_attributes][#{setting}]", '0'
        = check_box_tag "user[setting_attributes][#{setting}]", '1',
        f.object.settings[setting] == '1' || f.object.settings_default(setting)
        = User::setting_keys[setting]
