.well.well-small
  %h4= t '.title'
  #groupMembers.accordion
    - Workgroup.all.each do |workgroup|
      .accordion-group
        .accoridon-heading
          = link_to workgroup.name, "#collapse#{workgroup.id}", data: {toggle: 'collapse', parent: '#groupMembers'}
        %div{id: "collapse#{workgroup.id}", class: 'accordion-body collapse'}
          .accordion-inner
            %ul.unstyled
              - workgroup.users.includes(:groups).natural_order.each do |user|
                %li
                  = show_user(user)
                  %small (#{user.ordergroup.try(:name)})

