.well.well-small
  %h4= t '.title'
  #groupMembers.panel-group
    - Workgroup.all.each do |workgroup|
      .panel.panel-default 
        .panel-heading
          .panel-title
            = link_to workgroup.name, "#collapse#{workgroup.id}", data: {toggle: 'collapse', parent: '#groupMembers'}
        %div{id: "collapse#{workgroup.id}", class: 'panel-collapse collapse'}
          .panel-body
            %ul.list-unstyled
              - workgroup.users.includes(:groups).natural_order.each do |user|
                %li
                  = show_user(user)
                  %small (#{user.ordergroup.try(:name)})

