- content_for :head do
  :javascript
    $(function() {
      $('.destroy_stock_change').live('click', function() {
        $(this).prev('input').val('1').parent().hide();
        return false;
      });

      $('.remove_new_stock_change').live('click', function() {
        $(this).parent().remove();
        return false;
      })
    });

.left_column(style="width:50%")
  = simple_form_for [@supplier,@delivery], :validate => true do |f|
    .box_title
      %h2 Lieferung anlegen
    .column_content
      = f.hidden_field :supplier_id
      %b Lagerartikel des Lieferanten
      #stock_changes
        = f.fields_for :stock_changes do |stock_change_form|
          %p
            = stock_change_form.select :stock_article_id, stock_articles_for_select(@supplier)
            Menge
            = stock_change_form.text_field :quantity, :size => 5, :autocomplete => 'off'
            = stock_change_form.hidden_field :_destroy
            = link_to "Artikel aus Lieferung entfernen", "#", :class => 'destroy_stock_change'
      %p
        = link_to "Lagerartikel der Lieferung hinzufügen", {:action => 'add_stock_change', :supplier_id => @supplier.id}, :remote => true
      %hr/
      = f.input :delivered_on
      = f.input :note, :input_html => {:size => '35x4'}
      = f.submit

.right_column{:style => "width:45%;"}
  .box_title
    %h2 Neuen Lagerartikel anlegen
  .column_content
    %p
      //TODO: Fix this!!
      Suche nach Artikeln aus dem
      %i= @supplier.name
      Katalog:
      = text_field_tag 'article_name'
    %hr/
    #stock_article_form
      = render :partial => 'stock_article_form', :locals => {:stock_article => @supplier.stock_articles.build}

%p{:style => "clear:both"}
  = link_to 'Zurück', supplier_deliveries_path(@supplier)