%p
  - fields_for "delivery[stock_change_attributes][]", stock_change do |form|
    = form.hidden_field :stock_article_id
    Menge
    = form.text_field :quantity, :size => 5, :autocomplete => 'off'
    - article = stock_change.stock_article
    %b= article.name
    = "(#{number_to_currency(article.price)} / #{article.unit})"
    //= link_to_function "Löschen", "$(this).up('p').remove()"