<% title "#{@supplier.name}/deliveries" %>

<table>
  <tr>
    <th>Delivered on</th>
    <th>Invoice</th>
  </tr>

<% for delivery in @deliveries %>
  <tr>
    <td><%=h delivery.delivered_on %></td>
    <td><%=h "invoice ..." %></td>
    <td><%= link_to 'Show', [@supplier, delivery] %></td>
    <td><%= link_to 'Edit', edit_supplier_delivery_path(@supplier,delivery) %></td>
    <td><%= link_to 'Destroy', [@supplier,delivery], :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New delivery', new_supplier_delivery_path(@supplier) %>
