- title "#{@supplier.name}/deliveries"

%table.list{:style => "width:50em"}
  %thead
    %tr
      %th Geliefert am
      %th Rechnungsbetrag
      %th
      %th
      %th
  %tbody
    - for delivery in @deliveries
      %tr
        %td=h delivery.delivered_on
        %td= link_to_invoice(delivery)
        %td= link_to 'Anzeigen', [@supplier, delivery]
        %td= link_to 'Bearbeiten', edit_supplier_delivery_path(@supplier,delivery)
        %td= link_to 'Löschen', [@supplier,delivery], :confirm => 'Are you sure?', :method => :delete

%br/
= link_to "Neue Lieferung für #{@supplier.name} anlegen", new_supplier_delivery_path(@supplier)
|
= link_to "Lieferantenübersicht", suppliers_path
