<h1>New delivery</h1>

<% form_for([@supplier,@delivery]) do |f| %>
  <%= f.error_messages %>
  <%= f.hidden_field :supplier_id %>

  <p>
    <%= f.label :delivered_on %><br />
    <%= f.date_select :delivered_on %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', supplier_deliveries_path(@supplier) %>
