- title "Lieferung anzeigen"

%p
  %b Lieferant:
  =h @delivery.supplier.name
%p
  %b Delivered on:
  = @delivery.delivered_on
%p
  %b Rechnungsbetrag:
  = link_to_invoice(@delivery)

%h2 Artikel
%table.list{:style => "width:30em"}
  %tr
    %th Artikel
    %th Einheit
    %th Menge
  - for stock_change in @delivery.stock_changes.find :all, :include => :stock_article
    %tr
      %td= stock_change.stock_article.name
      %td= stock_change.stock_article.unit
      %td= stock_change.quantity

%br/
= link_to 'Edit', edit_supplier_delivery_path(@supplier,@delivery)
|
= link_to 'Back', supplier_deliveries_path(@supplier)