- title t('.title'), false

- content_for :sidebar do
  = link_to t('.new_page'), new_page_path, class: 'btn btn-primary'

.navbar.navbar-default
  %ul.nav.navbar-nav
    %li= link_to t('.title_list'), all_pages_path(:view => 'title_list')
    %li= link_to t('.site_map'), all_pages_path(:view => 'site_map')
    %li= link_to image_tag('icons/feed-icon-14x14.png', :alt => 'RSS Feed'), all_pages_rss_url
  = form_tag all_pages_path, method: :get, class: 'navbar-form pull-right' do
    = text_field_tag :name, params[:name], class: 'form-control', placeholder: t('.search.placeholder')
    = button_tag type: :submit, class: 'btn btn-default' do
      = glyph :search

= render @partial
