= t '.points', points: apple_bar.apples
.progress
  %div{class: "bar bar-#{apple_bar.group_bar_state}", style: "width: #{apple_bar.group_bar_width}%"}

%span.description
  = t '.desc', amount: number_to_currency(apple_bar.mean_order_amount_per_job, :precision=>0)
  - if FoodsoftConfig[:stop_ordering_under].present?
    %strong= t('.warning', threshold: FoodsoftConfig[:stop_ordering_under])
  = link_to t('.more_info'), FoodsoftConfig[:applepear_url], target: '_blank'
