%h2 Direkt zu ...
%ul
  %li
    Foodcoop
    %ul
      %li= link_to "Mitglieder", :controller => "foodcoop", :action => "members"
      %li= link_to "Meine Aufgaben", :controller => "home", :action => "tasks"
      %li= link_to "Nachricht schreiben", :controller => "messages", :action => "new"
  
  // Orders
  - has_ordergroup = !@current_user.ordergroup.nil?
  - has_orders_role = @current_user.role_orders?
  - if has_ordergroup || has_orders_role
    %li
      Bestellungen
      %ul
        - if has_ordergroup
          %li= link_to "Bestellübersicht", :controller => "ordering"
        - if has_orders_role
          %li= link_to "Bestellungen beenden", :controller => 'orders'
  // Articles
  - if @current_user.role_article_meta? || @current_user.role_suppliers?
    %li
      Artikelverwaltung
      %ul
        %li= link_to "Artikel aktualisieren", suppliers_path
        %li= link_to "Lagerverwaltung", :controller => 'stockit'
        %li= link_to "Lieferanten verwalten", suppliers_path
  
  // Finance
  - if @current_user.role_finance?
    %li
      Finanzbereich
      %ul
        %li= link_to "Konten aktualisieren", :controller => 'finance/transactions', :action => 'new_collection'
        %li= link_to "Bestellungen abrechnen", finance_root_path
  
  // Administration
  - if @current_user.role_admin?
    %li 
      Administration
      %ul
        %li= link_to "Neue Bestellgruppe", new_admin_ordergroup_path
        %li= link_to "Neues Mitglied", new_admin_user_path