- title t('.title'), false

- content_for(:sidebar) do
  = render :partial => 'start_nav'

- unless @unaccepted_tasks.empty? && @next_tasks.empty? && @unassigned_tasks.size == 0
  %section.row-fluid
    - unless @next_tasks.empty?
      .span3.well
        %h4 Deine Aufgaben
        %dl
          - @next_tasks.each do |task|
            %dt= l task.due_date, format: "%A, %d. %b"
            %dd= link_to task.name, task_path(task)
    - unless @unaccepted_tasks.empty?
      .span3.well
        %h4 Aufgaben 端bernehmen
        Du bis f端r Aufgaben verantwortlich.
        = link_to "Aufgaben 端bernehmen/ablehnen", user_tasks_path
    - unless @unassigned_tasks.size == 0
      .span3.well
        %h4 Offene Aufgaben
        Es gibt #{@unassigned_tasks.size}
        = link_to 'offene Aufgabe(n)', tasks_path

- if current_user.ordergroup
  = render :partial => 'shared/open_orders', :locals => {:ordergroup => current_user.ordergroup}

// Stats
- if current_user.ordergroup
  %section
    %h2 Engagement Deiner Bestellgruppe
    = render :partial => "apple_bar", :locals => {:apple_bar => AppleBar.new(current_user.ordergroup)}

- unless Message.public.empty?
  %section
    %h2 Neuste Nachrichten
    = render 'messages/messages', messages: Message.public.order('created_at DESC').limit(5), pagination: false
    %p= link_to "Alle Nachrichten einsehen", messages_path

- if current_user.ordergroup
  // Ordergroup overview
  %section
    %h2 Meine Bestellgruppe
    %p
      %b= current_user.ordergroup.name
      | Verf端gbares Guthaben:
      = number_to_currency(current_user.ordergroup.get_available_funds)
      %small (Letzte Aktualisierung ist #{distance_of_time_in_words(Time.now, current_user.ordergroup.account_updated)} her)
      %h3 Letzte Transaktionen
      %table.table.table-striped
        %tr
          %th Wann
          %th Wer
          %th Notiz
          %th Betrag
        - for ft in current_user.ordergroup.financial_transactions.limit(5).order('created_on DESC')
          %tr
            %td= format_time(ft.created_on)
            %td= h(ft.user.nil? ? '?' : ft.user.nick)
            %td= h(ft.note)
            - color = ft.amount < 0 ? 'red' : 'black'
            %td{:style => "color:#{color}; width:5em", :class => "currency"}= number_to_currency(ft.amount)
      %br/
      %p= link_to "Kontoauszug anzeigen", my_ordergroup_path