%h1 Meine Bestellgruppe
.left_column
  .box_title
    %h2= h @ordergroup.name
  .column_content
    %p
      %b Beschreibung:
      = h @ordergroup.description
    %p
      %b Verfügbares Guthaben:
      = number_to_currency(@ordergroup.get_available_funds())
    %h2 Personen
    %ul{:style => "list-style-type:decimal;"}
      - for membership in @ordergroup.memberships
        %li= membership.user.nick
    = link_to('Person einladen', new_invite_path(:id => @ordergroup), :remote => true)
.right_column
  .box_title
    %h2 Kontoauszug
  .column_content
    = form_tag my_ordergroup_url, :method => :get, :style => 'display:inline;', :id => 'transactions_search', |
      :remote => true do                                                                                      |
      = label_tag "financial_transaction_note", "Filter für Notizen:"
      = text_field_tag("query", params['query'], :size => 10 )
    #transactions
      = render :partial => "/finance/transactions/list"
#edit_box{:style => "display:none"}
- content_for :head do
  :javascript
    $(function() {
        $('#query').observe_field(1, function() {
            $('#transactions_search').submit();
        });
    })
    