-title "Meine Bestellgruppe"

.row-fluid
  .span4
    %h2= @ordergroup.name
    .well
      %p
        %b Beschreibung:
        = @ordergroup.description
      %p
        %b Verfügbares Guthaben:
        = number_to_currency(@ordergroup.get_available_funds())
      %h2 Personen
      %ul{:style => "list-style-type:decimal;"}
        - for membership in @ordergroup.memberships
          %li= membership.user.nick
      = link_to('Person einladen', new_invite_path(:id => @ordergroup), :remote => true)
  .span8
    %h2 Kontoauszug
    .well.well-small
      = form_tag my_ordergroup_path, :method => :get, :remote => true,
        'data-submit-onchange' => true, class: 'form-search' do
        = text_field_tag :query, params[:query], class: 'input-medium search-query',
          placeholder: 'Suchen ...'
    #transactions= render "finance/financial_transactions/transactions"
    