- title t('.title', group: @ordergroup.name)
%p
= t('.desc', link: link_to(t('.open_orders'), group_orders_path)).html_safe

.row
  .col-md-6
    %h2= t '.title_open'
    = render :partial => "orders", :locals => {:orders => Order.finished_not_closed, :pagination => false}

  .col-md-6
    %h2= t '.title_closed'
    #closed_orders
      = render :partial => "orders", :locals => {:orders => @closed_orders, :pagination => true}
