- content_for :javascript do
  :javascript
    $(function() {
      $('tr.ignored').hide();
    });

- title "Dein Bestellergebnis für #{@order.name}"

.well
  // Order summary
  %dl.dl-horizontal
    %dt Lieferantin
    %dd= @order.name
    %dt Notiz
    %dd= @order.note
    %dt Ende
    %dd= format_time(@order.ends)
    %dt Bestellsumme
    %dd
      - if @group_order
        = number_to_currency(@group_order.price)
      - else
        Du hast nicht bestellt.
    - if @order.closed?
      %p Abgerechnet von #{@order.updated_by.nick}
      = link_to "Kommentare lesen/schreiben", "#comments"

// Article box
%section
  %h2 Artikelübersicht
  .column_content#result
    - if @group_order
      %p.pull-right= link_to "Zeige/Verstecke nicht bestellte Artikel", '#', 'data-toggle-this' => 'tr.ignored'
      %p= link_to("Bestellung anpassen", edit_group_order_path(@group_order, order_id: @order.id), class: 'btn btn-primary') if @order.open?
      %table.table.table-hover
        %thead
          %tr
            %th{style: "width:40%"} Name
            %th Gebinde
            %th Einzelpreis
            %th
              %abbr{title: "Menge + Toleranz"} Bestellt
            %th
              %abbr{title: "Unter Berücksichtigung der derzeitigen Bestellungen aller Gruppen"}
                - if @order.open?
                  Zu
                Erhalten
            %th Gesamtpreis
        %tbody
          - for category_name, order_articles in @order.articles_grouped_by_category
            %tr.article-category
              %td
                = category_name
                %i.icon-tag
              %td{colspan: "9"}
            - order_articles.each do |oa|
              - # get the order-results for the ordergroup
              - r = get_order_results(oa, @group_order.id)
              %tr{class: cycle('even', 'odd', name: 'articles') + " " + order_article_class_name(r[:quantity], r[:tolerance], r[:result])}
                %td{style: "width:40%"}
                  = oa.article.name
                  - unless oa.article.note.blank?
                    = image_tag("lamp_grey.png", {alt: "Notiz anzeigen", size: "15x16", border: "0", onmouseover: "$('note_#{oa.id}').show();", onmouseout: "$('note_#{oa.id}').hide();"})
                %td= "#{oa.price.unit_quantity} x #{oa.article.unit}"
                %td= number_to_currency(oa.price.fc_price)
                %td
                  = r[:quantity]
                  = "+ #{r[:tolerance]}" if oa.price.unit_quantity > 1
                %td= r[:result] > 0 ? r[:result] : "0"
                %td= number_to_currency(r[:sub_total])
              - unless oa.article.note.blank?
                %tr{id: "note_#{oa.id}", class: "note even", style: "display:none"}
                  %td{colspan: "6"}=h oa.article.note
          %tr{class: cycle('even', 'odd', name: 'articles')}
            %th{colspan: "5"} Summe
            %th= number_to_currency(@group_order.price)
      %br/
      = link_to_top
    - else
      - if @order.open?
        Du hast noch nicht bestellt.
        = link_to "Das ist Deine Chance!", action: "order", id: @order
      - else
        Die Bestellung is leider schon zu Ende. Beim nächsten mal früher aufstehen...

//  Comments box
%section
  %h2 Kommentare
  #comments
    = render 'shared/comments', comments: @order.comments
  #new_comment= render 'order_comments/form', order_comment: @order.comments.build(user: current_user)
  =  link_to_top
