- content_for :javascript do
  :javascript
    $(function() {
      $('#message_recipient_tokens').tokenInput("#{users_path(:format => :json)}", {
        crossDomain: false,
        prePopulate: $('#message_recipient_tokens').data('pre'),
        hintText: '#{t '.search_user'}',
        noResultText: '#{t '.no_user_found'}',
        searchingText: '#{t '.search'}',
        theme: 'facebook'
      });

      $('#message_send_to_all').on('change', function() {
        if ($(this).is(':checked')) {
          $('#recipients').slideUp();
        } else {
          $('#recipients').slideDown();
        }
      });
      // make sure state is correct when loading
      $('#recipients').toggle(!$('#message_send_to_all').is(':checked'));
    });

- title t('.title')

= simple_form_for @message do |f|
  = f.hidden_field :reply_to

  - if @message.reply_to
    %p= t('.reply_to', link: link_to(t('.message'), message_path(@message.reply_to))).html_safe

  - if FoodsoftConfig[:mailing_list].blank?
    = f.input :send_to_all, :as => :boolean
  - else
    %b= t('.list.desc', list: mail_to(FoodsoftConfig[:mailing_list])).html_safe
    %br/
    %small{:style => "color:grey"}
      = t '.list.subscribe_msg'
      %br/
      - if FoodsoftConfig[:mailing_list_subscribe].blank?
        = t('.list.subscribe', link: link_to(t('.list.wiki'), wiki_page_path('MailingListe'))).html_safe
      - else
        = t('.list.mail', email: mail_to(FoodsoftConfig[:mailing_list_subscribe])).html_safe

  #recipients
    = f.input :recipient_tokens, :input_html => { 'data-pre' => User.where(id: @message.recipients_ids).map(&:token_attributes).to_json }
    = f.input :group_id, :as => :select, :collection => Group.undeleted.order('type DESC', 'name ASC').reject { |g| g.memberships.empty? }
  = f.input :private, inline_label: t('.hint_private')
  = f.input :subject, input_html: {class: 'input-xxlarge'}
  = f.input :body, input_html: {class: 'input-xxlarge', rows: 13}
  .form-actions
    = f.submit class: 'btn btn-primary'
    = link_to t('ui.or_cancel'), :back
