- title t('.title'), false

- content_for :sidebar do
  = link_to t('.new_page'), new_page_path, class: 'btn btn-primary'

.navbar
  .navbar-inner
    %ul.nav
      %li= link_to t('.recent_changes'), all_pages_path(:view => 'recent_changes')
      %li= link_to t('.title_list'), all_pages_path(:view => 'title_list')
      %li= link_to t('.site_map'), all_pages_path(:view => 'site_map')
    = form_tag all_pages_path, method: :get, class: 'form-search pull-right' do
      = text_field_tag :name, params[:name], class: 'input-medium search-query',
        placeholder: t('.search.placeholder')
      = submit_tag t('.search.action'), class: 'btn'

= render @partial
