= simple_form_for [:admin, @financial_transaction_type], :validate => true, :remote => true do |f|
  .modal-dialog
    .modal-content
      .modal-header
        = close_button :modal
        %h3.modal-title= @financial_transaction_type.new_record? ? t('.title_new') : t('.title_edit')
      .modal-body
        = f.input :name
        = f.association :financial_transaction_class, :include_blank => false
        = f.input :name_short
        - if BankAccount.count > 1
          = f.association :bank_account
        %small= t '.name_short_desc'
      .modal-footer
        = link_to t('ui.close'), '#', class: 'btn btn-default', data: {dismiss: 'modal'}
        = f.submit class: 'btn btn-primary'
