= simple_form_for [:admin, @financial_transaction_type] do |f|
  = f.input :name
  = f.association :financial_transaction_class, :include_blank => false
  .form-actions
    = f.button :submit
    = link_to t('ui.or_cancel'), :back
