%table.table.table-hover
  %thead
    %tr
      %th= heading_helper Article, :name
      %th= heading_helper Article, :unit
      %th= t '.prices'
      - if order.stockit?
        %th= t '.units_ordered'
      - else
        %th= 'Members'
        %th= t '.units_full'
    - total_net, total_gross, counter = 0, 0, 0
  %tbody.list
    - order.articles_grouped_by_category.each do |category_name, order_articles|
      %tr.list-heading.article-category
        %td
          = category_name
          %i.icon-tag
        %td{:colspan => "9"}
      - order_articles.each do |order_article|
        - article = order_article.price
        - net_price = article.price
        - gross_price = article.gross_price
        - units = order_article.units
        - total_net += units * article.price
        - total_gross += units * article.gross_price
        %tr{:class => cycle('even', 'odd', :name => 'articles') + ' ' + order_article_class(order_article)}
          %td.name=h order_article.article_version.name
          %td= format_group_order_unit_with_ratios(order_article.article_version)
          %td= "#{number_to_currency(net_price)} / #{number_to_currency(gross_price)}"
          - if order.stockit?
            %td= = number_with_precision(units, precision: 3, strip_insignificant_zeros: true)
          - else
            - if order_article.tolerance > 0
              %td= "#{number_with_precision(order_article.quantity, precision: 3, strip_insignificant_zeros: true)} + #{number_with_precision(order_article.tolerance, precision: 3, strip_insignificant_zeros: true)}"
            - else
              %td= "#{number_with_precision(order_article.quantity, precision: 3, strip_insignificant_zeros: true)}"
            %td{title: units_history_line(order_article, plain: true)}
              = number_with_precision(units, precision: 3, strip_insignificant_zeros: true)
              = pkg_helper article
%p
  = t '.prices_sum'
  = "#{number_to_currency(total_net)} / #{number_to_currency(total_gross)}"
%p
  = t '.article_count'
  = order.order_articles.ordered.count
