-# NOTE: if you modify tiny details here you must also change them in `receive_on_order_article_update.js.erb`
= fields_for 'order_articles', order_article, index: order_article.id do |form|
  - cssclass = "order-article #{cycle('even', 'odd', name: 'articles')}"
  - cssclass += " unavailable" if (order_article.units_billed||order_article.units_to_order)==0 and order_article.units_received.nil?
  %tr{id: "order_article_#{order_article.id}", class: cssclass, valign: "top"}
    - order_title = []
    - order_title.append Article.human_attribute_name(:manufacturer)+': ' + order_article.article_version.manufacturer unless order_article.article_version.manufacturer.to_s.empty?
    - order_title.append Article.human_attribute_name(:note)+': ' + order_article.article_version.note unless order_article.article_version.note.to_s.empty?
    %td= order_article.article_version.order_number
    %td.name{title: order_title.join("\n")}= order_article.article_version.name
    %td.unit= format_group_order_unit_with_ratios(order_article.article_version)
    %td.article_version
      = number_to_currency order_article.article_version.group_order_price
      = article_version_change_hint(order_article)
    %td #{order_article.quantity} + #{order_article.tolerance}
    %td
      = order_article.units_to_order
      = pkg_helper order_article.price
    -#%td # TODO implement invoice screen
      - unless order_article.units_billed.nil?
        = order_article.units_billed
        = pkg_helper order_article.article_version, soft_uq: true
    %td.units_received_cell
      = receive_input_field(form)
      = pkg_helper order_article.article_version, icon: false, soft_uq: true, unit: order_article.article_version.billing_unit
      / TODO add almost invisible text_field for entering single units
    %td.units_delta
    %td
      - if current_user.role_orders? || current_user.role_finance?
        = link_to t('ui.edit'), edit_order_order_article_path(order_article.order, order_article, without_units: true), remote: true, class: 'btn btn-small'
