= form.error_messages

.single_column
  .box_title
    %h2 Bestellung
  .column_content
    = form.hidden_field :supplier_id
    %p
      Lieferant:
      = @order.name
    %p
      Notiz
      %br/
      = form.text_area :note, :cols => 50,  :rows => 5
    %p
      Start
      %br/
      = form.datetime_select :starts, :start_year => Time.now.year - 1
    %p
      Ende
      %br/
      = form.datetime_select :ends, :start_year => Time.now.year - 1, :include_blank => true

  .box_title
    %h2 Artikel
  .column_content
    - if (@template_orders && !@template_orders.empty?)
      %p
        %label{:for => 'template'}=_ "Use article selection from"
        %select{:name => "template_id", :onchange => "useTemplate(this[this.selectedIndex].value)"}
          %option{:value => "-1", :selected => "selected"}=_ "Choose an order..."
          - i = -1
          - for order in @template_orders
            %option{:value => (i += 1)}= "#{h(order.name)} bis #{order.ends.strftime('%d. %b')}"
    %table.list
      %tr
        %th= check_box_tag 'checkall', "1", false, { :onclick => "checkUncheckAll(this)" }
        %th=_ "Name"
        %th=_ "Note"
        %th=_ "Origin"
        %th=_ "Manufacturer"
        %th=_ "Unit quantity"
        %th=_ "Price"
      - for category_name, articles in @order.articles_for_ordering
        %tr{:style => "background-color:#EFEFEF"}
          %td
          %td{:colspan => "6", :style => "text-align:left"}
            %b=h category_name
        - for article in articles
          / check if the article is selected
          - included = @order.order_articles.detect { |order_article| order_article.article_id == article.id }
          - included_class = included ? ' selected' : ''
          %tr{:class => cycle('even', 'odd') + ' click-me' + included_class, :id => article.id.to_s, :onclick => "checkRow('#{article.id}')"}
            %td= check_box_tag "order[article_ids][]", article.id, included, { :id => "checkbox_#{article.id}", :onclick => "checkRow('#{article.id}')" }
            %td=h article.name
            %td=h truncate article.note, :length => 25
            %td=h truncate article.origin, :length => 15
            %td=h truncate article.manufacturer, :length => 15
            %td= "#{article.unit_quantity} x #{article.unit}"
            %td= "#{number_to_currency(article.price)} / #{number_to_currency(article.fc_price)}"
      %tr
        %td{:colspan => "6"}
          = check_box_tag 'checkall', "1", false, { :onclick => "checkUncheckAll(this)" }
          =_ "Select all"

- if (@template_orders && !@template_orders.empty?)
  = render :partial => 'template_orders_script'