= pagination_links_remote @orders, :params => {:sort => params[:sort]}
%table.table.table-striped
  %thead
    %tr
      %th= sort_link_helper heading_helper(Order, :supplier), "supplier"
      %th= sort_link_helper heading_helper(Order, :pickup), "pickup"
      %th= heading_helper Order, :starts
      %th= sort_link_helper heading_helper(Order, :ends), "ends"
      %th= heading_helper Order, :status
      %th
  %tbody
    - @orders.each do |order|
      %tr
        %td= order.name
        %td= format_date(order.pickup)
        %td= format_time(order.starts)
        %td= format_time(order.ends)
        %td= t(order.state, scope: 'orders.state')
        %td
          = link_to t('ui.copy'), new_order_path(order_id: order), class: 'btn btn-small'
          = link_to t('ui.show'), order, class: 'btn btn-small'
