= pagination_links_remote @orders, :params => {:sort => params[:sort]}
%table.table.table-striped
  %thead
    %tr
      %th= sort_link_helper "Lieferantin", "supplier"
      %th Start
      %th= sort_link_helper "Ende", "ends"
      %th Status
      %th{:colspan => "2"}
  %tbody
    - @orders.each do |order|
      %tr
        %td= order.name
        %td= format_time(order.starts)
        %td= format_time(order.ends)
        %td= t(order.state, scope: 'orders.state')
        %td= link_to "Anzeigen", order, class: 'btn btn-small'