- title "Bestellungen verwalten"

- if @current_user.role_orders?
  %p
    - form_tag do
      Neue Bestellung anlegen für
      %select{:onchange => "redirectTo(this)", :style => "font-size: 0.9em;margin-left:1em;"}
        %option{:selected => 'selected'} Lieferant auswählen...
        = options_for_suppliers_to_select
%br/
.left_column{:style => "width:55em"}
  .box_title
    %h2 Laufende Bestellungen
  .column_content
    - unless @open_orders.empty?
      %table.list
        %thead
          %tr
            %th Lieferant
            %th Ende
            %th Notiz
            %th{:colspan => "2"}
        %tbody
          - for order in @open_orders
            - active = (order.open? and order.ends < Time.now) ? " active" : ""
            %tr{:class => cycle('even', 'odd', :name => 'open_orders') + active}
              %td=h order.name
              %td=h format_time(order.ends) unless order.ends.nil?
              %td=h truncate(order.note)
              %td= link_to "Beenden", finish_order_path(order), :confirm => "Willst Du wirklich die Bestellung beenden?\nEs gibt kein zurück..", :method => :post
              %td
                = link_to "Anzeigen", order
                = link_to icon(:edit), edit_order_path(order)
                = link_to icon(:delete), order, :confirm => "Bist Du sicher die Bestellung zu beenden?", :method => :delete
    - else
      Derzeit gibt es keine laufende Bestellungen.
        
.left_column{:style => "width:75em"}
  .box_title
    %h2 Beendete Bestellungen
  .column_content#orders_table
    = render :partial => 'orders'