<h1>Nearly Full Cases</h1>
<% @order.name %> - <% @order.note %> ending at <% @order.ends %>
<ul>
  <% @order.nearly_full_order_articles.each do |order_article| %>
    <li>
      <%= order_article.percent_of_full_case %>%
      <strong>How many to fill:
        <%= order_article.quantity_left_to_fill_case %>
      </strong>
      <%= order_article.article.unit %>
      |
      <%= order_article.article.name %>,
      How many in a case: <%= order_article.article.unit_quantity %>,


      Quantity: <%= order_article.quantity %>
      Tolerance: <%= order_article.tolerance %>



      <%= order_article.article.note.include?('splittable') ? '(case splittable)' :'' %>
    </li>
  <% end %>
</ul>

<%= link_to 'Back to Orders', orders_path %>