- title _("Show order")
#element_navigation
  = link_to_unless @order.previous == @order, _("Previous order"), @order.previous
  |
  = link_to _("Overview"), orders_path
  |
  = link_to_unless @order.next == @order, _("Next order"), @order.next

// Order summary
.left_column{:style => "width:65em"}
  .box_title
    %h2 Zusammenfassung
  .column_content
    - if @order.finished? and !@order.closed?
      %p
        %b{:style => "color:red"}=_ "Order isn't closed yet"
    %p
      Lieferant:
      %b=h @order.supplier.name
    - unless @order.note.empty?
      %p
        Notiz:
        =h @order.note
    %p
      Beginn:
      %b=h format_time(@order.starts)
      |
      Ende:
      %b=h format_time(@order.ends)
    %p
      Gruppenbestellungen:
      %b= @order.group_orders.count
      = "[#{@order.group_orders.find(:all, :include => :ordergroup).collect{|g| g.ordergroup.name}.join(', ')}]"
      
    %p
      Bruttosummer aller Artikel
      %b= number_to_currency(@order.sum(:gross))
      - if @order.finished?
        |
        Bestellte Artikel:
        %b= @order.order_articles.ordered.count

    - if @order.open?
      %p
        = link_to icon(:edit), edit_order_path(@order)
        = link_to icon(:delete), @order, :confirm => "Willst du wirklich die Bestellung löschen?", :method => :delete
        = link_to '[beenden]', finish_order_path(@order), :method => :post
    
    - unless @order.open?
      %p
        = update_articles_link(@order, "Artikelübersicht", :normal)
        |
        = update_articles_link(@order, "Sortiert nach Gruppen", :groups)
        = link_to_pdf(@order, 'groupsPdf')
        |
        = update_articles_link(@order, "Sortiert nach Artikeln", :articles)
        = link_to_pdf(@order, 'articlesPdf')
        |
        Matrix:
        = link_to_pdf(@order, 'matrixPdf')
        |
        Faxvorlage:
        = link_to_pdf(@order, 'faxPdf')
        = link_to image_tag("text_file.png", :size => "16x16", :border => "0", :alt => "Textdatei erstellen"), { :action => 'text_fax_template', :id => @order }, { :title => _("Download file") }
        |
        = link_to 'Kommentare', '#comments'
      
.single_column{:style => "clear:both; width:70em;"}
  .box_title
    %h2 Artikel
  .column_content#articles
    = render :partial => 'articles', :locals => { :order => @order }

.single_column{:style => "width:70em;"}
  .box_title
    %h2 Kommentare
  .column_content#comments
    = render :partial => "/shared/comments", :locals => { :comments => @order.comments }
    %p
      - form_for :comment, :url => add_comment_order_path(@order) do |form|
        %p
          %b Neuen Kommentar hinzufügen:
          %br/
          = form.text_area :comment, :cols => 50, :rows => 6
          %br/
          = submit_tag "Kommentar hinzufügen"

    = link_to_top