- if params[:preview]
  %h2 Vorschau
  #preview= render :partial => 'body'

#wiki-syntax-help
  .box_title
    %h2 Schnelle Formatierungshilfe
  .column_content
    %table(frame="void")
      %tbody
        %tr
          %td(colspan=2)
            %b Zeichenformatierung
        %tr
          %td
            %i kursiv
          %td
            %pre
              ''kursiv''<br />
        %tr
          %td
            %b fett
          %td
            %pre '''Fett'''<br />
        %tr
          %td
            Keine Wiki-<br/>Formatierung
          %td
            %pre &lt;nowiki&gt;text&lt;/nowiki&gt;
        %tr
          %td(colspan=2)
            %b Block-Formatierung
        %tr
          %td
            Überschriften
          %td
            %pre
              \== Ebene 1 ==
            %pre
              \=== Ebene 2 ===
            %pre
              \==== Ebene 3 ====
        %tr
          %td
            Listen mit Punkten
          %td
            %pre
              * Erster Punkt
            %pre
              ** Zweiter Punkt
        %tr
          %td
            Listen mit Zahlen
          %td
            %pre
              \# Ersten Punkt
            %pre
              \# Zweiter Punkt
        %tr
          %td(colspan=2)
            %b Link-Formatierung
        %tr
          %td
            Wiki-Links
          %td
            %pre
              [[Foodsoft Wiki Seite]]
        %tr
          %td
            Externe Links
          %td
            %pre
              [http://addresse.net Externe Seite]
        %tr
          %td(colspan=2)
            %b Tabellenformatierung
        %tr
          %td
            Siehe
            = link_to "Tabellen", "http://www.mediawiki.org/wiki/Help:Tables", :target => '_blank'

- simple_form_for @page do |f|
  = f.hidden_field :lock_version
  = f.input :title
  = f.input :body, :input_html => {:size => "65x30"}
  %p
    = submit_tag "Vorschau", :name => 'preview'
    |
    = submit_tag "Speichern"
    |
    = link_to "Abbrechen", @page
    | Oberseite ändern:
    = collection_select(:page, :parent_id, parent_pages_to_select(@page), :id, :permalink, {:prompt => "Neue Oberseite?", :include_blank => true})

%div(style="clear:right; height:1px")
