#wiki-syntax-help{:style => "float:right"}
  %p
    %b Schnelle Formatierungshilfe
    %br/
    :plain
      [[interner Link]]<br />
      [externer Link](http://addresse.net)<br />
      *kursiv*<br />
      **Fett**<br />
      * erster Listenpunkt<br />
      * zweiter Listenpunkt<br />
  %p
    Übersicht über alle Formatierungen:
    = link_to "Markdown Cheatsheet", "http://packetlife.net/static/cheatsheets/markdown.pdf", :target => '_blank'

- form_for @page do |f|
  = f.error_messages

  %p
    %b Title
    %br/
    = f.text_field :title
  %p
    %b Inhalt
    %br/
    = f.text_area :body, :size => "60x30"
  %p
    = f.submit "Speichern"
    |
    = link_to "Abbrechen", :back