- if params[:preview]
  %h2 Vorschau
  #preview= render :partial => 'body'

#wiki-syntax-help{:style => "float:right"}
  %p
    %b Schnelle Formatierungshilfe
    %br/
    :plain
      [[Foodsoft Wiki Seite]]<br />
      [http://addresse.net Externe Seite]<br />
      ==Erste Überschrift==<br />
      ===Unterüberschrift===<br />
      ''kursiv''<br />
      '''Fett'''<br />
      * Erster Listenpunkt<br />
      * Zweiter Listenpunkt<br />
      ** Unterpunkt<br />
    = link_to "Tabellen", "http://www.mediawiki.org/wiki/Help:Tables", :target => '_blank'

- form_for @page do |f|
  = f.error_messages
  = f.hidden_field :lock_version
  = f.hidden_field :parent_id
  %p
    %b Titel
    %br/
    = f.text_field :title
  %p
    %b Inhalt
    %br/
    = f.text_area :body, :size => "60x30"
  %p
    = f.submit "Vorschau", :name => 'preview'
    |
    = f.submit "Speichern"
    |
    = link_to "Abbrechen", :back