- if params[:preview]
  %section#wikiContent
    = render 'body'

.row-fluid
  .span8
    = simple_form_for @page do |f|
      = f.hidden_field :lock_version
      = f.input :title, input_html: {class: 'input-xxlarge'}
      = f.input :body, input_html: {class: 'input-xxlarge'}
      = f.input :parent_id, as: :select, collection: parent_pages_to_select(@page)
      .form-actions
        = button_tag :name => 'preview', class: 'btn' do
          %i.icon-search
          Vorschau
        = button_tag class: 'btn' do
          %i.icon-save
          Speichern
        = link_to "oder abbrechen", @page

  .span4
    %h3 Schnelle Formatierungshilfe
    %table.table
      %tbody
        %tr
          %td(colspan=2)
            %b Zeichenformatierung
        %tr
          %td
            %i kursiv
          %td
            %pre
              ''kursiv''<br />
        %tr
          %td
            %b fett
          %td
            %pre '''Fett'''<br />
        %tr
          %td
            Keine Wiki-<br/>Formatierung
          %td
            %pre &lt;nowiki&gt;text&lt;/nowiki&gt;
        %tr
          %td(colspan=2)
            %b Block-Formatierung
        %tr
          %td
            Überschriften
          %td
            %pre
              \== Ebene 1 ==
            %pre
              \=== Ebene 2 ===
            %pre
              \==== Ebene 3 ====
        %tr
          %td
            Listen mit Punkten
          %td
            %pre
              * Erster Punkt
            %pre
              ** Zweiter Punkt
        %tr
          %td
            Listen mit Zahlen
          %td
            %pre
              \# Ersten Punkt
            %pre
              \# Zweiter Punkt
        %tr
          %td(colspan=2)
            %b Link-Formatierung
        %tr
          %td
            Wiki-Links
          %td
            %pre
              [[Foodsoft Wiki Seite]]
        %tr
          %td
            Externe Links
          %td
            %pre
              [http://addresse.net Externe Seite]
        %tr
          %td(colspan=2)
            %b Tabellenformatierung
        %tr
          %td
            Siehe
            = link_to "Tabellen", "http://www.mediawiki.org/wiki/Help:Tables", :target => '_blank'

