- title "Alle Wikiseiten", false

- content_for :sidebar do
  = link_to "Neue Seite anlegen", new_page_path, class: 'btn btn-primary'

.navbar
  .navbar-inner
    %ul.nav
      %li= link_to 'Letzte Änderungen', all_pages_path(:view => 'recent_changes')
      %li= link_to 'Seiten-Liste', all_pages_path(:view => 'title_list')
      %li= link_to 'Site Map', all_pages_path(:view => 'site_map')
    = form_tag all_pages_path, method: :get, class: 'form-search pull-right' do
      = text_field_tag :name, params[:name], class: 'input-medium search-query',
        placeholder: 'Seitentitel ...'
      = submit_tag "Suche", class: 'btn'

= render @partial