- title "Alle Wikiseiten", false

.wiki_all
  #breadcrump
    = link_to_wikipage_by_permalink("Home", "Foodcoop-Wiki")

  %h1 Alle Wikiseiten


  #sidebar
    #sidebar-links
      = link_to "Neue Seite anlegen", new_page_path

  .left_column{:style => "width:100%"}
    .box_title
      #editOrderNav
        = link_to 'Letzte Änderungen', all_pages_path(:view => 'recent_changes')
        = link_to 'Seiten-Liste', all_pages_path(:view => 'title_list')
        = link_to 'Site Map', all_pages_path(:view => 'site_map')
    #left_column
      = render :partial => params[:view] || 'recent_changes'