- title t('.title', title: @page.title, version: @version.lock_version)

- content_for :sidebar do
  %h3= t '.title_version'
  %b= "#{format_datetime_timespec(@version.updated_at, t('.date_format'))}"
  %ul
    %li= t '.author', user: User.find(@version.updated_by).nick
    %li= link_to t('.view_current'), wiki_page_path(:permalink => @page.permalink)
    %li= link_to t('.revert'), revert_page_path(@page, :version => @version.lock_version)

= wikified_body @version.body
