%p= t('.first_paragraph', url: link_to(t('.here'), new_invite_path(id: @workgroup.id), remote: true)).html_safe
= simple_form_for [:admin, @workgroup] do |f|
  = render :layout => 'shared/group_form_fields', :locals => {:f => f} do
    %h4= t 'admin.access_to'
    = f.input :role_admin
    = f.input :role_finance
    = f.input :role_suppliers
    = f.input :role_article_meta
    = f.input :role_orders
  .form-actions
    = f.button :submit
    = link_to t('admin.or_cancel'), :back
