%p= t('.first_paragraph', url: link_to(t('.here'), new_invite_path(id: @workgroup.id), remote: true)).html_safe
= simple_form_for [:admin, @workgroup] do |f|
  - captured = capture do
    %h4= t 'admin.access_to'
    = f.input :role_admin
    = f.input :role_finance
    = f.input :role_suppliers
    = f.input :role_article_meta
    = f.input :role_orders
  = render 'shared/group_form_fields', :f => f, captured: captured
  .form-actions
    = f.button :submit
    = link_to t('ui.or_cancel'), :back
