- unless FoodsoftConfig[:disable_invite]
  %p= t('.first_paragraph', url: link_to(t('.here'), new_invite_path(id: @workgroup.id), remote: true)).html_safe
= simple_form_for [:admin, @workgroup] do |f|
  - captured = capture do
    .form-group
      .col-md-offset-2.col-md-10
        %h5= t 'admin.access_to'
        %div= f.input_field :role_suppliers, inline_label: true
        %div= f.input_field :role_article_meta, inline_label: true
        %div= f.input_field :role_orders, inline_label: true
        %div= f.input_field :role_finance, inline_label: true
        %div= f.input_field :role_invoices, inline_label: true
        %div= f.input_field :role_admin, inline_label: true
  = render 'shared/group_form_fields', :f => f, captured: captured
  = simple_form_submit(f)
