%p
  %table{:style => "width:100%"}
    %tr
      %td
        = pagination_links_remote @workgroups
      %td{:style => "text-align:right"}
        = items_per_page
%table.list
  %thead
    %tr
      %th Name
      %th Mitglieder
      %th Zugriff auf
      %th
  %tbody
    - for workgroup in @workgroups
      %tr{:class => cycle('even','odd', :name => 'groups')}
        %td= link_to workgroup.name, [:admin, workgroup]
        %td= workgroup.users.size
        %td= format_roles(workgroup)
        %td
          = link_to icon(:edit), edit_admin_workgroup_path(workgroup)
          = link_to icon(:delete), [:admin, workgroup], :confirm => 'Willst du ' + workgroup.name + ' wirklich löschen?',
            :method => :delete
