- if Workgroup.count > 20
  = items_per_page
= pagination_links_remote @workgroups
%table.table.table-striped
  %thead
    %tr
      %th= t '.name'
      %th= t '.members'
      %th= t 'admin.access_to'
      %th= t 'ui.actions'
  %tbody
    - for workgroup in @workgroups
      %tr
        %td= link_to workgroup.name, [:admin, workgroup]
        %td= workgroup.users.size
        %td= format_roles(workgroup)
        %td
          = link_to t('ui.edit'), edit_admin_workgroup_path(workgroup), class: 'btn btn-mini'
          = link_to t('ui.delete'), [:admin, workgroup], :data => {:confirm => t('ui.confirm_delete', name: workgroup.name)},
            :method => :delete, class: 'btn btn-mini btn-danger'
