- if Workgroup.count > 20
  = items_per_page
= pagination_links_remote @workgroups
%table.table.table-striped
  %thead
    %tr
      %th Name
      %th Mitglieder
      %th Zugriff auf
      %th Aktionen
  %tbody
    - for workgroup in @workgroups
      %tr
        %td= link_to workgroup.name, [:admin, workgroup]
        %td= workgroup.users.size
        %td= format_roles(workgroup)
        %td
          = link_to "Bearbeiten", edit_admin_workgroup_path(workgroup), class: 'btn btn-mini'
          = link_to "Löschen", [:admin, workgroup], :confirm => 'Willst du ' + workgroup.name + ' wirklich löschen?',
            :method => :delete, class: 'btn btn-mini btn-danger'
