- title t '.title'

- content_for :actionbar do
  = link_to t('.new_workgroup'), new_admin_workgroup_path, class: 'btn btn-primary'

- content_for :sidebar do
  %p= t('.first_paragraph', url: link_to(t('.new_workgroups'), new_admin_workgroup_path)).html_safe
  %p= t('.second_paragraph', url: link_to(t('.ordergroup'), admin_ordergroups_path)).html_safe
.well.well-small
  = form_tag admin_workgroups_path, :method => :get, :remote => true,
    'data-submit-onchange' => true, class: 'form-search' do
    = text_field_tag :query, params[:query], class: 'input-medium search-query',
      placeholder: t('admin.search_placeholder')
#workgroups
  = render "workgroups"