- title "List workgroups"

%p
  %i
    Hier kannst du
    = link_to 'neue Arbeitsgruppen', new_admin_workgroup_path
    anlegen, Gruppen bearbeiten und löschen.
    
%p
  Beachte dabei den <em>Unterschied zwischen Gruppe und Bestellgruppe</em>:
  Eine
  %em= link_to 'Bestellgruppe', '/admin/ordergroups'
  hat ein Konto und kann Essen bestellen. In einer Arbeitsgruppe (z.b. 'Soritiergruppe')
  koordinieren sich die Mitglieder mittels Aufgaben und Nachrichten.
  Nutzer_innen können immer nur einer Bestellgruppe, aber beliebig vielen anderen Gruppen angehören.
.left_column{:style => "width:100%"}
  .box_title
    %h2 Gruppenübersicht
  .column_content
    #group_filter
      = form_tag admin_workgroups_path, :method => :get, :style=>"display:inline;", :id => 'ordergroup_search',
      :remote => true, 'data-submit-onchange' => true do
        %label{:for => 'article_name'} Suche nach Name:
        = text_field_tag :query, params[:query], :size => 10
    #workgroups
      = render :partial => "workgroups"