- title "Arbeitsgruppe #{@workgroup.name}"
.left_column{:style => "width:45em"}
  .box_title
    %h2 Übersicht
  .column_content
    = render :partial => 'shared/group', :locals => { :group => @workgroup }

    %p
      = link_to 'Gruppe bearbeiten', edit_admin_workgroup_path(@workgroup)
      |
      = link_to 'Löschen', [:admin, @workgroup], :confirm => 'Bist Du sicher?', :method => :delete
      |
      = link_to 'Nachricht senden', :controller => 'messages', :action => 'group', :id => @workgroup
      |
      = link_to 'Mitglieder bearbeiten', memberships_admin_workgroup_path(@workgroup)
%p{:style => "clear:both"}= link_to "Gruppenübersicht", admin_workgroups_path