- title "Arbeitsgruppe #{@workgroup.name}"
.left_column{:style => "width:45em"}
  .box_title
    %h2 Übersicht
  .column_content
    = render :partial => 'shared/group', :locals => { :group => @workgroup }

    %p
      = link_to 'Gruppe/Mitglieder bearbeiten', edit_admin_workgroup_path(@workgroup)
      |
      = link_to 'Löschen', [:admin, @workgroup], :confirm => 'Bist Du sicher?', :method => :delete
      |
      = link_to 'Nachricht senden', new_message_path(:message => {:group_id => @workgroup.id})
%p{:style => "clear:both"}= link_to "Gruppenübersicht", admin_workgroups_path