%p
  - fields_for "stock_taking[stock_change_attributes][]", stock_change do |form|
    - article = stock_change.stock_article

    = form.hidden_field :stock_article_id
    = "Menge (#{article.quantity_available})"
    = form.text_field :quantity, :size => 5, :autocomplete => 'off'    
    %b=h truncate(article.name)
    = "(#{number_to_currency(article.price)} / #{article.unit})"
