- simple_form_for stock_article, add_stock_article_stock_takings_path, :remote => true do |f|
  = f.association :supplier
  = f.input :name
  = f.input :unit
  = f.input :note
  = f.input :price
  = f.input :tax
  = f.input :deposit
  = f.association :article_category
  = f.submit