- if StockTaking.count > 20
  = items_per_page
= pagination_links_remote @stock_takings

%table.table.table-striped
  %thead
    %tr
      %th Datum
      %th Notiz
      %th
  %tbody
    - for stock_taking in @stock_takings
      %tr
        %td= link_to format_date(stock_taking.date), stock_taking
        %td= truncate stock_taking.note
        %td
          = link_to 'Bearbeiten', edit_stock_taking_path(stock_taking), class: 'btn btn-mini'
          = link_to 'Löschen', stock_taking, :confirm => 'Are you sure?', :method => :delete,
            class: 'btn btn-mini btn-danger'