- title t('.title')

- content_for :sidebar do
  %p
    %i= t('.text_deviations', inv_link: link_to(t('.temp_inventory'), stock_articles_path)).html_safe
  %p= t('.text_need_articles', create_link: link_to(t('.create'), new_stock_article_path)).html_safe

= simple_form_for(@stock_taking) do |f|
  = f.input :date, as: :date_picker
  = f.input :note, :input_html => {:size => "28x7", :value => "#{show_user @current_user, unique: true}: ..."}
  %h2= t '.stock_articles'

  #stock_changes
    = render :partial => 'stock_change', :collection => @stock_taking.stock_changes
  .form-actions
    = f.submit class: 'btn'
    = link_to t('ui.or_cancel'), stock_takings_path
