- title "Neue Inventur anlegen"

.left_column{:style => "width:50%;"}
  = simple_form_for(@stock_taking) do |f|
    .box_title
      %h2 Inventur anlegen
    .column_content
      = f.input :date
      = f.input :note, :input_html => {:size => "28x7", :value => "#{@current_user.nick}: ..."}
      %h2 Lagerartikel
      %p
        %i
          Bitte trage hier alle gezählten Abweichungen vom
          = link_to "vorläufigen Lagerbestand", stock_articles_path
          ein. Bei Schwund benutze einfach ein Minus vor der Zahl.
      #stock_changes
        = render :partial => 'stock_change', :collection => @stock_taking.stock_changes
      = f.submit
      = link_to "oder abbrechen", stock_takings_path

.right_column{:style => "width:45%;"}
  .box_title
    %h2 Neuen Lagerartikel anlegen
  .column_content
    %p
      // FIx this!
      Suche nach Artikeln aus dem allen Katalogen:
      = text_field_tag :article_name
    %hr/
    #stock_article_form
      = render :partial => 'stock_article_form', :locals => {:stock_article => StockArticle.new}