- title "Inventur anzeigen"

%p
  Datum:
  = format_date @stock_taking.date
%p
  Notiz:
  = simple_format @stock_taking.note

%h2 Artikel
%table.list{:style => "width:30em"}
  %tr
    %th Artikel
    %th Lieferant
    %th Einheit
    %th Menge
  - for stock_change in @stock_taking.stock_changes.all :include => :stock_article
    %tr
      %td= stock_change.stock_article.name
      %td= stock_change.stock_article.supplier.name
      %td= stock_change.stock_article.unit
      %td= stock_change.quantity

%br/
= link_to "Bearbeiten", edit_stock_taking_path(@stock_taking)
|
= link_to "Inventurübersicht", stock_takings_path
|
= link_to "Löschen", @stock_taking, :method => :delete, :confirm => "Willst Du wirklich die Inventur löschen?"