- if Ordergroup.count > 20
  = items_per_page
= pagination_links_remote @ordergroups
%table.table.table-striped
  %thead
    %tr
      %th= sort_link_helper "Name", "name", :per_page => @per_page
      %th Kontakt
      %th.numeric= sort_link_helper "Kontostand", "account_balance", :per_page => @per_page
      %th
  %tbody
    - for ordergroup in @ordergroups
      %tr
        %td= ordergroup.name
        %td= ordergroup.contact
        %td.numeric= number_to_currency(ordergroup.account_balance)
        %td
          = link_to "Neue Transaktion", new_finance_ordergroup_transaction_path(ordergroup), class: 'btn btn-mini'
          = link_to "Kontoauszug", finance_ordergroup_transactions_path(ordergroup), class: 'btn btn-mini'
        