- if Ordergroup.count > 20
  = items_per_page
= pagination_links_remote @ordergroups
%table.table.table-striped
  %thead
    %tr
      %th= sort_link_helper heading_helper(Ordergroup, :name), "name", :per_page => @per_page
      %th= heading_helper Ordergroup, :contact
      %th.numeric= sort_link_helper heading_helper(Ordergroup, :account_balance), "account_balance", :per_page => @per_page
      %th
  %tbody
    - for ordergroup in @ordergroups
      %tr
        %td= ordergroup.name
        %td= ordergroup.contact
        %td.numeric= number_to_currency(ordergroup.account_balance)
        %td
          = link_to t('.new_transaction'), new_finance_ordergroup_transaction_path(ordergroup), class: 'btn btn-mini'
          = link_to t('.account_statement'), finance_ordergroup_transactions_path(ordergroup), class: 'btn btn-mini'
        
