= simple_form_for([:finance, @invoice]) do |f|
  - if @invoice.created_at
    .fold-line
      .control-group
        %label.control-label{for: 'created_at'}
          = Invoice.human_attribute_name(:created_at)
        .controls.control-text#article_fc_price
          = format_date @invoice.created_at
      .control-group
        %label.control-label{for: 'created_by'}
          = Invoice.human_attribute_name(:created_by)
        .controls.control-text#article_fc_price
          = show_user @invoice.created_by
  = f.association :supplier, collection: Supplier.order(:name), hint: false
  - if Delivery.any?
    = f.association :deliveries, collection: @deliveries_collection, input_html: {size: 10}, multiple: true, label_method: method(:format_delivery_item)
  = f.association :orders, collection: @orders_collection, multiple: true, label_method: method(:format_order_item)
  = f.input :number
  = f.input :date, as: :date_picker
  - if current_user.role_finance?
    = f.input :paid_on, as: :date_picker
  = f.input :amount, as: :string do
    .input-prepend
      %span.add-on= t 'number.currency.format.unit'
      = f.input_field :amount, class: 'input-small'
  = f.input :deposit, as: :string do
    .input-prepend
      %span.add-on= t 'number.currency.format.unit'
      = f.input_field :deposit, class: 'input-small'
  = f.input :deposit_credit, as: :string do
    .input-prepend
      %span.add-on= t 'number.currency.format.unit'
      = f.input_field :deposit_credit, class: 'input-small'
  = render 'shared/custom_form_fields', f: f, type: :invoice
  = f.input :attachment, as: :file, hint: t('.attachment_hint')
  - if f.object.attachment_data.present?
    = f.input :delete_attachment, as: :boolean
  = f.input :note
  .form-actions
    = f.submit class: 'btn'
    = link_to t('ui.or_cancel'), :back

= render :partial => 'form_js', :locals => {:invoice_id => invoice_id}
