= simple_form_for [:finance, @invoice] do |f|
  - if @invoice.created_at
    = f.input :created_at, as: :text do
      .form-control-static
        = format_date @invoice.created_at
        &nbsp;
        = Invoice.human_attribute_name(:created_by_short)
        &nbsp;
        = show_user @invoice.created_by
  = f.association :supplier, collection: Supplier.order(:name), hint: false
  - if @deliveries_collection.any?
    = f.association :deliveries, collection: @deliveries_collection, input_html: {size: 6}, multiple: true, label_method: method(:format_delivery_item)
  - if @orders_collection.any?
    = f.association :orders, collection: @orders_collection, input_html: {size: 6}, multiple: true, label_method: method(:format_order_item)
  = f.input :number
  = f.input :date, as: :date_picker
  - if current_user.role_finance?
    = f.input :paid_on, as: :date_picker
  = f.input :amount, as: :string
  = f.input :deposit, as: :string
  = f.input :deposit_credit, as: :string
  = f.input :attachment, as: :file, hint: t('.attachment_hint')
  - if f.object.attachment_data.present?
    = f.input :delete_attachment, as: :boolean
  = f.input :note
  = simple_form_submit(f)
