= simple_form_for([:finance, @invoice]) do |f|
  = f.hidden_field :delivery_id
  = f.hidden_field :order_id

  - if @invoice.delivery
    %p= t '.linked', what_link:  link_to(t('.delivery'), [@invoice.supplier,@invoice.delivery])
  - if @invoice.order
    %p= t '.linked', what_link: link_to(t('.order'), @invoice.order)

  = f.association :supplier, hint: false
  = f.input :number
  = f.input :date, as: :date_picker
  = f.input :paid_on, as: :date_picker
  = f.input :amount, as: :string
  = f.input :deposit, as: :string
  = f.input :deposit_credit, as: :string
  = f.input :note
  .form-actions
    = f.submit class: 'btn'
    = link_to t('.or_cancel'), :back
