<% title "Rechnungen" %>

<table class="list" style="width:70em">
  <thead>
    <tr>
      <th>Nummer</th>
      <th>Lieferant</th>
      <th>Datum</th>
      <th>Bezahlt am</th>
      <th>Betrag</th>
      <th>Lieferung</th>
      <th>Bestellung</th>
      <th>Note</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% for invoice in @invoices %>
    <tr>
      <td><%= link_to h(invoice.number), finance_invoice_path(invoice)%></td>
      <td><%=h invoice.supplier.name %></td>
      <td><%= format_date invoice.date %></td>
      <td><%= format_date invoice.paid_on %></td>
      <td><%= number_to_currency invoice.amount %></td>
      <td><%= link_to "Lieferung", [invoice.supplier,invoice.delivery] if invoice.delivery %></td>
      <td><%= link_to format_date(invoice.order.ends), :controller => 'balancing', :action => 'new', :id => invoice.order if invoice.order %></td>
      <td><%=h truncate(invoice.note) %></td>
      <td><%= link_to icon(:edit), edit_finance_invoice_path(invoice) %></td>
      <td><%= link_to icon(:delete), finance_invoice_path(invoice), :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br />

<%= link_to 'Neue Rechnung anlegen', new_finance_invoice_path %>
