<% title "Invoices" %>

<table class="list" style="width:70em">
  <thead>
    <tr>
      <th>Supplier</th>
      <th>Number</th>
      <th>Date</th>
      <th>Paid on</th>
      <th>Amount</th>
      <th>Delivery</th>
      <th>Note</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% for invoice in @invoices %>
    <tr>
      <td><%=h invoice.supplier.name %></td>
      <td><%=h invoice.number %></td>
      <td><%= invoice.date %></td>
      <td><%= invoice.paid_on %></td>
      <td><%= invoice.amount %></td>
      <td><%=h invoice.delivery_id %></td>
      <td><%=h truncate(invoice.note) %></td>
      <td><%= link_to 'Show', finance_invoice_path(invoice) %></td>
      <td><%= link_to 'Edit', edit_finance_invoice_path(invoice) %></td>
      <td><%= link_to 'Destroy', finance_invoice_path(invoice), :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br />

<%= link_to 'New invoice', new_finance_invoice_path %>
