- title "Rechnung #{@invoice.number}"

%p
  %b Lieferantin:
  = @invoice.supplier.name
- if @invoice.delivery
  %p
    %b Lieferung:
    Diese Rechnung ist mit einer #{link_to "Lieferung", [@invoice.supplier,@invoice.delivery]} verknüpft.
%p
  %b Rechnungsnummer:
  = @invoice.number
%p
  %b Datum:
  = @invoice.date
%p
  %b Bezahlt am:
  = @invoice.paid_on
%p
  %b Rechnungsbetrag:
  = number_to_currency @invoice.amount
%p
  %b Pfand berechnet:
  = number_to_currency @invoice.deposit
%p
  %b Pfand gutgeschrieben:
  = number_to_currency @invoice.deposit_credit
%p
  %b Notiz:
  =h @invoice.note

= link_to "Bearbeiten", edit_finance_invoice_path(@invoice)
|
= link_to "Zurück", finance_invoices_path
