<% title "Show invoice #{@invoice.number}" %>

<p>
  <b>Supplier:</b>
  <%=h @invoice.supplier.name %>
</p>

<p>
  <b>Delivery:</b>
  <%=h @invoice.delivery_id %>
</p>

<p>
  <b>Number:</b>
  <%=h @invoice.number %>
</p>

<p>
  <b>Date:</b>
  <%=h @invoice.date %>
</p>

<p>
  <b>Paid on:</b>
  <%=h @invoice.paid_on %>
</p>

<p>
  <b>Amount:</b>
  <%=h @invoice.amount %>
</p>

<p>
  <b>Note:</b>
  <%=h @invoice.note %>
</p>


<%= link_to 'Edit', edit_finance_invoice_path(@invoice) %> |
<%= link_to 'Back', finance_invoices_path %>
