- title t('.title', number: @invoice.number)

%p
  %b= t 'simple_form.labels.invoice.supplier'
  = @invoice.supplier.name
- if @invoice.delivery
  %p
    %b= t('simple_form.labels.invoice.delivery') + ':'
    = t '.linked', what_link: link_to(t('.delivery'), [@invoice.supplier,@invoice.delivery])
%p
  %b= t('simple_form.labels.invoice.number') + ':'
  = @invoice.number
%p
  %b= t('simple_form.labels.invoice.date') + ':'
  = @invoice.date
%p
  %b= t('simple_form.labels.invoice.paid_on') + ':'
  = @invoice.paid_on
%p
  %b= t('simple_form.labels.invoice.amount') + ':'
  = number_to_currency @invoice.amount
%p
  %b= t('simple_form.labels.invoice.deposit') + ':'
  = number_to_currency @invoice.deposit
%p
  %b= t('simple_form.labels.invoice.deposit_credit') + ':'
  = number_to_currency @invoice.deposit_credit
%p
  %b= t('simple_form.labels.invoice.note') + ':'
  =h @invoice.note

= link_to t('ui.edit'), edit_finance_invoice_path(@invoice)
|
= link_to t('.back'), finance_invoices_path
