%tr
  - article=group_order_article.order_article.article
  - min = group_order_article.quantity
  - max = min+group_order_article.tolerance
  - if max > min
    %td= "#{min}..#{max}"
  - else
    %td= min
  %td
    %b=  "#{group_order_article.result}"
  %td{ style: 'text-align:right' }=  "#{article.unit} @ #{number_to_currency(article.fc_price)}"
  %td=  article.name
  %td{ style: 'text-align:right' }=  number_to_currency(group_order_article.result * article.fc_price)