Hallo!
\
#{@invite.user.name} (#{@invite.user.email}) hat dich in die Gruppe "#{@invite.group.name}" eingeladen.
Um die Einladung anzunehmen und der Foodcoop beizutreten, gehe zu: #{@link}
Dieser Link kann nur einmal aufgerufen werden und ist nur bis #{I18n.l @invite.expires_at} gültig.
\
Grüße sendet die Foodsoft!
\
=======
\
Hi!
\
#{@invite.user.name} (#{@invite.user.email}) has invited you to join the group "#{@invite.group.name}".
To accept the invitation and to join the foodcoop please follow this link: #{@link}
This link works only once and expires on #{I18n.l @invite.expires_at, locale: :en}.
\
Greetings, your FoodSoft Team!
