Hallo #{@user.nick},

du (oder jemand anderes) hat auf der FoodSoft-Website ein neues Passwort angefordert.
Um ein neues Passwort einzugeben, gehe zu: #{raw @link}
Dieser Link kann nur einmal aufgerufen werden und läuft am #{I18n.l @user.reset_password_expires} ab.
Wenn du das Passwort nicht ändern möchtest oder diese Email nicht ausgelöst hast, brauchst du nichts zu tun. Dein bisheriges Passwort wurde nicht geändert.

Grüße sendet die Foodsoft! :)

\===========

Hi #{@user.nick},
you have (or someone else has) requested a new password.
In order to choose a new password follow this link: #{raw @link}
This link works only once and expires on #{I18n.l @user.reset_password_expires, locale: :en}.
If you don't want to change your password, just ignore this message. Your password hasn't been changed yet.

Greetings, your FoodSoft Team!
