- content_for :javascript do
  :javascript
    $(#{FoodsoftConfig[:use_nick] ? 'user_nick' : 'user_first_name'}).focus();

= (FoodsoftConfig[:invitation_form_message] or t('.body')).html_safe
-# empty paragraph in case when invitation_form_text does not have <p></p>
%p

- form_url = local_assigns[:form_url] || accept_invitation_path
= simple_form_for @user, url: form_url do |form|
  - unless @invite and @invite.group
    - capt = capture do
      = form.fields_for :ordergroup do |ogf|
        = ogf.input :contact_address, label: t('activerecord.attributes.ordergroup.contact_address'), required: false
  = render partial: 'shared/user_form_fields', locals: {f: form, captured: capt}
  .form-actions
    = submit_tag t('.submit'), class: 'btn'
