- title t('.title')
= t('.body').html_safe
.row
  .col-sm-4
    = simple_form_for User.new, url: reset_password_path do |form|
      = form.input :email
      .form-actions
        = form.submit t('.submit'), class: 'btn btn-default'
        = link_to t('ui.or_cancel'), :back
