- title t('.title')
= t('.body').html_safe
= simple_form_for User.new, url: {action: 'reset_password'} do |form|
  = form.input :email
  .form-actions
    = form.submit t('.submit'), class: 'btn'
    = link_to t('ui.or_cancel'), :back
