- title "Einladung in die #{Foodsoft.config[:name]}"
%p
  Du bist eingeladen worden in der Foodcoop
  %b= @invite.group.name
  mitzumachen.
%p
  Wenn Du mitmachen möchtest, dann fülle bitte dieses Formular aus.
%p
  Deine Daten werden selbstverständlich nicht an Dritte, aus was auch immer für
  Gründen, weitergeben. Du kannst auch entscheiden, wieviel deiner persönlichen
  Daten für alle einsehbar sein sollen. 'Alle' bedeutet hier alle Foodcoop-Mitglieder.
  Die Administratoren haben aber jederzeit Zugriff auf deine Daten.
.edit_form{:style => "width:25em"}
  - form_for @user, :url => {:action => 'invite'} do |form|
    - if flash[:error]
      %p= flash[:error]
    = form.error_messages
    %p
      Benutzerinnenname (für das Anmelden in der Foodsoft)
      %br/
      = form.text_field :nick, :maxlength => 25
    %p
      Vorname
      %br/
      = form.text_field :first_name, :maxlength => 50, :size => 25
    %p
      Nachname
      %br/
      = form.text_field :last_name
    %p
      Telefon
      %br/
      = form.text_field :phone
    %p
      Passwort
      %br/
      = form.password_field :password
    %p
      bitte Passwort wiederholen
      %br/
      = form.password_field :password_confirmation
    
    %h3 Einstellungen
    - for setting in User::setting_keys.keys
      %p
        = check_box_tag "user[setting_attributes][#{setting}]", '1', @user.settings[setting] == '1' || @user.settings_default(setting)
        %label{:for => "user[setting_attributes][#{setting}]"}= User::setting_keys[setting]
        
    = submit_tag "Absenden"
= javascript_tag("$('user_nick').focus()")