- title "Login"

.edit_form{:style => "width:25em"}
  - form_tag :action => 'login' do
    - if flash[:notice]
      %div.notice= flash[:notice]
    - if flash[:error]
      %div.error= flash[:error]
    %p
      %label{:for => 'user'} Benutzerin
      %br/
      = text_field 'login', 'user'
    %p
      %label{:for => 'password'} Passwort
      %br/
      = password_field 'login', 'password'
    = submit_tag "Anmelden"
    |
    = link_to "Passwort vergessen?", :action => 'forgot_password'
    %br/
    %br/
    %i{:style => 'font-size:0.8em;'} Kekse und Javascript müssen erlaubt sein!
= javascript_tag("$('login_user').focus()")