- title "Neues Passwort"
%p=h "Bitte neues Passwort für #{@user.nick} eingeben."
= simple_form_for @user, :url => {:action => 'update_password', :id => @user.id, :token => @user.reset_password_token} do |form|
  = form.input :password
  = form.input :password_confirmation
  .form-actions
    = form.submit 'Neues Passwort speichern', class: 'btn'