- title t('.title')
= raw t('.body', user: h(show_user(@user)))
= simple_form_for @user, :url => {:action => 'update_password', :id => @user.id, :token => @user.reset_password_token} do |form|
  = form.input :password
  = form.input :password_confirmation
  .form-actions
    = form.submit t('.submit'), class: 'btn'
