- title "Neues Passwort"
%p=h "Bitte neues Passwort für #{@user.nick} eingeben."
.edit_form{:style => "width:25em"}
  - form_for @user, :url => {:action => 'update_password', :id => @user.id, :token => @user.reset_password_token} do |form|
    = form.error_messages :header_message => ""
    %p
      Neues Passwort
      %br/
      = form.password_field :password
    %p
      Passwort wiederholen
      %br/
      = form.password_field :password_confirmation
    = form.submit 'Speichern'
    |
    = link_to 'Abbrechen', :action => 'login'
