- title t('.title')

%table.table.table-striped
  %thead
    %tr
      %th= heading_helper BankAccount, :name
      %th= heading_helper BankAccount, :iban
      %th= heading_helper BankAccount, :description
      %th= heading_helper BankAccount, :balance
  %tbody
    - for account in @bank_accounts
      %tr
        %td= link_to account.name, finance_bank_account_transactions_path(account)
        %td= format_iban account.iban
        %td= truncate account.description, length: 50
        %td.numeric{style: 'width:5em'}= format_currency account.balance
