= config_input form, :price_markup do
  .input-append
    = config_input_field form, :price_markup, as: :decimal, class: 'input-mini'
    %span.add-on %
= config_input form, :tax_default do
  .input-append
    = config_input_field form, :tax_default, as: :decimal, class: 'input-mini'
    %span.add-on %
= config_input form, :minimum_balance do
  .input-prepend
    %span.add-on= t 'number.currency.format.unit'
    = config_input_field form, :minimum_balance, as: :decimal, class: 'input-small'

= form.simple_fields_for :order_schedule do |fields|
  = fields.simple_fields_for 'ends' do |fields|
    .fold-line
      = config_input fields, 'recurr', as: :select_recurring, input_html: {class: 'input-xlarge'}
      = config_input fields, 'time', input_html: {class: 'input-mini'}
