%h4= t '.default_roles_title'
= t '.default_roles_paragraph'
= config_input form, :default_role_suppliers, as: :boolean
= config_input form, :default_role_article_meta, as: :boolean
= config_input form, :default_role_orders, as: :boolean
= config_input form, :default_role_pickups, as: :boolean
= config_input form, :default_role_finance, as: :boolean
= config_input form, :default_role_invoices, as: :boolean
