- title t('admin.configs.tabs.title'), false

-# disable validations, because browsers can't handle inputs hidden in another tab
= simple_form_for :config, method: :patch, html: {novalidate: true} do |f|

  = render 'tabs', url: nil

  .tab-content
    - for tab in @tabs
      .tab-pane{class: ('active' if @current_tab==tab), id: "tab-#{tab}"}= render "tab_#{tab}", form: f

  .form-actions
    = f.submit t('.submit'), class: 'btn btn-primary'

