%table.list
  %thead
    %tr
      %th{:style => "width:40%"}=_ "Name"
      %th=_ "Unit quantity"
      %th=_ "Unit price"
      %th=_ "Received"
      %th=_ "Total price"
  %tbody
    - for article in @groupOrderResult.group_order_article_results
      - price = article.order_article_result.gross_price
      - quantity = article.quantity
      %tr{:class => cycle('even', 'odd', :name => 'articles')}
        %td{:style=>"width:40%"}
          =h article.order_article_result.name
          - unless article.order_article_result.note.nil?
            = image_tag "lamp_grey.png", {:alt => "Notiz anzeigen", :size => "15x16", :border => "0", :onmouseover => "$('note_#{article.id}').show();", :onmouseout => "$('note_#{article.id}').hide();" } 
        %td
          = article.order_article_result.unit_quantity 
          x
          = article.order_article_result.unit
        %td= number_to_currency(price)
        %td= quantity
        %td= number_to_currency(quantity * price)
        
      - unless article.order_article_result.note.nil?
        %tr{:id => "note_#{article.id}", :style => "display:none"}
          %td{:colspan => "5"}
            Notiz: 
            =h article.order_article_result.note
    %tr{:class => cycle('even', 'odd', :name => 'articles')}
      %th{:colspan => "4"}=_ "Sum"
      %th= number_to_currency(@groupOrderResult.price)