- if User.count > 20
  = items_per_page
= pagination_links_remote @users
%table.table.table-striped
  %thead
    %tr
      - if FoodsoftConfig[:use_nick]
        %th= heading_helper User, :nick
      %th= heading_helper User, :name
      %th= heading_helper User, :email
      %th= t 'admin.access_to'
      %th= heading_helper User, :last_activity
      %th(colspan="2")= t 'ui.actions'
  %tbody
    - for user in @users
      %tr
        %td= link_to show_user(user), [:admin, user]
        - if FoodsoftConfig[:use_nick]
          %td= user.name
        %td= user.email
        %td= format_roles(user, true)
        %td= format_time(user.last_activity)
        %td= link_to t('ui.edit'), edit_admin_user_path(user), class: 'btn btn-mini'
        %td= link_to t('ui.delete'), [:admin, user], :data => {:confirm => t('admin.confirm', name: user.name)},
            :method => :delete, class: 'btn btn-danger btn-mini'
