%p
  %table{:style => "width:100%"}
    %tr
      %td
        = pagination_links_remote @users
      %td{:style => "text-align:right"}
        - if @users.size > 20
          = items_per_page
%table.list
  %thead
    %tr
      %th Login
      %th Name
      %th Email
      %th Zugriff auf
      %th Letzter login
      %th{:style => "width:3em"}
  %tbody
    - for user in @users 

      %tr{:class => cycle('even','odd', :name => 'users')}
        %td= link_to user.nick, [:admin, user]
        %td=h user.name
        %td=h user.email
        %td=h format_roles(user)
        %td=h format_time(user.last_login)
        %td
          = link_to icon(:edit), edit_admin_user_path(user)
          = link_to icon(:delete), [:admin, user], :confirm => "Willst du #{user.name} wirklich löschen?",
            :method => :delete
