- title "Admin/Benutzerinnen"

- content_for :sidebar do
  %p= link_to 'Neue Benutzerin anlegen', new_admin_user_path, class: 'btn btn-primary'
  %p
    Hier kannst du Benutzer_innen #{link_to 'neu Anlegen', new_admin_user_path},
    bearbeiten und natürlich auch löschen.

.well.well-small
  = form_tag admin_users_path, :method => :get, :remote => true,
    'data-submit-onchange' => true, class: 'form-search' do
    = text_field_tag :user_name, params[:user_name], class: 'input-medium search-query',
      placeholder: 'Name ...'

#users
  = render "users"