- title t '.title'

- content_for :actionbar do
  = link_to t('.new_user'), new_admin_user_path, class: 'btn btn-primary'
  = link_to url_for(search: params[:q], format: :csv), class: 'btn' do
    = glyph :download
    CSV

- content_for :sidebar do
  %p= t('.first_paragraph', url: link_to(t('.new_users'), new_admin_user_path)).html_safe

.well.well-small
  = form_tag admin_users_path, :method => :get, :remote => true,
    'data-submit-onchange' => true, class: 'form-search' do
    = text_field_tag :user_name, params[:user_name], class: 'input-medium search-query',
      placeholder: t('admin.search_placeholder')
    %label{:for => 'show_deleted'}
      = check_box_tag 'show_deleted', 1, params[:show_deleted]
      = t '.show_deleted'

#users
  = render "users"
