= simple_form_for @supplier do |f|
  - if @supplier.shared_supplier
    .alert.alert-info
      = t 'suppliers.shared_supplier_note'
  = f.hidden_field :shared_supplier_id
  = f.input :name
  = f.input :address
  = f.input :phone
  = f.input :phone2
  = f.input :fax
  = f.input :email
  = f.input :url
  = f.input :contact_person
  = f.input :customer_number
  = f.input :delivery_days
  = f.input :order_howto, as: :text, input_html: {rows: 5}
  = f.input :note, as: :text, input_html: {rows: 5}
  = f.input :min_order_quantity
  = f.input :article_info_url
  .form-actions
    = f.submit class: 'btn'
    = link_to t('ui.or_cancel'), suppliers_path
