- title "Artikeldatenbank"

.left_column{:style => "width:50%"}
  .box_title
    %h2 Lieferanten
  .column_content
    %p
      %i
        Erstelle eine
        = link_to 'neue Lieferantin', new_supplier_path
        oder
        = link_to 'importiere', shared_suppliers_suppliers_path
        aus der externen ArtikelDatenbank.
    %table.list
      %thead
        %tr
          %th Name
          %th Telefon
          %th KundenNr
          %th
          %th
      %tbody
        - for supplier in @suppliers
          %tr{:class => cycle('even','odd', :name => 'suppliers')}
            %td= link_to h(supplier.name) , supplier
            %td=h supplier.phone
            %td=h supplier.customer_number
            %td= link_to "Artikel (#{supplier.articles.count})", supplier_articles_path(supplier)
            %td= link_to "Lieferungen", supplier_deliveries_path(supplier)

.right_column{:style => "width:47%"}
  .box_title
    %h2 Letzte Lieferungen
  .column_content
    %table{:style => "width:50em"}
      %tr
        %th Datum
        %th Betrag
        %th Lieferant
      - for delivery in @deliveries
        %tr
          %td= link_to delivery.delivered_on, [delivery.supplier, delivery]
          %td= link_to_invoice(delivery)
          %td=h delivery.supplier.name