- title "LieferantInnen"

- if @current_user.role_suppliers?
  %p
    %i 
      Erstelle eine 
      = link_to 'neue Lieferantin', new_supplier_path
      oder 
      = link_to 'importiere', shared_suppliers_suppliers_path
      aus der externen ArtikelDatenbank.

.left_column{:style => "width:100%"}
  .box_title
    %h2 Übersicht
  .column_content
    %table
      %tr
        - for column in @supplier_column_names
          %th= column
        %th
      - for supplier in @suppliers
        %tr{:class => cycle('even','odd', :name => 'suppliers')}
          - for column in @supplier_columns
            %td
              - if column == 'name'
                = link_to supplier[column], supplier
              - else
                =h supplier[column]
          %td= link_to 'Artikel anzeigen', :controller => 'articles', :action => 'list', :id => supplier