- title t('.title')

- content_for :actionbar do
  = link_to t('.action_new'), new_supplier_path, class: 'btn btn-primary'
  = link_to t('.action_import'), shared_suppliers_suppliers_path, class: 'btn'
%table.table.table-striped
  %thead
    %tr
      %th= heading_helper Supplier, :name
      %th= heading_helper Supplier, :phone
      %th= heading_helper Supplier, :customer_number, short: true
      %th
      %th
      %th
  %tbody
    - for supplier in @suppliers
      %tr
        %td= link_to h(supplier.name) , supplier
        %td= supplier.phone
        %td= supplier.customer_number
        %td= link_to t('.articles', count: supplier.articles.undeleted.count), supplier_articles_path(supplier)
        %td= link_to t('.stock', count: supplier.stock_articles.undeleted.count), stock_articles_path
        %td= link_to t('.deliveries', count: supplier.deliveries.count), supplier_deliveries_path(supplier)
        %td
          = link_to t('ui.edit'), edit_supplier_path(supplier), class: 'btn btn-mini'
          = link_to t('ui.delete'), supplier_path(supplier), method: :delete,
            confirm: t('.confirm_del', name: supplier.name), class: 'btn btn-mini btn-danger'
