- title "Artikeldatenbank"

.left_column{:style => "width:50%"}
  .box_title
    %h2 Lieferanten
  .column_content
    %p
      %i
        Erstelle eine
        = link_to 'neue Lieferantin', new_supplier_path
        oder
        = link_to 'importiere', shared_suppliers_suppliers_path
        aus der externen ArtikelDatenbank.
    %table.list
      %thead
        %tr
          %th Name
          %th Telefon
          %th KundenNr
          %th 
      %tbody
        - for supplier in @suppliers
          %tr{:class => cycle('even','odd', :name => 'suppliers')}
            %td= link_to "<b>#{h(supplier.name)}</b> (#{supplier.articles.count})", supplier_articles_path(supplier)
            %td=h supplier.phone
            %td=h supplier.customer_number
            %td= link_to "Anzeigen", supplier

.right_column{:style => "width:47%"}
  .box_title
    %h2 Artikelkategorien
  .column_content#categories
    #category_form.box.edit_form{:style => "display:none;margin-bottom:1em;"}
    #category_list= render :partial => 'article_categories/list'