- title t('.title')
= t('.body').html_safe

%table.table.table-striped
  %thead
    %tr
      %th= t 'simple_form.labels.supplier.name'
      %th= t 'simple_form.labels.supplier.address'
      %th= t 'simple_form.labels.supplier.note'
      %th= t 'simple_form.labels.supplier.delivery_days'
      %th= t 'simple_form.labels.supplier.is_subscribed'
  %tbody
    - for shared_supplier in @shared_suppliers
      %tr
        %td= shared_supplier.name
        %td= shared_supplier.address
        %td= shared_supplier.note
        %td= shared_supplier.delivery_days
        %td
          - if shared_supplier.suppliers.any?
            %i.icon-ok
            = associated_supplier_names(shared_supplier)
            = link_to t('.subscribe_again'), new_supplier_path(:shared_supplier_id => shared_supplier), class: 'btn'
          - else
            = link_to t('.subscribe'), new_supplier_path(:shared_supplier_id => shared_supplier), class: 'btn'
