- title "Externe Listen"
%p
  Hier werden die Lieferantinnen der externen Datenbank angezeigt.
  %br/
  Ihr könnt externe Lieferantinnen importieren, indem ihr sie einfach abonniert. (siehe unten)
  %br/
  Damit wird eine neue Lieferantin angelegt und mit der externen Datenbank verknüpft.

%table.table.table-striped
  %thead
    %tr
      %th Lieferantin
      %th Adresse
      %th Notiz
      %th Liefertag
      %th abonniert?
  %tbody
    - for shared_supplier in @shared_suppliers
      %tr
        %td= shared_supplier.name
        %td= shared_supplier.address
        %td= shared_supplier.note
        %td= shared_supplier.delivery_days
        %td
          - if shared_supplier.suppliers.any?
            %i.icon-ok
            = associated_supplier_names(shared_supplier)
            = link_to "erneut abonnieren", new_supplier_path(:shared_supplier_id => shared_supplier), class: 'btn'
          - else
            = link_to "abonnieren", new_supplier_path(:shared_supplier_id => shared_supplier), class: 'btn'
