- title @supplier.name

.row-fluid
  .span6
    - if shared_supplier = @supplier.shared_supplier
      .alert.alert-info
        = t 'suppliers.shared_supplier_note'

    %dl.dl-horizontal
      %dt= heading_helper(Supplier, :address) + ':'
      %dd= @supplier.address
      %dt= heading_helper(Supplier, :phone) + ':'
      %dd= @supplier.phone
      %dt= heading_helper(Supplier, :phone2) + ':'
      %dd= @supplier.phone2
      %dt= heading_helper(Supplier, :fax) + ':'
      %dd= @supplier.fax
      %dt= heading_helper(Supplier, :email) + ':'
      %dd= @supplier.email
      %dt= heading_helper(Supplier, :url) + ':'
      %dd= link_to @supplier.url, @supplier.url
      %dt= heading_helper(Supplier, :contact_person) + ':'
      %dd= @supplier.contact_person
      %dt= heading_helper(Supplier, :customer_number) + ':'
      %dd= @supplier.customer_number
      %dt= heading_helper(Supplier, :delivery_days) + ':'
      %dd= @supplier.delivery_days
      %dt= heading_helper(Supplier, :order_howto) + ':'
      %dd= @supplier.order_howto
      %dt= heading_helper(Supplier, :note) + ':'
      %dd= @supplier.note
      %dt= heading_helper(Supplier, :min_order_quantity) + ':'
      %dd= @supplier.min_order_quantity

    .clearfix
    - if @current_user.role_suppliers?
      .form-actions
        = link_to t('ui.edit'), edit_supplier_path(@supplier), class: 'btn'
        = link_to t('ui.delete'), @supplier, :data => {:confirm => t('.confirm_delete')}, :method => :delete, class: 'btn btn-danger'

  .span6
    %h2= t '.last_deliveries'
    %table.table.table-horizontal
      %thead
        %tr
          %th= heading_helper Delivery, :date
          %th= heading_helper Delivery, :amount
      %tbody
        - for delivery in @deliveries
          %tr
            %td= link_to delivery.delivered_on, [@supplier, delivery]
            %td= link_to_invoice(delivery)
    .form-actions
      = link_to t('.new_delivery'), new_supplier_delivery_path(@supplier), class: 'btn'
      = link_to t('.show_deliveries'), supplier_deliveries_path(@supplier)
