- title @supplier.name

.row-fluid
  .span6
    - if shared_supplier = @supplier.shared_supplier
      .alert.alert-info
        Die Lieferantin ist mit der externen Artikledatenbank verknüpft.

    %dl.dl-horizontal
      %dt Adresse:
      %dd= @supplier.address
      %dt Telefon:
      %dd= @supplier.phone
      %dt Telefon2:
      %dd= @supplier.phone2
      %dt FAX:
      %dd= @supplier.fax
      %dt Email:
      %dd= @supplier.email
      %dt Hompage:
      %dd= @supplier.url
      %dt Kontakt-Person:
      %dd= @supplier.contact_person
      %dt Kundennummer:
      %dd= @supplier.customer_number
      %dt Liefertage:
      %dd= @supplier.delivery_days
      %dt BestellHowTo:
      %dd= @supplier.order_howto
      %dt Notiz:
      %dd= @supplier.note
      %dt Liefertage:
      %dd= @supplier.delivery_days
      %dt Mindestbestellmenge:
      %dd= @supplier.min_order_quantity

    .clearfix
    - if @current_user.role_suppliers?
      .form-actions
        = link_to 'Bearbeiten', edit_supplier_path(@supplier), class: 'btn'
        = link_to 'Löschen', @supplier, :confirm => 'Bist Du sicher?', :method => :delete, class: 'btn btn-danger'

  .span6
    %h2 Letzte Lieferungen
    %table.table.table-horizontal
      %thead
        %tr
          %th Datum
          %th Betrag
      %tbody
        - for delivery in @deliveries
          %tr
            %td= link_to delivery.delivered_on, [@supplier, delivery]
            %td= link_to_invoice(delivery)
    .form-actions
      = link_to "Neue Lieferung anlegen", new_supplier_delivery_path(@supplier), class: 'btn'
      = link_to "Zeige alle Lieferungen", supplier_deliveries_path(@supplier)