- title @supplier.name

.row-fluid
  .span6
    - if shared_supplier = @supplier.shared_supplier
      .alert.alert-info
      = t 'suppliers.shared_supplier_note'

    %dl.dl-horizontal
      %dt= t('simple_form.labels.supplier.address') + ':'
      %dd= @supplier.address
      %dt= t('simple_form.labels.supplier.phone') + ':'
      %dd= @supplier.phone
      %dt= t('simple_form.labels.supplier.phone2') + ':'
      %dd= @supplier.phone2
      %dt= t('simple_form.labels.supplier.fax') + ':'
      %dd= @supplier.fax
      %dt= t('simple_form.labels.supplier.email') + ':'
      %dd= @supplier.email
      %dt= t('simple_form.labels.supplier.url') + ':'
      %dd= link_to @supplier.url, @supplier.url
      %dt= t('simple_form.labels.supplier.contact_person') + ':'
      %dd= @supplier.contact_person
      %dt= t('simple_form.labels.supplier.customer_number') + ':'
      %dd= @supplier.customer_number
      %dt= t('simple_form.labels.supplier.delivery_days') + ':'
      %dd= @supplier.delivery_days
      %dt= t('simple_form.labels.supplier.order_howto') + ':'
      %dd= @supplier.order_howto
      %dt= t('simple_form.labels.supplier.note') + ':'
      %dd= @supplier.note
      %dt= t('simple_form.labels.supplier.min_order_quantity') + ':'
      %dd= @supplier.min_order_quantity

    .clearfix
    - if @current_user.role_suppliers?
      .form-actions
        = link_to t('ui.edit'), edit_supplier_path(@supplier), class: 'btn'
        = link_to t('ui.delete'), @supplier, :confirm => t('.confirm_delete'), :method => :delete, class: 'btn btn-danger'

  .span6
    %h2= t '.last_deliveries'
    %table.table.table-horizontal
      %thead
        %tr
          %th= t 'simple_form.labels.defaults.date'
          %th= t 'simple_form.labels.defaults.amount'
      %tbody
        - for delivery in @deliveries
          %tr
            %td= link_to delivery.delivered_on, [@supplier, delivery]
            %td= link_to_invoice(delivery)
    .form-actions
      = link_to t('.new_delivery'), new_supplier_delivery_path(@supplier), class: 'btn'
      = link_to t('.show_deliveries'), supplier_deliveries_path(@supplier)
