- if User.count > 20
  = items_per_page
= pagination_links_remote @users
%table.table.table-striped
  %thead
    %tr
      %th Benutzername
      %th Name
      %th Email
      %th Telefon
      %th Bestellgruppe
      %th Arbeitsgruppe(n)
  %tbody
    - for user in @users
      %tr
        %td= user.nick
        %td= user.name if @current_user.role_admin? || user.settings["profile.nameIsPublic"] == '1'
        %td= user.email if @current_user.role_admin? ||  user.settings["profile.emailIsPublic"] == '1'
        %td= user.phone if @current_user.role_admin? ||  user.settings["profile.phoneIsPublic"] == '1'
        %td= user.ordergroup_name
        %td= user.workgroups.collect(&:name).join(', ')
        %td= link_to_new_message(message_params: {mail_to: user.id})

