- if User.count > 20
  = items_per_page
= pagination_links_remote @users
%table.table.table-striped
  %thead
    %tr
      - if FoodsoftConfig[:use_nick]
        %th= heading_helper User, :nick
      %th= heading_helper User, :name
      %th= heading_helper User, :email
      %th= heading_helper User, :phone
      %th= heading_helper User, :ordergroup
      %th= heading_helper User, :workgroup, count: 3
  %tbody
    - for user in @users
      %tr
        - if FoodsoftConfig[:use_nick]
          %td= show_user user
        %td= user.name  if @current_user.role_admin? || user.settings.profile["name_is_public"] || !FoodsoftConfig[:use_nick]
        %td= user.email if @current_user.role_admin? || user.settings.profile["email_is_public"]
        %td= user.phone if @current_user.role_admin? || user.settings.profile["phone_is_public"]
        %td= user.ordergroup_name
        %td= user.workgroups.collect(&:name).join(', ')

