- title t('.title')

%section
  = t('.body', profile_link: link_to(t('.profile_link'), my_profile_path)).html_safe

  .navbar.navbar-default
    = form_tag foodcoop_users_path, method: :get, remote: true, 'data-submit-onchange' => true, class: 'navbar-form' do
      .form-group
        = text_field_tag :user_name, params[:user_name], class: 'form-control', placeholder: t('.ph_name')
      .form-group
        = text_field_tag :ordergroup_name, params[:ordergroup_name], class: 'form-control', placeholder: t('.ph_ordergroup')
      .form-group
        %button.btn.btn-default= glyph 'search'

  #users
    = render :partial => "users"
