- title t('.title')

%section
  = t('.body', profile_link: link_to(t('.profile_link'), my_profile_path)).html_safe

  .well
    = form_tag foodcoop_users_path, :method => :get, :remote => true,
      'data-submit-onchange' => true, class: 'form-inline' do

      = text_field_tag :user_name, params[:user_name], class: 'form-control search-query',
        placeholder: t('.ph_name')
      = text_field_tag :ordergroup_name, params[:ordergroup_name], class: 'form-control search-query',
        placeholder: t('.ph_ordergroup')
      %button.btn.btn-default
        = fa_icon :search

  #users
    = render :partial => "users"
