- title "Mitglieder"

%section
  %p
    Hier kannst Du den Mitgliedern Deiner Foodcoop eine Nachricht schreiben.
    %br/
    Damit Deine Kontaktdaten einzusehen sind, musst Du sie unter
    = link_to "Einstellungen", my_profile_path
    freigeben.

  .well
    = form_tag foodcoop_users_path, :method => :get, :remote => true,
      'data-submit-onchange' => true, class: 'form-search' do

      = text_field_tag :user_name, params[:user_name], class: 'input-medium search-query',
      placeholder: 'Name ...'
      = text_field_tag :ordergroup_name, params[:ordergroup_name], class: 'input-medium search-query',
        placeholder: 'Bestelllgruppe ...'
      %button.btn
        %i.icon-search

  #users
    = render :partial => "users"