- title t('.title')

%p= link_to t('.new'), new_article_category_path, class: 'btn btn-primary'

%table.table.table-striped
  %thead
    %tr
      %th= heading_helper ArticleCategory, :name
      %th= heading_helper ArticleCategory, :description
      %th
  %tbody
    - @article_categories.each do |article_category|
      %tr
        %td= article_category.name
        %td= article_category.description
        %td
          = link_to t('ui.edit'), edit_article_category_path(article_category), class: 'btn btn-mini'
          = link_to t('ui.delete'), article_category, :method => :delete, :data => {:confirm => t('.confirm_delete')},
            class: 'btn btn-mini btn-danger'
