= simple_form_for [@order, @order_article], remote: true do |form|
  .modal-dialog
    .modal-content
      .modal-header
        = close_button :modal
        %h3.modal-title= t '.title'
      .modal-body.article-form
        - if params[:without_units]
          = hidden_field_tag :without_units, true
        - else
          .row.w-full
            = form.input :units_to_order, hint: '', wrapper: :custom_form, label_html: {class:'col-sm-3', style:"width:160px"}, input_html: {class: 'form-control', style:"width:200px;margin-right:5px;margin-left:15px;", step: 0.001}, wrapper_html: {class:"d-flex align-items-center"}
            -#= form.input :units_billed, label: 'invoice', input_html: {class: 'input-nano'}
          = form.input :units_received, wrapper: :custom_form, label_html: {class:'col-sm-3'}, input_html: {class: 'form-control', style:"width:200px;margin-right:5px;margin-left:15px;", step: 0.001}, wrapper_html: {class:"d-flex align-items-center"},
                       label: t('activerecord.attributes.order_article.units_received_short')
          %p.help-block= t 'simple_form.hints.order_article.units_to_order'

        .foo{style: 'clear:both'}

        = simple_fields_for @order_article.article_version do |f|
          = f.input :name
          - if @order_article.article_version.is_a?(StockArticle)
            %div.alert.alert-warning= t '.stock_alert'
          - else
            = simple_fields_for :article_version, @order_article.article_version do |fprice|
              :javascript
                const articleUnitRatioTemplate$ = $($.parseHTML("#{escape_javascript(render(partial: 'shared/article_unit_ratio', locals: {article_unit_ratio: @empty_article_unit_ratio, f: fprice, article_unit_ratio_counter: -1}))}"));
                const units = #{raw(@all_units.to_json)};
                new ArticleForm(articleUnitRatioTemplate$, $('.article-form').parents('form'), units, #{FoodsoftConfig[:price_markup].to_f});
              = render partial: 'shared/js_templates/unit_conversion_popover_template'
              = render partial: 'shared/article_fields_units', locals: {f: fprice, article: @order_article.article_version}
              = render partial: 'shared/article_fields_price', locals: {f: fprice, article: @order_article.article_version}

          = form.input :update_global_price, as: :boolean
          = f.input :order_number
      .modal-footer
        = link_to t('ui.close'), '#', class: 'btn btn-default', data: {dismiss: 'modal'}
        = form.submit class: 'btn btn-primary'
