= simple_form_for [@order, @order_article], remote: true do |form|
  .modal-header
    = close_button :modal
    %h3= t '.title'
  .modal-body
    = form.association :article_version, collection: @order.supplier_articles.map(&:latest_article_version), label_method: lambda {|a| article_label_with_unit(a)}
  .modal-footer
    = link_to t('ui.close'), '#', class: 'btn', data: {dismiss: 'modal'}
    = form.submit class: 'btn btn-primary'
