%table.table.table-striped
  %thead
    %tr
      %th= t '.name'
      %th= t 'ui.actions'
  %tbody
    - for financial_transaction_class in @financial_transaction_classes
      %tr
        %td
          %strong= financial_transaction_class.name
        %td
          = link_to t('ui.edit'), edit_admin_financial_transaction_class_path(financial_transaction_class), remote: true, class: 'btn btn-default btn-xs'
          = link_to t('ui.delete'), [:admin, financial_transaction_class], :data => {:confirm => t('ui.confirm_delete', name: financial_transaction_class.name)},
            :method => :delete, remote: true, class: 'btn btn-xs btn-danger'
          = link_to t('.new_financial_transaction_type'), new_admin_financial_transaction_type_path(financial_transaction_class: financial_transaction_class), remote: true, class: 'btn btn-success btn-xs'
      - for financial_transaction_type in financial_transaction_class.financial_transaction_types
        %tr
          %td{:style => "padding-left: #{25}px"}
            = financial_transaction_type.name
          %td
            = link_to t('ui.edit'), edit_admin_financial_transaction_type_path(financial_transaction_type), remote: true, class: 'btn btn-default btn-xs'
            = link_to t('ui.delete'), [:admin, financial_transaction_type], :data => {:confirm => t('ui.confirm_delete', name: financial_transaction_type.name)},
              :method => :delete, remote: true, class: 'btn btn-xs btn-danger'
