<% title "Ordergroups" %>

<table>
  <tr>
    <th>Type</th>
    <th>Name</th>
    <th>Description</th>
    <th>Account Balance</th>
    <th>Account Updated</th>
    <th>Created On</th>
    <th>Role Admin</th>
    <th>Role Suppliers</th>
    <th>Role Article Meta</th>
    <th>Role Finance</th>
    <th>Role Orders</th>
    <th>Weekly Task</th>
    <th>Weekday</th>
    <th>Task Name</th>
    <th>Task Description</th>
    <th>Task Required Users</th>
    <th>Deleted At</th>
    <th>Contact Person</th>
    <th>Contact Phone</th>
    <th>Contact Address</th>
  </tr>
  <% for ordergroup in @ordergroups %>
    <tr>
      <td><%=h ordergroup.type %></td>
      <td><%=h ordergroup.name %></td>
      <td><%=h ordergroup.description %></td>
      <td><%=h ordergroup.account_balance %></td>
      <td><%=h ordergroup.account_updated %></td>
      <td><%=h ordergroup.created_on %></td>
      <td><%=h ordergroup.role_admin %></td>
      <td><%=h ordergroup.role_suppliers %></td>
      <td><%=h ordergroup.role_article_meta %></td>
      <td><%=h ordergroup.role_finance %></td>
      <td><%=h ordergroup.role_orders %></td>
      <td><%=h ordergroup.weekly_task %></td>
      <td><%=h ordergroup.weekday %></td>
      <td><%=h ordergroup.task_name %></td>
      <td><%=h ordergroup.task_description %></td>
      <td><%=h ordergroup.task_required_users %></td>
      <td><%=h ordergroup.deleted_at %></td>
      <td><%=h ordergroup.contact_person %></td>
      <td><%=h ordergroup.contact_phone %></td>
      <td><%=h ordergroup.contact_address %></td>
      <td><%= link_to "Edit", edit_ordergroup_path(ordergroup) %></td>
    </tr>
  <% end %>
</table>

