- title t('.title')
%table
  %tr
    %th Type
    %th Name
    %th Description
    %th Account Balance
    %th Account Updated
    %th Created On
    %th Role Admin
    %th Role Suppliers
    %th Role Article Meta
    %th Role Finance
    %th Role Invoices
    %th Role Orders
    %th Deleted At
    %th Contact Person
    %th Contact Phone
    %th Contact Address
  - for ordergroup in @ordergroups
    %tr
      %td= h ordergroup.type
      %td= h ordergroup.name
      %td= h ordergroup.description
      %td= h ordergroup.account_balance
      %td= h ordergroup.account_updated
      %td= h ordergroup.created_on
      %td= h ordergroup.role_admin
      %td= h ordergroup.role_suppliers
      %td= h ordergroup.role_article_meta
      %td= h ordergroup.role_finance
      %td= h ordergroup.role_invoices
      %td= h ordergroup.role_orders
      %td= h ordergroup.deleted_at
      %td= h ordergroup.contact_person
      %td= h ordergroup.contact_phone
      %td= h ordergroup.contact_address
      %td= link_to t('ui.edit'), edit_ordergroup_path(ordergroup)
