= error_messages_for 'article'
%p
  %b Notiz:
  = @form.text_field 'note', :size => 30
%table
  %tr
    %th Name
    %th Nr.
    %th
      %abbr{:title=>"Anzahl gelieferter Gebinde"} Menge
    %th GebGr
    %th Einheit
    %th netto
    %th MwSt.
    %th Pfand
  %tr
    %td= @form.text_field 'name', :size => 20
    %td= @form.text_field 'order_number', :size => 3
    %td= @form.text_field 'units_to_order', :size => 5
    %td= @form.text_field 'unit_quantity', :size => 3
    %td= @form.text_field 'unit', :size => 5
    %td= @form.text_field 'net_price', :size => 3
    %td= @form.text_field 'tax', :size => 3
    %td= @form.text_field 'deposit', :size => 3
= @form.hidden_field "order_id"
%br/
= submit_tag "Speichern"
| 
= link_to_function 'Abbrechen', "Element.hide('edit_box')"