%p
  %b=h @order.supplier ? @order.supplier.name : _('nonexistent')
  | Rechnungsnummer:
  = @order.invoice_number
  | Rechnungsdatum:
  = @order.invoice_date
  |
  = link_to_remote image_tag('b_edit.png', :size => "16x16", :border => 0, :alt => 'Rechnungsbetrag 채ndern'), |
        :url => {:action => "editOrderSummary", :id => @order}, |
        :before => "Element.show('loader')", |
        :success => "Element.hide('loader')" |
%table
  %tr
    %td{:colspan => "2"}
      %b Foodcoop
    %td{:colspan => "2"}
      %b Lieferant
  %tr
    %td
      %abbr{:title => "gelieferten Artikel x Nettopreis"} Nettobetrag:
    %td= number_to_currency(@order.sumPrice("clear"))
    %td 
      Rechnungsbetrag
      %small (incl. Pfand/Gutschriften)
    %td#invoice_amount= number_to_currency(@order.invoice_amount)
  %tr
    %td
      %abbr{:title => "Nettobetrag mit Pfand und MwSt."} Bruttobetrag:
    %td= number_to_currency(@order.sumPrice("gross"))
    %td 
      %span - extra Pfand
      %small (Kistenpfand etc.)
    %td#deposit= number_to_currency(@order.deposit)
  %tr
    %td
      %abbr{:title => "Bruttobetrag mit Foodcoop Aufschlag"} FC Summe:
    %td= number_to_currency(@order.sumPrice("fc"))
    %td{:style => "border-bottom: 1px solid grey"}
      + Pfandgutschriften
    %td{:style => "border-bottom: 1px solid grey"}
      #deposit_credit= number_to_currency(@order.deposit_credit)
  %tr
    %td
      %abbr{:title => "Zugeteilte Mengen x Bruttopreise (inkl. Aufschlag)"} Gruppenbetr채ge: 
    %td#groups_amount= number_to_currency(@order.sumPrice("groups"))
    %td 
      Summe 
      %small (Rechungsbetrag ohne Pfand)
    %td#clear_invoice= number_to_currency(@order.invoice_amount - @order.deposit + @order.deposit_credit)
  %tr
    %td{:colspan => "4"}
      %abbr{:title => "Gruppenbetr채ge ohne Aufschlag minus Rechnung ohne Pfand. |
        Im Idealfall sollte hier 0.00 stehen."} Differenz ohne Aufschlag: |
      %span#fcProfit= number_to_currency(@order.fcProfit(false))
  %tr
    %td{:colspan => "4"}
      %b
        %abbr{:title => "= Gruppenbetr채ge - Rechnung ohne Pfand"} Differenz mit Aufschlag
        = "(#{number_to_percentage(APP_CONFIG[:price_markup])}):"
        %span#fcProfit= number_to_currency(@order.fcProfit)
