- title t('.title')

.row-fluid
  .span6
    %h2
      = t('.unpaid_invoices')
      %small= link_to t('.show_all'), finance_invoices_path
    %table.table.table-striped
      %thead
        %tr
          %th= heading_helper Invoice, :date
          %th.numeric= heading_helper Invoice, :amount
          %th= heading_helper Invoice, :supplier
          %th
      %tbody
        - for invoice in @unpaid_invoices
          %tr
            %td= format_date(invoice.date)
            %td.numeric= number_to_currency(invoice.amount)
            %td= invoice.supplier.name
            %td= link_to t('ui.edit'), edit_finance_invoice_path(invoice), class: 'btn btn-mini'

    %h2
      = t('.last_transactions')
      %small= link_to(t('.show_all'), finance_transactions_path)
    %table.table.table-striped
      %thead
        %tr
          %th= heading_helper FinancialTransaction, :created_on
          %th= heading_helper FinancialTransaction, :ordergroup
          %th= heading_helper FinancialTransaction, :note
          %th.numeric= heading_helper FinancialTransaction, :amount
      %tbody
        - @financial_transactions.each do |ft|
          %tr
            %td= format_date(ft.created_on)
            %td= ft.ordergroup.name
            %td= ft.note
            %td.numeric{:style => "color:#{ft.amount < 0 ? 'red' : 'black'}"}= number_to_currency(ft.amount)
  .span6
    %h2
      = t('.open_transactions')
      %small= link_to t('.show_all'), finance_order_index_path
    - unless @orders.empty?
      %table.table.table-striped
        %thead
          %tr
            %th= heading_helper Order, :name
            %th= t '.end'
            %th.numeric= t('.amount_fc')
            %th 
        %tbody
          - @orders.each do |order|
            %tr
              %td= order.name
              %td= format_date(order.ends)
              %td.numeric= number_to_currency(order.sum(:fc))
              %td= link_to t('finance.balancing.orders.clear'), new_finance_order_path(order_id: order.id), class: 'btn btn-mini'
    - else
      = t('.everything_cleared')
