!!! 5
%html(lang='#{I18n.locale}')
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title= [t('layouts.foodsoft'), yield(:title)].join(" - ")
    = csrf_meta_tags
    = stylesheet_link_tag *Foodsoft::AssetRegistry.stylesheets, media: "all"
    //%link(href="images/favicon.ico" rel="shortcut icon")
    = yield(:head)
    = foodcoop_css_tag


  %body
    = yield

    /
      Javascripts
      \==================================================
    / Placed at the end of the document so the pages load faster
    = javascript_importmap_tags
    = javascript_include_tag *Foodsoft::AssetRegistry.javascripts

    :javascript
      I18n.defaultLocale = "#{I18n.default_locale}";
      I18n.locale = "#{I18n.locale}";
      I18n.fallbacks = true;
    = yield(:javascript)
    = raw FoodsoftConfig[:webstats_tracking_code]
