= render layout: 'layouts/header' do
  %ul.nav.nav-pills.pull-left
    %li= link_to t('.dashboard'), root_path(anchor: '')
    %li.dropdown
      %a.dropdown-toggle(data-toggle="dropdown" href="#")
        = current_user.name
        %b.caret
      %ul.dropdown-menu
        %li= link_to t('.profile'), my_profile_path
        -#%li= link_to t('.ordergroup'), my_ordergroup_path
  %ul.nav.nav-pills.pull-right
    %li= link_to 'Admin', orders_path if @current_user.role_admin? or @current_user.role_finance? or @current_user.role_article_meta? or @current_user.role_suppliers? or @current_user.role_orders?
    %li= link_to t('.logout'), logout_path
  .logo
    = FoodsoftConfig[:name]
  .clearfix

  -# XXX only show dashboard on non-admin items
  - unless ['home', 'group_orders', 'invites'].include?(controller.controller_name)
    .navbar
      .navbar-inner
        .container
          %a.btn.btn-navbar(data-target=".nav-collapse" data-toggle="collapse")
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          .nav-collapse.collapse
            = render_navigation expand_all: true, renderer: :bootstrap

  .container-fluid
    .row-fluid
      - if content_for?(:sidebar)
        .span3
          = yield(:sidebar)
        .span9
          = bootstrap_flash
          - if content_for?(:actionbar)
            .btn-toolbar.pull-right= yield(:actionbar)
          - if show_title?
            .page-header
              %h1= yield(:title)
          = yield
      - else
        = bootstrap_flash
        - if content_for?(:actionbar)
          .btn-toolbar.pull-right= yield(:actionbar)
        - if show_title?
          .page-header
            %h1= yield(:title)
        = yield

    %footer
      %p= t '.footer'
  #modalContainer.modal.hide.fade(tabindex="-1" role="dialog")
