= render layout: 'layouts/header' do
  %ul.nav.nav-pills.pull-left
    %li= link_to t('.dashboard'), root_path(anchor: '')
    %li.dropdown
      %a.dropdown-toggle(data-toggle="dropdown" href="#")
        = current_user.name
        %b.caret
      %ul.dropdown-menu
        %li= link_to t('.profile'), my_profile_path
        -#%li= link_to t('.ordergroup'), my_ordergroup_path
  %ul.nav.nav-pills.pull-right
    %li= link_to t('.logout'), logout_path
  .logo
    -#= t('layouts.logo').html_safe
    = FoodsoftConfig[:name]
  .clearfix

  .container-fluid
    .row-fluid
      - if content_for?(:sidebar)
        .span3
          = yield(:sidebar)
        .span9
          = bootstrap_flash
          - if content_for?(:actionbar)
            .btn-toolbar.pull-right= yield(:actionbar)
          - if show_title?
            .page-header
              %h1= yield(:title)
          = yield
      - else
        = bootstrap_flash
        - if content_for?(:actionbar)
          .btn-toolbar.pull-right= yield(:actionbar)
        - if show_title?
          .page-header
            %h1= yield(:title)
        = yield

    %footer
      %p= t '.footer'
  #modalContainer.modal.hide.fade(tabindex="-1" role="dialog")
