!!!
%html
  %head
    %meta{"http-equiv" => "content-type", :content => "text/html;charset=UTF-8"}
    %title= "FoodSoft - " + (yield(:title) or controller.controller_name)
    = stylesheet_link_tag 'foodsoft'
    = stylesheet_link_tag "print", :media => "print"
    <!--[if lte IE 7]>
    = stylesheet_link_tag 'ie_hacks'
    <![endif]-->
    = javascript_include_tag 'prototype'
    = javascript_include_tag 'effects'
    = javascript_include_tag 'controls'
    = javascript_include_tag 'application'
    = javascript_include_tag('ordering') if (controller.controller_name == "ordering")
  %body
    #logininfo= render :partial => 'shared/loginInfo'
    
    #header
      #logo
        %a{:href => "/"}
          <span>food</span>soft
        %span{:style => "color:white; font-size:45%; letter-spacing: -1px;"}= Foodsoft.config[:name]
      #nav= render :partial => 'layouts/main_tabnav'

    #main
      #content
        - if flash[:notice]
          %h3.notice#flashNotice= flash[:notice]
        - if flash[:error]
          %h3.error#flashError= flash[:error]
        #loader{:style => "display:none;"}= image_tag("loader.gif", :border => 0)
        - if show_title?
          %h1= yield(:title)
        = yield
    #ajax_box(style="display:none")

    - if flash[:notice]
      = javascript_tag("new Effect.Highlight('flashNotice', {delay:0.8, duration:1});")
    - if flash[:error]
      = javascript_tag("new Effect.Highlight('flashError', {delay:0.8, duration:1});")