= render layout: 'layouts/header' do
  .row-fluid

  .navbar.navbar-fixed-top
    .navbar-inner
      .container-fluid
        %a.btn.btn-navbar(data-target=".nav-collapse" data-toggle="collapse")
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
          = link_to 'Foodsoft', root_path(anchor: ''), class: 'brand'
        .container.nav-collapse
          = render_navigation expand_all: true, renderer: :bootstrap

  .container-fluid
    .row-fluid
      - if content_for?(:sidebar)
        .span3
          = yield(:sidebar)
        .span9
          = bootstrap_flash
          - if show_title?
            .page-header
              %h1= yield(:title)
          = yield
      - else
        = bootstrap_flash
        - if show_title?
          .page-header
            %h1= yield(:title)
        = yield

    %footer
      %p
        Foodsoft, open source software to manage a non-profit food coop.
  #modalContainer
