= render layout: 'layouts/header' do
  .container
    .row
      .col-md-offset-3.col-md-6
        = bootstrap_flash_patched
        - if show_title?
          .page-header
            %h1= yield(:title)
        = yield

        = render 'layouts/footer'
