!!!
%html
  %head
    %meta{"http-equiv" => "content-type", :content => "text/html;charset=UTF-8"}
    %title= "FoodSoft - " + (yield(:title) or controller.controller_name)
    = stylesheet_link_tag 'foodsoft'
    = javascript_include_tag 'prototype'    
  %body
    #login
      - if yield(:title)
        %h1= yield(:title)
      = yield
      #meta
        Foodcoop 
        = link_to_if FoodSoft::getFoodcoopUrl, FoodSoft::getFoodcoopName, FoodSoft::getFoodcoopUrl
