!!!
%html
  %head
    %meta{"http-equiv" => "content-type", :content => "text/html;charset=UTF-8"}
    %title= "FoodSoft - " + (yield(:title) or controller.controller_name)
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    = yield(:head)
  %body
    #login
      - if yield(:title)
        %h1= yield(:title)
      - flash.each do |name, msg|
        = content_tag :div, msg, :class => "flash #{name}"
      = yield
      #meta
        Foodcoop 
        = link_to_if FoodsoftConfig[:homepage], FoodsoftConfig[:name], FoodsoftConfig[:homepage]
