= render layout: 'layouts/header' do
  .container
    .row
      .col-md-6.col-md-offset-3
        = bootstrap_flash
        - if show_title?
          .page-header
            %h1= yield(:title)
        = yield

        = render 'layouts/footer'
